.cta,
button {
    appearance: none;
    background: transparent;
    border: 0;
    box-shadow: none;
    display: flex;
    gap: var(--grid-unit);
    text-decoration: none;
    padding: var(--grid-unit) calc(2 * var(--grid-unit));
    > svg {
        width: calc(2 * var(--grid-unit));
        color: var(--color-neon);
    }
}
.cta-group {
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    gap: calc( 4 * var(--grid-unit) );
    margin-block-start: calc(2 * var(--grid-unit));
    .intro & {
        margin-block-start: var(--outer-margin);
    }
}
.cta-inline {
    font-size: inherit;
    background-color: var(--color-black);
    color: var(--color-white);
    transform: translateY(-8px);
    font-weight: 550;
    > svg {
        width: calc(3 * var(--grid-unit));
    }
}

.cta-icon {
    border: 2px solid var(--accent);
    &:hover {
        background-color: var(--accent);
    }
}