.menu-toggle {
    background: var(--accent);
    color: var(--color-white);
    height: calc(9 * var(--grid-unit));
    width: calc(9 * var(--grid-unit));
    aspect-ratio: 1;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 11;
    padding: 0;
    justify-content: center;
    align-items: center;
    svg {
        width: calc(3 * var(--grid-unit));
        color: inherit;
    }
    @media (min-width: 1024px) {
        display: none;
    }
}
.navbar {
    --nav-bg: var(--color-white);
    --outer-margin: calc(2 * var(--grid-unit));
    --top: var(--grid-unit);
    background-color: var(--nav-bg);
    display: flex;
    align-items: baseline;
    justify-content: center;
    position: sticky;
    top: var(--top);
    padding: var(--outer-margin);
    margin-inline: calc( -2 * var(--grid-unit));
    height: calc(8 * var(--grid-unit));
    z-index: 10;
    @media ( min-width: 1024px) {
        --outer-margin: calc(4 * var(--grid-unit));
        --top: calc( 2 * var(--grid-unit));
        margin-inline: calc( -6 * var(--grid-unit));
        justify-content: space-between;
        height: unset;
    }
}
.site-links {
    display: flex;
    flex-direction: column;
    gap: calc(3 * var(--grid-unit));
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100vw - ( 2 * var(--grid-unit)));
    background: var(--nav-bg);
    padding: var(--outer-margin);
    font-size: var(--type-xl);
    font-weight: 700;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3 ease-in-out;
    .cta {
        border: 2px solid var(--color-primary-500);
        font-size: var(--type-base);
    }
    @media (min-width: 960px) {
        flex-direction: row;
        align-items: center;
        font-weight: 550;
        font-size: var(--type-sm);
        opacity: 1;
        visibility: visible;
        position: static;
        width: auto;
        padding: unset;
        .cta {
            font-size: var(--type-sm);
        }
    }
}
[data-menu='open'] {
    .navbar {
        --nav-bg: var(--accent);
        color: var(--color-white);
    }
    .site-links {
        opacity: 1;
        visibility: visible;
        .cta {
            border-color: var(--color-hilite);
            > svg {
                color: var(--color-hilite);
            }
        }
    }
}

.profiles {
    --gap: var(--grid-unit);
    display: flex;
    gap: var(--gap);
    svg {
        height: 24px;
    }
    a:hover {
        color: var(--color-neon);
    }
    @media (min-width: 1024px) {
        --gap: calc(2 * var(--grid-unit));
    }
}