[data-style^="vhs"] {
    --marker: var(--color-neon);
    border: 2px solid rgba(255, 255, 255, 0.90);
    background: var(--bg, #F6F3ED);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .byhand {
        font-family: var(--font-script);
        font-size: var(--type-2xl);
        color: var(--marker);
        line-height: 1;
        margin-block: unset !important
    }
    h2 {
        font-weight: 800;
        line-height: normal;
        letter-spacing: -0.01em;
        margin: 0;
    }
    .badges {
        display: flex;
        gap: 16px;
        align-items: center;
        font-size: 21px;
        font-weight: 500;
        margin-inline:calc( var(--grid-unit) * 2);
        text-transform: uppercase;
        svg {
            height: 22px;
        }
    }
    .price {
        font-weight: 900;
        line-height: normal;
        display: block;
    }
    hr {
        border: 0;
        background: var(--bars-block);
        height: 140px;
        margin:16px 0;
        z-index: -1;
    }
    &.brand {
        --marker: var(--color-cyan-700);
    }
    &.search {
        --marker: var(--color-primary-600);
    }
}

[data-style="vhs"] {
    box-shadow: 0px 0px 55px -4px rgba(21, 6, 54, 0.40), 0px 0px 9px 0px rgba(21, 6, 54, 0.20), 0px 0px 16px 0px rgba(21, 6, 54, 0.30);
    max-width: 100%;
    min-width: 400px;
        width: 460px;
    aspect-ratio: 46 / 75;
    z-index: 1;
    padding-block: 24px 16px;
    overflow: hidden;
    scale: 0.75;
    .byhand {
        font-size: var(--type-super);
    }
    .action {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        > a {
            font-weight: 700;
            font-size: var(--type-base);
        }
    }
    h2 {
        color: var(--color-black);
        font-size: 52px;
    }
    header {
        padding-inline: calc(var(--grid-unit) * 2 );
        padding-block-end: calc(var(--grid-unit) * 5 );
    }
    @media (min-width: 1024px) {

        padding-block-start: 56px;
        header {
            padding-block-end: calc(var(--grid-unit) * 8 );
        }
    }
        > div {
        font-size: 16px;
        padding-inline:calc( var(--grid-unit) * 2);
        position: static !important;
        max-width: 400px;
        flex: 1 auto;
        h3 {
            font-style: italic;
            font-size: inherit;
            text-transform: uppercase;
            margin-block:0 var(--grid-unit);
        }
        p {
            line-height: 1.25;
        }
        p strong{
            font-feature-settings: 'ss03' on, 'ss06' on, 'ss01' on;
            margin-block:0;
            text-transform: uppercase;
            font-weight: 700;
        }
        p + p,
        .price {
            margin-block-start: calc(2 * var(--grid-unit));
        }
    }
    &.search {
        --marker: var(--color-primary-600);
        hr {
            position: absolute;
            width: 160%;
            transform: rotate(45deg);
            height: 230px;
            top: 70%;
            left: -70%;
        }
        .badges {
            justify-content: flex-end;
        }
    }
    &.brand {
        hr {
            background: var(--bars-inline);
            position: absolute;
            height: 100%;
            width: calc(7* var(--grid-unit));
            right: 0;
            top: 0;
            margin: 0;
        }
    }
    .price {
        font-size: 48px;
    }
}

[data-style="vhs-spine"] {
    text-decoration: none;
    aspect-ratio: 16 / 117;
    background-color: #000;
    border-color: #000;
    color: var(--theme-bg);
    border-radius: var(--grid-unit);
    align-items: center;
    justify-content: space-between;
    gap: var(--grid-unit);
    padding-block: calc(2 * var(--grid-unit));
    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2 {
        font-size: var(--type-md);
        margin-inline-end: calc(3 * var(--grid-unit));
    }
    h2,
    .byhand {
        writing-mode: vertical-rl;
        text-orientation: mixed;
    }
    .byhand {
        transform: translateX(-8px);
    }
    .label {
        background-color: var(--theme-bg);
        border-radius: 4px;
        color: var(--color-black);
        font-size: var(--type-sm);
        display: flex;
        flex-direction: column;
        gap: calc( 2 * var(--grid-unit));
        padding-block: calc(2 * var(--grid-unit));
        border-inline: #000;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        position: relative;
        height: 100%;
    }
    .badges {
        display: flex;
        flex-direction: column;
        gap: 0;
        font-size: var(--type-sm);
    }
    .price {
        font-size: var(--type-sm);
        position: absolute;
        bottom: var(--grid-unit);
    }
    hr {
        height: 48px;
        z-index: 0;
        width: 100%;
    }
    &:hover {
        box-shadow: 0px 0px 55px -4px rgba(21, 6, 54, 0.40), 0px 0px 9px 0px rgba(21, 6, 54, 0.20), 0px 0px 16px 0px rgba(21, 6, 54, 0.30);
        scale: 1.05;
    }
    @media ( width >= 1024px ) {
        min-height: 800px;
    }

}

.mini-vhs {
    display: flex;
    gap: var(--grid-unit);
    justify-content: center;
    min-height: 75dvh;
    max-height: 780px;
    @media ( width >= 1024px) {
        max-height: 99dvh;
        min-height: 800px;
    }
}
