blockquote {
    --block-pad: calc(1 * var(--grid-unit));
    --inline-pad: 0;
    font-size: var(--type-md);
    font-style: italic;
    font-weight: 500;
    padding: var(--block-pad) var(--inline-pad);
    > p {
        line-height: 1.2;
    }
    @media (width >= 1024px) {
        --inline-pad: calc(10 * var(--grid-unit));
        --block-pad: calc(7 * var(--grid-unit));
    }
}
cite {
    font-size: var(--type-md);
    font-style: normal;
    font-weight: 700;
}
cite + p {
    font-size: var(--type-base);
}
.electric-quote {
    > svg {
        display: none;
    }
    @media (width >= 1024px) {

        position: relative;
        aspect-ratio: 331 / 130;
        width: 100%;
        max-width: 900px;
        z-index: 0;
        > svg {
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            color: var(--color-hilite);
            top: 0;
            left: 0;
        }
        footer {
            margin-inline-start: 28.5%;
            font-weight: 700;
            line-height: 1.2;
        }
    }
}

.plain-quote {
    background-color: var(--color-hilite);
    position: relative;
    --block-pad: calc(1 * var(--grid-unit));
    --inline-pad: 0;
    &.constrain {
        margin-block: var(--v-xl);
    }
    footer {
        padding-inline: var(--inline-pad);
        padding-block-end: var(--block-pad);
        p {
            margin-block:0 ;
        }
    }
    &:after {
        content: "";
        border: 8px solid var(--color-blue);
        width: 100%;
        height: 100%;
        position: absolute;
        top: -12px;
        left: 12px;
    }
    @media (width >= 1024px) {
        --inline-pad: calc(10 * var(--grid-unit));
        --block-pad: calc(7 * var(--grid-unit));
    }

}