.callout {
    display: flex;
    flex-direction: column;
    gap: calc(5 * var(--grid-unit));
    background-color: var(--theme-bg);
    border: 3px solid var(--color-blue);
    box-shadow: 0px 0px 55px -4px hsla(198, 100%, 68%, 0.4), 0px 0px 9px 0px hsla(198, 100%, 68%, 0.2), 0px 0px 16px 0px hsla(198, 100%, 68%, 0.3);
    padding: calc(3 * var(--grid-unit));
    font-size: var(--type-sm);
    margin-bottom: var(--v-2xl);
    img {
        aspect-ratio: 1;
        height: auto;
        width: 100%;
    }
    @media ( width >= 1024px) {
        flex-direction: row;
        align-items: center;
        img {
            height: auto;
            width: 250px;
        }
        h2 {
            font-size: var(--type-md);
        }
    }
}

.mini-inquiry {
	background-color: var(--color-black);
    background-image: linear-gradient(158deg, rgba(43, 132, 144, 0.20) 39.26%, rgba(79, 187, 227, 0.00) 81.5%);
    color: var(--color-white);
	border-radius: 24px;
	padding: calc(var(--grid-unit) * 5) calc(var(--grid-unit) * 4);
	margin-block: calc(var(--grid-unit) * 5);
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--grid-unit));
	h2 {
		font-weight: 700;
		margin-block-start: 0;
		font-size: var(--type-lg) !important;
	}
	@media ( width >= 1024px ) {
		flex-direction: row;
		align-items: flex-end;
        justify-content: space-between;
		gap: calc(var(--grid-unit) * 6);
		article {
			flex: 1 60%
		}
		.button {
			flex: 0 1 200px;
		}
	}
}