figure {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    img, video, iframe {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    &.video-embed {
        animation: pulse 3s ease-out infinite;
        position: relative;
        box-shadow: var(--elevation);
    }
}
[data-ar='16:9'] {
    aspect-ratio: 16/9;
}
[data-ar='4:3'] {
    aspect-ratio: 4/3;
}

.cal-embed {
    width: 90vw !important;
    margin-inline: 5vw !important;
}