<a href="{%- if uri %}{{ uri | url }}{%- else -%}{{ "contact" | url }}{% endif -%}" class="cta-icon">
    {%- include "svg/message.svg" %} <span>{%- if label %}{{ label }}{%- else -%}Talk to us{%- endif -%}</span>
</a>