<div class="rfi-form">
    <form name="contact" method="POST" netlify-honeypot="bot-field"  data-netlify="true" id="bravery-contact">
        <p class="honey"> <label>Don’t fill this out if you're human: <input name="bot-field" /></label> </p>
        <p> <label> <span>Name*</span> <input name="name" class="name" required> </label> </p>
        <p> <label> <span>Work Title</span> <input name="title" class="title"> </label> </p>
        <p> <label> <span>Email*</span> <input type="email" name="email" class="email" required> </label> </p>
        <p> <label> <span>Institution*</span> <input name="institution" class="institution" required> </label> </p>
        <p> <label> <span>Institution Website URL</span> <input type="url" name="url" class="institution-url"
                value="https://"> </label> </p>
        <p> <label> <span>Tell us about your project.*</span> <textarea name="message" class="email" rows="6" cols="33"
                required></textarea> </label> </p>
        <p class="checkbox"><label> <input type="checkbox" name="newsletter" /> <span>Get Bravery's weekly Higher Ed Hot Takes</span> </label></p>
        <p> <button type="submit" class="button bright">Send</button> </p>
    </form>
</div>