<a href="{{ cs.url | url}}" title="Read the {{ cs.title }} case study" data-ar="2:3">
    <img
        src="{% src cs.data.cover.image %}"
        srcset="{% srcset cs.data.cover.image %}"
        alt="{{ cs.data.cover.alt }}"
        width="451"
        height="676"
        loading="lazy"
        decoding="async"
    />
</a>