<div class="entry-meta">
    <h2><a href="{{ featured.url | url }}" class="featured-article">{{ featured.data.title }}</a></h2>
    <p>{{ featured.data.excerpt }}</p>
    <div class="cta-group">
        <a href="{{ featured.url | url }}">{{ featured.data.card_cta }} ↘</a>
    </div>
</div>