<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="preload" href="https://bravery.b-cdn.net/AT-NameSansVariable-Italic-subset.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://bravery.b-cdn.net/Monday-Vacation-Script-Italic-subset.woff2" as="font" type="font/woff2" crossorigin>
    <title>{{ title or metadata.title }}{% if page.url != '/' %} / {{ metadata.sitename }} {% endif %}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="canonical" href="{{ canonical or page.url | htmlBaseUrl("https://bravery.co") }}"/>
    <link rel="alternate" type="application/atom+xml" title="Bravery Media Insights" href="{{ metadata.feed.url }}"/>
    <link rel="alternate" type="application/atom+xml" title="Appendix B Podcast" href="{{ metadata.podcast.appb.feed }}"/>
    <link rel="preconnect" href="https://script.hotjar.com">
    <link rel="preconnect" href="https://vars.hotjar.com">
    {# Favicons #}
    <link rel="icon" href="/assets/icons/favicon.ico" sizes="any"> <!-- REVISED (Nov 8)! -->
    <link rel="icon" href="/assets/icons/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png"/>
    <link rel="manifest" href="/site.webmanifest" />
    {% include "components/opengraph.njk" %}
    {% if site.environment === 'production' %}
        <!-- INLINE CSS -->
    {% else %}
        <link rel="stylesheet" href="/assets/styles/bravery.css">
    {% endif %}
</head>