<section class="subscribe-callout" data-theme="heht">
    <h2></h2>
    <div>
        <p>Every agency has a newsletter, but we think ours is different. It's rooted in research, full of personality, and fun to read. Stretch your knowledge a bit and think about higher ed marketing a bit differently</p>
        {% include "components/newsletter-form.njk" %}
    </div>
</section>