<article class="episode mini" data-audio="{{ ep.data.mp3 }}">
    <a href="{{ ep.url | url }}" title="Read the full transcript">
        <figure class="cover-art">
            <img src="{% src ep.data.cover.image %}"
            srcset="{% srcset ep.data.cover.image %}" alt="{{ep.data.cover.alt}}" width="315" height="315" loading="lazy" decoding="async" />
        </figure>
    </a>
    <section class="episode--detail">
        <div class="meta">Episode {{ ep.data.episode }} ({{ ep.data.duration | toMinutes }}) &mdash; <time datetime="{{ ep.data.date | machineDate}}">{{ ep.data.date | readableDate }}</time></div>
        <h2 class="episode--title"><a href="{{ ep.url | url }}" title="Read the full transcript">{{ ep.data.title | typography | safe }}</a></h2>
        <div class="episode--summary">
            {{ ep.data.summary | md | safe }}
        </div>
        {% set mp3Link -%}https://chrt.fm/track/{{metadata.cdn}}{{slug}}/{{ ep.data.mp3 }}{%- endset %}
    </section>
    <audio controls src="{{ mp3Link }}" crossorigin preload="none"></audio>
</article>