<div class="heht-form">
    <p>One part newsletter, and two parts us just needing to say the quiet part out loud every seven days. Subscribe to get us in your inbox.</p>
    {% include "components/newsletter-form.njk" %}
</div>