<form name="newsletter" method="POST" data-netlify="true" class="heht-subscribe">
    <label for="email" class="sr">Email Address</label>
    <input type="email" name="email" placeholder="Your best email" required />
    <button type="submit" class="button primary">{% include "svg/fire-letter.svg"%}<span class="sr">Subscribe</span></button>
</form>