<figure class="headshot-joel" data-ar="1:1">
    <img
        srcset="{% srcset 'JoelGoodman_ustwcj.jpg' %}"
        data-src="{% src 'JoelGoodman_ustwcj.jpg' %}"
    alt="Joel Goodman, Principal" loading="lazy" width="500" height="500"> </figure>
<figure class="headshot-kristin" data-ar="1:1"> <img
    srcset="{% srcset 'kristin_rfbtxb.jpg' %}"
    data-src="{% src kristin_rfbtxb.jpg %}"
    alt="Kristin Van Dorn, UX Researcher" loading="lazy" width="500" height="500"> </figure>