<aside class="people--grid">
    <figure class="headshot-joel">
        <img
            srcset="{% srcset 'JoelGoodman_ustwcj.jpg', 'cover_tall_new' %}"
            data-src="https://res.cloudinary.com/bravery/image/upload/cover_tall_new/JoelGoodman_ustwcj.jpg"
        alt="Joel Goodman, Principal" loading="lazy" width="488" height="752"> </figure>
    <figure class="headshot-kristin"> <img
        srcset="{% srcset 'kristin_rfbtxb.jpg', 'cover_tall_new' %}"
        data-src="https://res.cloudinary.com/bravery/image/upload/cover_tall_new/kristin_rfbtxb.jpg"
        alt="Kristin Van Dorn, UX Researcher" loading="lazy" width="488" height="752"> </figure>
</aside>