<section class="episode mini">
      <figure class="cover-art">
        <img src="{% src cover.image %}"
                srcset="{% srcset cover.image %}" alt="{{cover.alt}}" width="500" height="500" decoding="async" />
      </figure>
      {% set mp3Link -%}{{metadata.cdn}}{{ ep.data.mp3 }}{%- endset %}
        <audio src="{{ mp3Link }}" crossorigin preload="none"></audio>
</section>