<section class="power-packs">
    <header>{% include "svg/powerpack.svg" %}
        <h3>Power Up with <span class="brand">Bravery</span></h3>
    </header>
    <div>
        <p>You don't need more content, you need <em>better</em> content. Bravery's design, development, and content production expertise maximizes conversion rates, increases revenue, and makes your institution more memorable.</p>
        <ul>
            <li>{% include "svg/lightning.svg" %} Research + Strategy</li>
            <li>{% include "svg/lightning.svg" %} Website Design + Development</li>
            <li>{% include "svg/lightning.svg" %} Content Direction + Production</li>
        </ul>
        <a href="{{ '/contact/' | url}}" class="button bright">{% include 'svg/message.svg' %} Choose Bravery</a>
    </div>
</section>