<section class="services-list">
    <header><h2>Our Services</h2></header>
    <div><h3><a href="{{ '/services/website-strategy/' | url }}">Research + Strategy ↘︎</a></h3>
    <p>The best place to start is with sound strategy. Bravery offers research and strategy services for brand, audience, content, UX, and more.</p></div>
    <div><h3><a href="{{ '/services/web-optimization-cro/' | url }}">Web Optimization + SEO ↘︎</a></h3>
    <p>Fast sites lead to record enrollment. Let Bravery give your institution's site a performance tune-up.</p></div>
    <div><h3><a href="{{ '/services/web-design/' | url }}">Design + Development ↘︎</a></h3>
    <p>Beautiful, fast, and accessible. Bravery's human-first design and dev services start providing ROI the day we launch.</p></div>
    <div><h3><a href="{{ '/services/content-strategy/' | url }}">Content Direction + Production ↘︎</a></h3>
    <p>From content strategy to content design, Bravery produces website content that converts. Content really is that important.</p></div>
    <div><h3><a href="{{ '/services/training/' | url }}">Training + Professional Development ↘︎</a></h3>
    <p>Get your college or university MarComm and Admissions teams up to speed with customized training from Bravery.</p></div>
    <div><h3><a href="{{ '/services/web-aor/' | url }}">Web Agency of Record ↘︎</a></h3>
    <p>The ultimate performance value in higher ed. Empower your marketing team to do their best by leaving the technical work to Bravery.</p></div>
</section>