<div class="turbo">
    <header>
        <h2 class="title">Benchmark</h2>
        <p><em>Website performance insights by Bravery Media</em></p>
    </header>
    <div class="decoration">
        <div class="badges">
            {% include "svg/vhs.svg" %}
            <span>HiFi</span>
            <span>Stereo</span>
        </div>
        <hr class="rainbow" />
    </div>
    <article>
        <h3>Ideal for:</h3>
        <p>BOARD PRESENTATIONS, BUDGET PLANNING, RESOURCE ALLOTMENT, WEBSITE STRATEGY</p>
        <span class="price">$1,500</span>
    </article>
    <footer>
        <div class="time"><span>7</span>Day Results</div>
        {% if page.url == '/services/' or page.url == '/' %}
            <a href="{{ '/benchmark/' | url }}" class="button bright">Learn More</a>
        {% else %}
            <a href="{{ metadata.turbolink }}" class="button bright">Request Now</a>
        {% endif %}
    </footer>
</div>