<a href="{{ '/benchmark/#webperf' | url }}" class="webperf" data-style="vhs-spine">
    <header>
        <h2 class="title">Benchmark</h2>
    </header>
    <div class="label">
        <p class="byhand">Web Performance</p>
        <span class="price">$1,500</span>
    </div>
    <hr class="rainbow" />
    <footer class="decoration">
        <div class="badges">
            <span>T-120</span>
            {% include "svg/vhs.svg" %}
        </div>
    </footer>
</a>
<a href="{{ '/benchmark/#seo' | url }}" class="search" data-style="vhs-spine">
    <header>
        <h2 class="title">Benchmark</h2>
    </header>
    <div class="label">
        <p class="byhand">SEO Performance</p>
        <span class="price">$6,500</span>
    </div>
    <hr class="rainbow" />
    <footer class="decoration">
        <div class="badges">
            <span>T-120</span>
            {% include "svg/vhs.svg" %}
        </div>
    </footer>
</a>

<a href="{{ '/benchmark/#brand' | url }}" class="brand" data-style="vhs-spine">
    <header>
        <h2 class="title">Benchmark</h2>
    </header>
    <div class="label">
        <p class="byhand">Brand Vibe Check</p>
        <span class="price">$7,500</span>
    </div>
    <hr class="rainbow" />
    <footer class="decoration">
        <div class="badges">
            <span>T-120</span>
            {% include "svg/vhs.svg" %}
        </div>
    </footer>
</a>