---
layout: layouts/base.njk
section: jobs
title: Let's do something great.
description: Bravery is growing and we need your help.
permalink: /jobs/
---
<header class="cover">
    <div class="panel--grid">
    <h1>Jobs at Bravery</h1>
    </div>
</header>
<section class="panel jobs">
    <article class="article-content">
        <div class="entry">
            <h2>Marketing Director (Part-time)</h2>
            <p class="small"><strong>Posted March 31, 2022</strong>
            <p>Bravery Media is a human-first digital strategy and design agency in the higher education space. The company has been in business for ten years. To keep things nimble and responsive to market and client needs, staffing has been contractor-based since the company’s founding. But things are changing.</p>
            <p>Bravery is experiencing rapid growth in 2022 and is looking for a part-time Marketing Director to lead the agency’s marketing efforts to promote and continue that growth. Our ideal candidate is a confident, opinionated, and collaborative professional who is ready to take ownership of a brand and grow its notoriety and reputation. Simply, we need bravery.</p>
            <h3 id="role-overview-and-objectives">Role Overview and Objectives</h3>
            <ul>
            <li>Work with the CEO to set Bravery’s overall marketing strategy for the year</li>
            <li>Identify opportunities for organic growth to elevate the brand</li>
            <li>Develop methods for engagement</li>
            <li>Direct content strategy and collaborate with the CEO to refine messaging</li>
            <li>Identify opportunities for social media usage and engagement</li>
            <li>Monitor competitor marketing efforts and perform gap analysis</li>
            <li>Identify publications and podcasts for the CEO and subcontractors to be published in and featured on, and make it happen!</li>
            <li>Identify opportunities to authentically connect with the higher education community</li>
            <li>Identify and develop partnership opportunities with individuals and brands across higher ed</li>
            <li>Scrap any of these ideas in favor of better ones.</li>
            </ul>
            <h3 id="qualifications">Qualifications</h3>
            <ul>
            <li>Past marketing experience, higher education experience a plus</li>
            <li>Great editorial and writing chops (short- and long-form)</li>
            <li>Experience working on a small team or in a startup environment — or the ability to adapt</li>
            <li>Self-starter who takes initiative, speaks their mind, and owns their role</li>
            <li>A desire to challenge the status quo and make a real difference.</li>
            </ul>
            <h3 id="compensation-benefits">Compensation + Benefits</h3>
            <ul>
            <li>$50,000-$60,000 depending on experience</li>
            <li>25-30 hours per week</li>
            <li>Incentives and bonuses as business grows</li>
            <li>Flexible schedule, remote work</li>
            <li>Professional development opportunities</li>
            <li>Personalized paid leave plan</li>
            <li>A voice in defining future benefits</li>
            </ul>
            <p>Bravery is a company built on respect for all humans. We encourage you to apply if you think you’ll be a great fit for the role.</p>
        </div>
        <aside class="apply-action">
            <h2>Interested?</h2>
            <p>Send an email to <a href="mailto:joel@bravery.co?subject=I'm interested in the Marketing Director role">joel@bravery.co</a> with a brief work history (or résumé), link to your portfolio, and some words on why you're interested. Then, we'll follow up to schedule an interview.</p>
        </aside>
    </article>
</section>