---
layout: layouts/newsletter.njk
title: Higher Ed Hot Takes Newsletter
heading:
description: "Candid conversations about higher ed in 10 minutes or less."
section: newsletter
permalink: /newsletter/
---
<header class="cover newsletter">
  <h1 class="mega">Higher Ed Hot Takes</h1>
  {% include "components/newsletter-subscribe.njk" %}
</header>
<section class="heht-testimonials">
  <header>
    {% include "svg/fire-comment.svg" %}
    <h2>What People Are Saying</h2>
  </header>
  <blockquote>
    <p>“Who is looking for the #HigherEd cliff notes? Subscribe to Higher Ed Hot Takes from Bravery Media and look forward to
    an issue in your inbox each week.”</p>
    <cite>Dr. Josie Alquist, Consultant</cite>
  </blockquote>
  <blockquote>
    <p>“Fantastic insight!”</p>
    <cite>Chris Lastovicka, Cornell University</cite>
  </blockquote>
  <blockquote>
    <p>“Things seem to be changing really fast in higher ed right now, and I don’t always have the time to research the issues
    or upcoming trends, and this newsletter helps me feel better prepared for what’s coming next.”</p>
    <cite>Sarah Cummings, University of Delaware</cite>
  </blockquote>
</section>
<section id="archives" class="heht-archives">
  <header>
    {% include "svg/fire-letter.svg" %}
    <h2>What People Are Saying</h2>
  </header>
  <section class="heht-grid">
    {% set issueList = collections.newsletter %}
    {% for issue in issueList | reverse %}
      {% include "components/card-issue.njk" %}
    {% endfor %}
  </section>
</section>