---
permalink: podcast/podcast.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:wfw="http://wellformedweb.org/CommentAPI/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
    xmlns:georss="http://www.georss.org/georss"
    xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
>
    <channel>
        <title>Appendix B/title>
        <atom:link href="{{ metadata.podcast.feed}}" rel="self" type="application/rss+xml" />
        <link>{{ metadata.podcast.id }}</link>
        <description>{{ metadata.podcast.description }}</description>
        <lastBuildDate>{{ collections.episodes | getNewestCollectionItemDate | podPublishDate }}</lastBuildDate>
        <language>en-US</language>
        <copyright>© {{ collections.episodes | getNewestCollectionItemDate | copyright }} {{ metadata.copyright }}</copyright>
        <itunes:subtitle>{{ metadata.podcast.subtitle }}</itunes:subtitle>
		<itunes:author>{{ metadata.podcast.author }}</itunes:author>
        <itunes:type>episodic</itunes:type>
        <itunes:summary><![CDATA[{{ metadata.podcast.description }}]]></itunes:summary>
		<itunes:owner>
			<itunes:name>{{ metadata.podcast.owner }}</itunes:name>
			<itunes:email>{{ metadata.author.email }}</itunes:email>
		</itunes:owner>
        <itunes:explicit>{{ metadata.podcast.explicit }}</itunes:explicit>
        <itunes:image href="{{ metadata.cdn }}/tr:w-1600,h-1600,f-jpg/{{ metadata.epcover }}"></itunes:image>
        <image>
            <url>{{ metadata.podcast.cover.large }}</url>
            <title>{{ metadata.podcast.title }}</title>
            <link>{{metadata.podcast.id}}</link>
        </image>
        <itunes:category text="Business">
            <itunes:category text="Marketing"></itunes:category>
        </itunes:category>
        <itunes:category text="Education"></itunes:category>
        <itunes:category text="Technology"></itunes:category>
        <sy:updatePeriod>weekly</sy:updatePeriod>
        <sy:updateFrequency>1</sy:updateFrequency>
        <generator>Eleventy</generator>
        <image>
            <url>{{ metadata.podcast.cover.small }}</url>
            <title>{{ metadata.podcast.title }}</title>
            <link>{{ metadata.podcast.id }}</link>
            <width>32</width>
            <height>32</height>
        </image>
        {% set ep = collections.episodes %}
        {%- for ep in episodes | reverse %}
            {% set permalink -%}{{ ep.url | absoluteUrl }}{%- endset %}
            {% set audioURL -%}{{ ep.data.mp3 | chartableURL }}{%- endset %}
            {% set content %}{{ ep.data.summary | markdown | safe}}{% endset %}
            {% set comma = joiner(",") %}
            <item>
                <title>{{ ep.data.title }}</title>
                <link>{{ permalink }}</link>
                <pubDate>{{ ep.date | podPublishDate }}</pubDate>
                <dc:creator>{{ metadata.podcast.author }}</dc:creator>
                <guid isPermaLink="false">{{ ep.data.mp3 }}</guid>
                <description><![CDATA[{{ ep.data.description }}]]></description>
                <itunes:subtitle><![CDATA[{{ ep.data.description }}]]></itunes:subtitle>
                <content:encoded><![CDATA[{{ content }}]]></content:encoded>
                <enclosure url="{{ audioURL }}" length="{{ ep.data.duration }}" type="audio/mpeg"></enclosure>
                <itunes:keywords>{% for tag in ep.data.tags -%} {{ comma() }} {{ tag }} {%- endfor %}</itunes:keywords>
                <itunes:explicit>{{ ep.data.explicit }}</itunes:explicit>
				<itunes:block>no</itunes:block>
                <itunes:duration>{{ ep.data.duration }}</itunes:duration>
				<itunes:author>{{ metadata.podcast.author }}</itunes:author>
            </item>
        {%- endfor %}
    </channel>
</rss>