---
layout: layouts/base.njk
title: Benchmark Website Performance from Bravery Media.
heading:
description: Benchmark from Bravery Media is the fastest way to upgrade your college or university website's SEO, CRO, accessibility, and performance. Recommendations in 7 days or less.
section: speedyu
permalink: /benchmark/
og:
  image: https://bravery.co/assets/img/benchmark-social.jpg
  title: Benchmark Website Performance from Bravery
  description: Higher ed web optimization opportunities delivered fast.
---
<main>
  <article class="details">
    <h1>A slow website can cut your conversion rate in half.</h1>
    <p>Benchmark Website Performance from Bravery is a fast, affordable way to learn what’s making your website slow and how to fix it. Need to make your case to the board for more web budget? Stuck trying to explain to your developers what you mean by optimization? Or maybe you’re thinking about a website redesign?</p>
    <p>Your Benchmark report uncovers the nitty gritty details of your website’s performance and accessibility, and turns them into a prioritized plan of action in seven business days or less.</p>
    <p><strong>Benchmark Website Performance Reports</strong> cost $1,500 per audit. In return, you get a value-packed report detailing opportunities to speed up your website, improve your conversion rates, and make your site more accessible.</p>
    <a href="{{ metadata.turbolink }}" class="button bright">Request your audit</a>
  </article>
  <section class="constrain">
  {% include "components/turbo.njk" %}
  </section>
</main>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Product",
  "name": "Benchmark Web Performance Report",
  "offers": {
    "@type": "Offer",
    "availability": "https://schema.org/InStock",
    "price": "1500.00",
    "priceCurrency": "USD"
  }
}
</script>