---
layout: layouts/base.njk
title: SpeedyU Turbo from Bravery.
heading: SpeedyU Turbo
description: Uncover web optimization opportunities, fast.
section: speedyu
permalink: /speedyu-turbo/
social:
  tw:
    title: SpeedyU Turbo from Bravery.
    description: Higher ed web optimization opportunities delivered fast.
    image: https://bravery.co/assets/img/turbo-social.jpg
  fb:
    title: SpeedyU Turbo from Bravery.
    description: Higher ed web optimization opportunities delivered fast.
    image: https://bravery.co/assets/img/turbo-social.jpg
---
<main>
  <article class="details">
    <h1>A slow website can cut your conversion rate in half.</h1>
    <p>SpeedyU Turbo is a fast, affordable way to learn what’s making your website slow and how to fix it. Need to make your case to the board for more web budget? Stuck trying to explain to your developers what you mean by optimization? Or maybe you’re thinking about a website redesign?</p>
    <p>Your SpeedyU Turbo report uncovers the nitty gritty details of your website’s performance and accessibility, and turns them into a prioritized plan of action in seven business days or less.</p>
    <p><strong>SpeedyU Turbo</strong> costs $1,500 per website. In return, you get a value-packed report detailing opportunities to speed up your website, improve your conversion rates, and make your site more accessible.</p>
    <a href="{{ metadata.turbolink }}" class="button bright">Get Started</a>
  </article>
  {% include "components/turbo.njk" %}
</main>