---
layout: layouts/base.njk
title: Research + Strategy for Higher Education
description: Deep dive research and recommendations for your college or university website, brand, and marketing.
section: services
permalink: /services/website-strategy/
wistias:
  - y5o31k57aj
  - gorpgpg6x3
og:
  image: https://bravery.co/assets/img/og-research.jpg
  title: Research + Strategy from Bravery
---
<header class="constrain">
  <h1>Research + Strategy from <span class="brand">Bravery</span></h1>
  <p>Strategy without research is like a night without stars. Fortunately, Bravery can help you shine a light on your audiences' needs and turn those discoveries in to actionable roadmaps. Looking for a moonshot? We'll de-risk your journey there and back again.</p>
</header>
<section id="cir">
  <header class="layout">
      <div>
          <h2>Custom Insights Reports</h2>
          <p>Sometimes you need targeted insights to bolster the strategy you already have in place. Bravery can help. We start with a needs assessment to make sure we’re only delivering information that is actionable and valuable to your institution. From there, we develop research questions and select the best methods to answer them.</p>
      </div>
      <div class="wistia_responsive_padding" style="aspect-ratio:4/3;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_gorpgpg6x3 seo=true videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/gorpgpg6x3/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
  </header>
  <article class="wide">
    <h2>Bravery's research capabilities</h2>
    <div class="layout layout-split">
      <div>
        <h3>User Experience</h3>
        <ul>
          <li>Facilitated Usability Studies</li>
          <li>Heuristic Evaluations</li>
          <li>Terminology Reviews</li>
          <li>Accessibility Audits</li>
          <li>SEO Audits </li>
          <li>Content Strategy Audits</li>
        </ul>
      </div>
      <div>
        <h3>Brand Experience</h3>
        <ul>
          <li>Audience Research</li>
          <li>Service Blueprints</li>
          <li>Homepage Brand Review</li>
          <li>Competitor Audits</li>
          <li>Brand Positioning</li>
          <li>Regional Industry Data</li>
        </ul>
      </div>
      <div>
        <h3>Service Design</h3>
        <ul>
          <li>Service Blueprints</li>
          <li>User Journey Mapping</li>
          <li>Jobs to be Done Studies</li>
          <li>Inclusive Design Studies</li>
        </ul>
      </div>
      <div>
        <h3>Operational Design</h3>
        <ul>
          <li>Governance Planning</li>
          <li>Staff Needs Modeling</li>
          <li>Marketing Tech Stack Audit</li>
          <li>Ethical Web Management Audit </li>
          <li>Budget Modeling</li>
        </ul>
      </div>
    </div>
    <div class="constrain">
      <h3>Pricing that's tailored for you</h3>
      <p>Some of these are more time-intensive than others. Our pricing is tailored to precisely what you need. Have strict budget allowances? Let’s discuss what will give you the biggest return on that investment.</p>
      <div class="cta-group">
        <a href="{{ '/contact' | url }}">Ready to talk? ↘</a>
      </div>
    </div>
  </article>

</section>
<section id="wsg">
<article class="service-description layout sticky">
  <header>
    <h2>Website Strategy Guides from <span class="brand">Bravery</span></h2>
    <p>This is our signature offering that tells you precisely how to improve your college or university's website. Website Strategy Guide recommendations are the absolute best value in higher education web marketing.</p>
    <h3>Enrollment-growing web strategy</h3>
    <p>Whether you're getting ready to write an RFP for a redesign or you're building institutional buy-in for a big web project, Bravery's <strong>Website Strategy Guide</strong> will tell you all about the site you have and the most effective ways to improve it. We thoroughly audit your institutional website, analyze our findings in concert with internal research and industry sources, and produce a strategy report you can act on for immediate results. Our partners have seen conversion rate increases of over 400% and applications double for focus programs. The guide includes:</p>
    <ul>
      <li>Accessibility Report,</li>
      <li>Content Strategy Report,</li>
      <li>SEO Report,</li>
      <li>Technical Performance Report,</li>
      <li>Information Architecture Recommendations,</li>
      <li>User Experience Recommendations,</li>
      <li>Governance Guidelines, and</li>
      <li>Prioritized Plan of Action</li>
    </ul>
    <p><strong>Price starts at $30,000</strong></p>
  </header>
  <section>
    <div class="wistia_responsive_padding" style="aspect-ratio:4/3;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_y5o31k57aj seo=true videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/y5o31k57aj/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
  </section>
</article>
</section>
<div class="plain-quote constrain">
  <blockquote class="synthwave">
    <p>The data and insights Bravery gave us helped my team refine our digital strategy. After implementing their recommendations, we saw conversion rates increase by over 400%.</p>
  </blockquote>
  <footer>
    <cite>Alex Staton</cite>
    <p>Director of Marketing</p>
  </footer>
</div>
{% include "components/service-grid.njk" %}