---
layout: layouts/base.njk
title: Site Speed and CRO for Higher Ed
description: Deep dive reaserch and recommendations for your college or university website, brand, and marketing.
section: services
permalink: /services/web-optimization-cro/
wistias:
  - yi4dr8iyh3
og:
  image: https://bravery.co/assets/img/bravery-website-strategy-share.jpg
  alt: "Text reads: Website Strategy Guide"
  title: Research + Strategy from Bravery
  description: Your institution's web strategy handbook
---
<header class="constrain">
  <h1>Site Speed, SEO, and CRO from <span class="brand">Bravery</span></h1>
  <p>A fast website is the single most effective strategy for increasing enrollment, converting donors, and ranking higher in search engine results. Yet, a lot of institutions forget that. Bravery takes its signature hospitable design framework and applies it to your institution's website. Our optimization services have increased conversion rates anywhere from 30%-200% overnight!</p>
  <div class="cta-group">
    <a href="{{ '/contact' | url }}">Let's talk ↘</a>
  </div>
</header>
<section id="speed">
  <div class="layout sticky">
    <header>
        <div>
            <h2>Blazing fast university websites</h2>
            <p>Bravery is the leader in higher education when it comes to creating fast websites. We focus on this because it affects just about other part of a university's marketing. Better ad performance? Make your website faster. Higher conversion rates? Make your website faster. Higher search appearances? You guessed it. Speed up your website.</p>
            <p>A speed-optimized website is greener, more accessible, and way more performant than one that isn't. We care so much, we created <a href="https://speedyu.bravery.co">SpeedyU</a> to track and rank higher ed websites by speed and accessibility in the US, Canada, Ireland, UK, Australia, and New Zealand.</p>
            <div class="cta-group">
              <a href="{{ '/contact' | url }}">Contact us ↘</a>
            </div>
        </div>
    </header>
    <aside>
      <div class="wistia_responsive_padding" style="aspect-ratio:16/9;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_yi4dr8iyh3 seo=true videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/yi4dr8iyh3/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
    </aside>
  </div>
</section>
<section id="benchmark" class="layout">
  <article>
      <h2>Benchmark your website's peformance</h2>
      <p>Bravery's affordable Benchmark reports uncover all the little things to help your team optimize your website for speed, accessibility, and SEO. These standalone mini-engagements are built for maximum impact and minimal cost. Fast turnarounds, unparalleled support, and detailed steps to improve are built into Benchmark.</p>
      <div class="cta-group">
          <a href="{{ 'benchmark' | url }}">Explore Benchmark reports ↘</a>
      </div>
  </article>
  <div class="mini-vhs">
      {% include "components/vhs-spine.njk" %}
  </div>
</section>
<article class="service-description layout sticky">
  <header>
    <h2>Website Strategy Guides from <span class="brand loud">Bravery</span></h2>
    <p>This is our signature offering that tells you precisely how to improve your college or university's website. Website Strategy Guide recommendations are the absolute best value in higher education web marketing.</p>
    <h3>Enrollment-growing web strategy</h3>
    <p>Whether you're getting ready to write an RFP for a redesign or you're building institutional buy-in for a big web project, Bravery's <strong>Website Strategy Guide</strong> will tell you all about the site you have and the most effective ways to improve it. We thoroughly audit your institutional website, analyze our findings in concert with internal research and industry sources, and produce a strategy report you can act on for immediate results. Our partners have seen conversion rate increases of over 400% and applications double for focus programs. The guide includes:</p>
    <ul>
      <li>Accessibility Report,</li>
      <li>Content Strategy Report,</li>
      <li>SEO Report,</li>
      <li>Technical Performance Report,</li>
      <li>Information Architecture Recommendations,</li>
      <li>User Experience Recommendations,</li>
      <li>Governance Guidelines, and</li>
      <li>Prioritized Plan of Action</li>
    </ul>
    <p><strong>Price starts at $30,000</strong></p>
  </header>
  <section>
    <div class="wistia_responsive_padding" style="aspect-ratio:4/3;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_y5o31k57aj seo=true videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/y5o31k57aj/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
  </section>
</article>
<div class="plain-quote constrain">
  <blockquote class="synthwave">
    <p>The data and insights Bravery gave us helped my team refine our digital strategy. After implementing their recommendations, we saw conversion rates increase by over 400%.</p>
  </blockquote>
  <footer>
    <cite>Alex Staton</cite>
    <p>Director of Marketing</p>
  </footer>
</div>
{% include "components/service-grid.njk" %}