---
layout: layouts/base.njk
title: Content Strategy, Direction, and Production for Higher Education
description: From content strategy to content design, Bravery produces website content for colleges and universities that converts. Content really is that important.
section: services
og:
  image: /assets/img/og-content.jpg
  title: Content Strategy, Direction, and Production
permalink: /services/content-strategy/
---
  <header class="constrain">
      <h1>Content strategy, direction, and production</h1>
      <p>A university's website hinges on clear, engaging, and performant content. But, most higher education websites are heavy on the content, light on the strategy. Bravery's uses research and our deep history in higher ed to help your institution craft web content that turns prospects into students.</p>
      <div class="cta-group">
          <a href="{{ '/contact' | url }}">Let's talk strategy ↘</a>
      </div>
  </header>
  <section class="service-description layout layout-split sticky">
    <header class="intro">
      <h2>Content Direction</h2>
      <p>Get by with a little help from Bravery. Our Content Direction services and built to adapt to and enhance your existing workflows and brand standards.</p>
    </header>
    <section>
      <div>
        <h3>Content Strategy</h3>
        <p>Content strategy in education balances explainer copy, marketing copy, and communications. Your audiences need to understand you before you can effectively market to them. But, marketing is not your only goal. You also need to communicate processes and timelines, manage expectations, and strike the right tone. And, ultimately, it has to serve your community, internally and externally.</p>
        <p>Your website needs a plan to stay fresh, communicate value, and make an impact. That’s where we come in. We’ll ensure your team has a system for maintaining and elevating your content. We’ll help you develop the recipe for that unique alchemical mix of words that feels like you every time!</p>
      </div>
      <div>
        <h3>Change Management + Process Adoption</h3>
        <p>One of the most challenging parts of implementing a new strategy is getting everyone on board when the rubber meets the road. Change sounds great in the abstract. But, giving up old ways of getting things done and striving for something better… That’s hard stuff right there.</p>
        <p>Bravery makes it easier. We don’t just roll out a new strategy without matching it to your operations and values. We meet with your team and stakeholders. We define roles and plans. We help your team negotiate the tricky stuff. When we’re done, your team will hum along with continuous improvement. </p>
      </div>
    </section>
  </section>
  <section class="constrain">
    <h2>Content Production</h2>
    <p>Visibility, requests for information, enrollment growth - it’s all out there for the taking. But, getting a content refresh (or complete content overhaul) off the ground with the right words and phrases in the right places can feel daunting for a small web team. You want your content to dazzle prospects and resonate on their frequency. But spot writing with AI support and integrating every stakeholder request can lead to a sense of disjointed overload.</p>
    <p>Let us do the heavy lifting. Our writers can structure your content so that it flows from one section to the next and matches your user journey. When we’re done, you’ll be ready for takeoff.</p>
    <div class="cta-group">
        <a href="{{ '/content/' | url }}">Let's talk content ↘</a>
    </div>
  </section>
{% include "components/service-grid.njk" %}