---
layout: layouts/base.njk
title: Custom Insights Reports from Bravery.
heading: Higher ed digital strategy + design services
description: Web strategy insights tailored to each higher education institution's needs.
section: services
permalink: /services/custom-insights/
wistias:
  - gorpgpg6x3
og:
  image: https://bravery.co/assets/img/bravery-services-share.jpg
  alt: "Text reads: Custom Insights Reports"
  title: Custom Insights Reports from Bravery.
  description: Web strategy insights tailored for your institution.
---
<article class="layout services-intro">
  <header>
      <h1>Custom Insights Reports <span class="brand loud">from Bravery.</span></h1>
  </header>
  </script><div class="wistia_responsive_padding" style="padding:75.0% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_gorpgpg6x3 seo=true videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/gorpgpg6x3/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
</article>
<section class="service--desc has-divider-top">
    <article>
      <p>Sometimes you need targeted insights to bolster the strategy you already have in place. Bravery can help. We start with a needs assessment to make sure we're only delivering information that is actionable and valuable to your institution. From there, we prepare a report with data and recommendations featuring some of the following research:</p>
      <ul>
        <li>Facilitated Usability Studies</li>
        <li>Heuristic Evaluations</li>
        <li>Terminology Reviews</li>
        <li>User Journey Mapping</li>
        <li>Jobs to be Done Studies</li>
        <li>Service Blueprints</li>
        <li>Homepage Brand Review</li>
        <li>Technical Assessment (SEO, Accessibility, Content Strategy)</li>
        <li>Environment Assessment (Competitor audits, brand positioning, regional industry data)</li>
        <li>Operational Assessment (Governance planning, staff needs modeling, budget modeling)</li>
      </ul>
      <p>Some of these are more time-intensive than others. Our pricing is tailored to precisely what you need. Have strict budget allowances? Let's talk about what will give you the biggest return on that investment.</p>
      <p><strong>Pricing starts at $20,000</strong></p>
      <div class="button-bar">
        <a class="button synthwave" href="/contact/">{% include 'svg/message.svg' %} Contact Us</a>
      </div>
    </article>
    <figure class="service-image synthwave">
      <img
        src="{% src "midjourney-console_l8k70q.jpg" %}"
        srcset="{% srcset "midjourney-console_l8k70q.jpg" %}" alt="A 1980s-inspired video game console. Digital render on Midjourney." width="500" height="600" loading="lazy" decoding="async"
      />
    </figure>
  </div>
  <div class="divider-grid">{% include "svg/gridplane.svg" %}</div>
</section>
<section id="needs">
  <article class="constrain">
    <h2>It all starts with your needs</h2>
    <p>Every dollar (or pound, or euro) in your budget is important. Rather than trying to force a template on your institution, Bravery wants to understand precisely what your institution needs. Our Needs Assessment gets us most of the way to understanding what research fits you best, now. A follow-up conversation helps our team uncover the biggest challenges your institution is facing.</p>
    <p><a href="/contact/">Contact us</a> and we'll provide our initial recommendations and a price range. You can schedule a conversation with us, or not. It's your choice. We promise not to bug you with sales emails (we just don't do that).</p>
  </article>
  {% include 'components/powerpacks.njk' %}
  <a class="button synthwave" href="/contact/">{% include 'svg/message.svg' %} Contact Us</a>
</section>
<nav class="next-service constrain">
  <header>
    <h2>Advance to the next stage</h2>
    <p>Explore Bravery's other research-based offerings.</p>
  </header>
  <article class="level web-strategy" itemscope itemtype="https://schema.org/Product">
    <h3 itemprop="name"><a href="{{ '/services/website-strategy/' | url }}">Website Strategy Guide ↘︎</a></h3>
    <p>Bravery will tell you all about the site you have and the most effective ways to improve it. <a href="{{ '/services/website-strategy/' | url }}" title="Learn about Bravery's Website Strategy Guide">Get the details</a>.</p>
  </article>
</nav>