@charset "UTF-8";
@font-face {
  font-family: NameSansVF;
  src: url("https://f002.backblazeb2.com/file/bravery/webfont/name_sans-variable-subset.woff2") format("woff2-variations");
  font-display: swap;
}
:root {
  --color-white: #fff;
  --color-black: #060312;
  --color-bright: #6b4de0;
  --color-rich: #5171A5;
  --color-neon: #EEFC57;
  --color-nav: #ffffff;
  --font-heading: NameSansVF, sans-serif;
  --font-body: NameSansVF, sans-serif;
  --grid-unit: 8px;
  --type-super: 3.157em;
  --type-xl: 2.369em;
  --type-lg: 1.777em;
  --type-md: 1.333em;
  --type-base: 1em;
  --type-sm: 0.75em;
  --type-xs: 0.563em;
}

@media only screen and (min-width: 1024px) {
  :root {
    --type-super: 3.998em;
    --type-xl: 2.827em;
    --type-lg: 1.999em;
    --type-md: 1.414em;
    --type-base: 1em;
    --type-sm: 0.707em;
    --type-xs: 0.5em;
  }
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-body);
  font-weight: normal;
  line-height: 1.1;
  font-variation-settings: "opsz" 96, "wght" 275;
}

h1 {
  font-size: var(--type-xl);
  font-variation-settings: "wght" 800, "opsz" 96;
}
h1 span {
  color: var(--color-bright);
}
@media only screen and (min-width: 1024px) {
  h1.super {
    font-size: var(--type-super);
  }
}

h2 {
  font-size: var(--type-xl);
  margin-bottom: calc(var(--grid-unit) * 5);
}
h2 > span {
  color: var(--color-bright);
  font-variation-settings: "opsz" 96, "wght" 700;
}

h3 {
  font-size: var(--type-md);
}

p {
  line-height: 1.65;
  margin-top: 1em;
  margin-bottom: 1.35em;
}

ul,
ol {
  margin: calc(var(--grid-unit) * 8) 0;
  padding-left: 1.25em;
}
ul > li,
ol > li {
  line-height: 1.65;
  margin-bottom: 0.8em;
  padding: 0;
}

strong {
  font-variation-settings: "opsz" 96, "wght" 600;
}

blockquote {
  margin: 0;
}
blockquote > p {
  font-size: var(--type-md);
  letter-spacing: -0.0051em;
  margin-top: 0;
  line-height: 1.4;
  margin-bottom: calc(var(--grid-unit) * 4);
  font-variation-settings: "wght" 800, "opsz" 96;
}
@media only screen and (min-width: 1024px) {
  blockquote > p {
    font-size: 1.667em;
  }
}
blockquote .quotemark {
  width: 48px;
  opacity: 0.2;
}
blockquote cite {
  font-style: normal;
  font-size: 1.333em;
}
@media only screen and (min-width: 1024px) {
  blockquote cite {
    font-size: 1rem;
  }
}
blockquote footer {
  font-weight: 500;
  transform: translate3d(0, 0, 0);
}
blockquote footer p {
  text-transform: uppercase;
  font-size: 0.667em;
  letter-spacing: 0.1em;
  margin-bottom: calc(var(--grid-unit) * 8);
  font-variation-settings: "opsz" 24;
}
@media only screen and (min-width: 1024px) {
  blockquote footer {
    margin-top: calc(var(--grid-unit) * 6);
  }
}

hr {
  border: 0;
  height: 1px;
  background: var(--color-rich);
  margin-top: 3em;
  margin-bottom: 3em;
}

@media (prefers-color-scheme: dark) {
  hr {
    background: var(--color-neon);
  }
}
button,
.button {
  appearance: none;
  display: block;
  padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 3);
  text-align: center;
  color: var(--color-white);
  width: 100%;
  margin: calc(var(--grid-unit) * 5) auto;
  border: 0px;
  transition: opacity 300ms ease;
  opacity: 1;
  cursor: pointer;
  letter-spacing: 0.063em;
  font-variation-settings: "wght" 600, "opsz" 96;
  text-transform: uppercase;
}
button.nondescript,
.button.nondescript {
  padding: 0;
  background: transparent;
}
button.primary, button.bright,
.button.primary,
.button.bright {
  background-color: var(--color-bright);
}
button.pale,
.button.pale {
  background-color: var(--color-white);
  color: var(--color-black);
}
button.dark,
.button.dark {
  background-color: var(--color-black);
}
button.rich,
.button.rich {
  background-color: var(--color-rich);
}
button:hover,
.button:hover {
  opacity: 0.6;
}
button:active,
.button:active {
  opacity: 0.9;
}
@media only screen and (min-width: 1024px) {
  button,
.button {
    display: inline-block;
    width: auto;
    padding-left: calc(var(--grid-unit) * 6);
    padding-right: calc(var(--grid-unit) * 6);
    font-size: var(--type-sm);
  }
}

a.button {
  text-decoration: none;
}

nav {
  font-variation-settings: "opsz" 24, "wght" 600;
}

#icon-menu path {
  transition: transform 0.3s ease-in-out;
}
#icon-menu .icon-menu--bottom {
  transform: translateX(43%);
}
#icon-menu .icon-menu--top {
  transform: translateX(-43%);
}

.menu-open {
  overflow: hidden;
  --color-nav: #ffffff;
}
.menu-open .toolbar {
  mix-blend-mode: normal;
}
.menu-open .toolbar .site-menu {
  opacity: 1;
  visibility: visible;
}
.menu-open #icon-menu .icon-menu--bottom {
  transform: translateX(0);
}
.menu-open #icon-menu .icon-menu--top {
  transform: translateX(0);
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 10;
  color: var(--color-nav);
  mix-blend-mode: difference;
}
.toolbar .branding {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.toolbar h1 {
  font-size: 0.75em;
}
.toolbar .logo {
  position: relative;
  z-index: 2;
  padding: 0 calc(var(--grid-unit) * 2);
  color: currentColor;
}
.toolbar .logo > svg {
  height: 22px;
}
@media only screen and (min-width: 1024px) {
  .toolbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 88px;
    padding: 0 calc(var(--grid-unit) * 4);
  }
  .toolbar .nav-link {
    font-size: 0.75em;
  }
  .toolbar .logo > svg {
    height: 32px;
  }
}
.toolbar button.menu-trigger {
  color: currentColor;
  z-index: 2;
  margin: 0;
  height: 60px;
  width: 60px;
  padding: calc(var(--grid-unit) * 2.4);
}
@media only screen and (min-width: 1024px) {
  .toolbar button.menu-trigger {
    display: none;
  }
}
.toolbar .site-menu {
  background-color: var(--color-bright);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  .toolbar .site-menu {
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    font-size: 1em;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
  }
  .toolbar .site-menu .nav-link {
    padding: 0.75em;
  }
}
.toolbar .nav-link {
  transition: opacity 300ms ease-in-out;
  opacity: 1;
  position: relative;
}
.toolbar .nav-link[aria-current=page]:after {
  content: "";
  width: 10%;
  background: var(--color-bright);
  position: absolute;
  bottom: 1.25em;
  left: 0.75em;
  height: 4px;
  transition: width 0.3s ease-in-out;
}
.toolbar .nav-link[aria-current=page]:hover {
  opacity: 1;
}
.toolbar .nav-link[aria-current=page]:hover:after {
  width: calc(100% - 1.5em);
}
.toolbar .nav-link:first-child {
  justify-self: start;
}
.toolbar .nav-link:last-child {
  justify-self: end;
}
.toolbar .nav-link:hover {
  opacity: 0.6;
}
.toolbar .nav-link:active {
  opacity: 0.9;
}
.toolbar a {
  color: currentColor;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.cover {
  background-color: var(--color-black);
  color: var(--color-white);
  height: calc(100vh - 60px);
  width: 100%;
  position: sticky;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 calc(var(--grid-unit) * 2) calc(20vh - 60px);
}
@media (min-width: 960px) and (min-height: 725px) {
  .cover {
    padding: 0 calc(var(--grid-unit) * 4) 20vh;
  }
}
.cover h1 {
  position: relative;
  z-index: 0;
  margin-bottom: calc(var(--grid-unit) * 5);
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.layout-services .cover {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  min-height: 100vh;
  padding-top: 45vh;
}
.layout-services .cover h2 {
  font-size: 1.556em;
  margin-top: calc(var(--grid-unit) * 8);
}
@media (min-width: 960px) {
  .layout-services .cover {
    display: block;
    padding-top: 25vh;
  }
  .layout-services .cover h1 {
    margin-top: 0;
    position: sticky;
    top: 25vh;
  }
  .layout-services .cover h2 {
    font-size: 1.417em;
  }
  .layout-services .cover p {
    font-size: var(--type-sm);
    line-height: 1.45;
  }
  .layout-services .cover p.is-large {
    font-size: var(--type-base);
  }
}
.layout-legal .cover, .layout-jobs .cover {
  height: 60vh;
}
.layout-legal .cover h1, .layout-jobs .cover h1 {
  grid-column: 1/end;
}

.panel {
  background: var(--color-white);
  color: var(--color-black);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: calc(var(--grid-unit) * 15) calc(var(--grid-unit) * 2);
}
.panel.theme--invert {
  background: var(--color-black);
  color: var(--color-white);
}
.panel.theme--bright {
  background: var(--color-bright);
  color: var(--color-white);
}
.panel.theme--rich {
  background: var(--color-rich);
  color: var(--color-white);
}
.panel--grid {
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .panel--grid {
    display: grid;
    align-items: start;
    grid-column-gap: 3vw;
    grid: auto-flow/repeat(12, 1fr);
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
  .panel--grid > *:first-child {
    grid-column: 1/7;
    position: sticky;
    top: calc(var(--grid-unit) * 15);
  }
  .panel--grid > *:first-child.page-intro {
    grid-column: 7/-1;
  }
  .panel--grid > *:last-child {
    grid-column: 7/-1;
  }
  .panel--grid.breakout {
    max-width: none;
    width: 100vw;
    margin-left: calc(var(--grid-unit) * -2);
    margin-right: calc(var(--grid-unit) * -2);
  }
  .services .panel--grid > *:first-child {
    grid-column: 1/7;
  }
  .services .panel--grid > *:last-child {
    grid-column: 7/-1;
    margin-top: 115px;
    font-size: var(--type-sm);
  }
}
.panel.company .people--grid {
  display: flex;
  gap: calc(var(--grid-unit) * 2);
  justify-content: space-between;
  width: 100vw;
  margin-left: calc(var(--grid-unit) * -1);
  margin-right: calc(var(--grid-unit) * -1);
  margin-top: calc(var(--grid-unit) * 9);
}
.panel.company .people--grid > figure {
  flex: 0 150px;
}
.panel.company figure:nth-child(even) {
  transform: translatey(-30%);
}
@media only screen and (min-width: 768px) {
  .panel.company .people--grid {
    gap: calc(var(--grid-unit) * 4);
  }
  .panel.company .people--grid > figure {
    flex: 0 1 300px;
  }
  .panel.company .people--grid figure:nth-child(even) {
    transform: translatey(-15%);
  }
}
@media only screen and (min-width: 1024px) {
  .panel.company article {
    grid-column: 4/10;
    grid-row: 1;
  }
  .panel.company .people--grid {
    grid-row: 2;
    gap: 2.5vw;
    margin-top: calc(var(--grid-unit) * 15);
  }
}
.panel.packages .package {
  padding-top: calc(var(--grid-unit) * 10);
}
.panel.packages .package.theme-bright h2 {
  color: var(--color-bright);
}
.panel.packages .package.theme-bright button {
  background-color: var(--color-bright);
}
.panel.packages .package.theme-rich h2 {
  color: var(--color-rich);
}
.panel.packages .package.theme-rich button {
  background-color: var(--color-rich);
}
.panel.packages .package header {
  position: relative;
}
.panel.packages .package header:before {
  opacity: 0.08;
  display: block;
  height: 75px;
  width: 200px;
  transform: translateX(-24px) translateY(-24px);
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 960px) {
  .panel.packages .package header:before {
    height: 226px;
    width: 315px;
    transform: translateX(-28%) translateY(-40%);
  }
}
@media only screen and (min-width: 1024px) {
  .panel.packages {
    padding: 0;
  }
  .panel.packages .package {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
  }
  .panel.packages .package .sticky-quote {
    height: 100vh;
    grid-column: 2;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .panel.packages .package .sticky-quote blockquote {
    padding: 0 calc(var(--grid-unit) * 8);
  }
  .panel.packages .package .sticky-quote blockquote > p {
    font-size: 1.3em;
  }
  .panel.packages .package .sticky-quote blockquote footer {
    margin-bottom: -25%;
  }
  .panel.packages .package#strategy .sticky-quote {
    background-color: var(--color-white);
    background-image: url("/assets/img/blocks.svg");
    background-size: 106px 100px;
  }
  .panel.packages .package#design .sticky-quote {
    background-color: #643ad4;
    background-image: url("/assets/img/windmill.svg");
    background-size: 160px 160px;
    color: var(--color-white);
  }
  .panel.packages .package#optimization .sticky-quote {
    background-image: url("/assets/img/bullseye.svg");
    background-size: cover;
    background-position: center;
    color: var(--color-white);
  }
  .panel.packages .package > article {
    background-color: var(--color-white);
    grid-column: 1;
    padding: calc(var(--grid-unit) * 20) calc(var(--grid-unit) * 10);
  }
  .panel.packages .package > article h2 {
    max-width: 76%;
  }
  .panel.packages .package > article p,
.panel.packages .package > article li {
    font-size: 0.75em;
  }
  .panel.packages .addons {
    padding: calc(var(--grid-unit) * 20) calc(var(--grid-unit) * 10);
  }
  .panel.packages .addons header {
    grid-column: 1/10;
    font-size: 1rem;
    position: static;
  }
  .panel.packages .addons header h2 {
    font-size: 2.417em;
  }
  .panel.packages .addons > article {
    grid-column: 1/end;
    font-size: 0.75em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--grid-unit) * 8);
  }
  .panel.packages .addons h3 {
    margin-top: calc(var(--grid-unit) * 7);
  }
}
@media only screen and (min-width: 1024px) and (min-width: 1360px) {
  .panel.packages .addons {
    padding: calc(var(--grid-unit) * 20) 0;
  }
}
.panel.packages ul {
  margin: calc(var(--grid-unit) * 4) 0;
}
.panel.legal #policy {
  font-size: 0.75em;
}
@media only screen and (min-width: 1024px) {
  .panel.legal #policy {
    grid-column: 3/11;
  }
}
@media only screen and (min-width: 1024px) {
  .panel.rfi .rfi-form {
    grid-column: 7/end;
  }
}
@media only screen and (min-width: 1024px) {
  .panel.about .panel--grid > article {
    position: sticky;
    top: 10vh;
  }
  .panel#who article {
    grid-column: 3/11;
  }
  .panel#performance-price article {
    grid-column: 1/8;
  }
}
@media (min-width: 1024px) and (max-height: 1380px) {
  .panel.about .panel--grid > article {
    position: sticky;
    top: 20vh;
  }
}
.panel.testimonial figure {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .panel.testimonial {
    align-items: center;
  }
  .panel.testimonial .button {
    margin-top: 0;
  }
  .panel.testimonial .quotemark {
    position: absolute;
    width: 104px;
    top: 0;
    left: 0;
    transform: translateY(-48px) translateX(-69px);
  }
  .panel.testimonial blockquote {
    grid-column: 3/8;
    position: relative;
  }
  .panel.testimonial figure {
    display: block;
    grid-column: 9/end;
  }
}

.about--work {
  display: grid;
  grid: auto auto/1fr 1fr 1fr;
  grid-row-gap: calc(var(--grid-unit) * 8);
  align-items: start;
  margin-top: calc(var(--grid-unit) * 14);
}
@media only screen and (min-width: 1024px) {
  .about--work {
    margin-top: calc(var(--grid-unit) * 50);
    margin-bottom: calc(var(--grid-unit) * 50);
    grid-row-gap: calc(var(--grid-unit) * 20);
  }
}
.about--work > figure {
  box-shadow: 24px 32px 40px 0 rgba(0, 0, 0, 0.1);
}
.about--work > figure:first-child {
  grid-row: 1;
  grid-column: 2/end;
}
.about--work > figure:nth-child(2) {
  grid-row: 2;
  grid-column: 1/3;
}

article.work-list ul,
article.work-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
article.work-list ul {
  max-width: 75vw;
}
@media only screen and (min-width: 1024px) {
  article.work-list {
    grid-column: 1/8;
  }
  article.work-list ul {
    max-width: none;
    columns: 2;
    column-gap: 5.5vw;
  }
  article.work-list ul li {
    margin-bottom: 1em;
  }
}

form p {
  margin-bottom: 1em;
}
form p.honey {
  display: none;
}
form label {
  position: relative;
  font-family: var(--font-body);
  font-variation-settings: "opsz" 36;
}
form label span {
  display: block;
  font-size: var(--type-sm);
  font-variation-settings: "wght" 600, "opsz" 36;
}
form input,
form textarea {
  background: transparent;
  appearance: none;
  border: 1px solid var(--color-bright);
  border-radius: 0;
  color: inherit;
  font-size: 1em;
  font-family: var(--font-body);
  padding: calc(var(--grid-unit) * 2) var(--grid-unit);
  width: 100%;
  transition: all 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@media only screen and (min-width: 1024px) {
  form input,
form textarea {
    font-size: var(--type-sm);
  }
}
form button {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.rfi h2,
.layout-contact h2 {
  font-size: 1.556em;
}
@media only screen and (min-width: 1024px) {
  .rfi h2,
.layout-contact h2 {
    font-size: 2em;
  }
  .rfi .rfi-form,
.layout-contact .rfi-form {
    grid-column: 7/end;
    margin-top: 0;
  }
  .rfi .rfi-form button,
.layout-contact .rfi-form button {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

.layout-contact {
  color: var(--color-white);
}
.layout-contact main {
  min-height: 100vh;
  padding: 10vh calc(var(--grid-unit) * 2);
}
.layout-contact main a {
  color: currentColor;
  text-decoration: none;
  margin-left: 1em;
  font-weight: 500;
}
@media only screen and (min-width: 1024px) {
  .layout-contact main header {
    grid-column: 1/7;
    position: sticky;
    top: 10vh;
  }
  .layout-contact main header p {
    font-size: 0.75em;
    margin: 1em 0;
  }
  .layout-contact main header a:hover {
    border-bottom: 2px solid;
  }
}
.layout-contact .toolbar {
  background: transparent;
  mix-blend-mode: normal;
}
.layout-contact .toolbar button {
  grid-column: 3;
  margin: 0;
  font-size: 2em;
  padding: 0;
  text-align: right;
  cursor: pointer;
}

table {
  font-size: 0.75em;
}
table td {
  vertical-align: top;
}
table td ul {
  margin-top: 0;
}
table thead {
  display: table-header-group;
  vertical-align: middle;
  border-top-color: inherit;
  border-right-color: inherit;
  border-bottom-color: inherit;
  border-left-color: inherit;
}
table tr {
  display: table-row;
  vertical-align: inherit;
  border-top-color: inherit;
  border-right-color: inherit;
  border-bottom-color: inherit;
  border-left-color: inherit;
}
table th {
  font-weight: 700;
}
table th,
table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}
table th:first-child,
table td:first-child {
  padding-left: 0;
}

.article-list {
  background-color: transparent;
  display: block;
  width: 100vw;
  padding-left: 0;
  padding-right: 0;
}
.article-list .article {
  border-top: 1px solid var(--color-bright);
  color: var(--color-white);
  text-decoration: none;
  display: block;
  position: relative;
  padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);
  font-variation-settings: "wght" 700, "opsz" 96;
  font-size: var(--type-md);
}
.article-list .article-cover {
  display: none;
}
.article-list .article-title {
  display: block;
  width: 100%;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 1024px) {
  .article-list .article {
    padding-left: calc(var(--grid-unit) * 6);
    padding-right: 0;
    font-size: var(--type-super);
  }
  .article-list .article-title {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media only screen and (min-width: 1360px) {
  .article-list .article-cover {
    display: flex;
    box-shadow: 24px 32px 40px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    right: 0;
    top: 50%;
    width: 20vw;
    transform: translateY(-50%);
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }
  .article-list .article-cover:before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-top: 133%;
  }
  .article-list .article-cover img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }
  .article-list .article:hover .article-cover {
    opacity: 1;
  }
}

.layout-single .cover {
  height: 65vh;
  padding-bottom: 2.5vh;
  overflow: hidden;
}
.layout-single .cover > img {
  position: absolute;
  width: 100vw;
  left: 0;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  object-position: center 75%;
  z-index: 0;
}
.layout-single .cover > img.lazy-loaded {
  opacity: 0.8;
}
.layout-single .cover:before {
  content: "";
  background: radial-gradient(circle, rgba(12, 6, 35, 0.9) 5%, rgba(12, 6, 35, 0) 30%);
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: -70%;
  transform: scale(5);
  mix-blend-mode: multiply;
}
.layout-single .cover .article-title {
  position: relative;
  z-index: 2;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.layout-single .cover .article-title a {
  color: currentColor;
  text-decoration: none;
}
.layout-single .cover .article-title a:hover {
  text-decoration: underline;
  color: var(--color-bright);
}
.layout-single .cover .article-title .taxonomy,
.layout-single .cover .article-title p {
  font-size: var(--type-sm);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
}
.layout-single .cover .article-title h1 {
  margin-bottom: 0.75rem;
}
@media only screen and (min-width: 1024px) {
  .layout-single .cover {
    height: 65vh;
    padding: 0 calc(var(--grid-unit) * 4) calc(var(--grid-unit) * 6);
  }
  .layout-single ul,
.layout-single ol {
    margin: calc(var(--grid-unit) * 4) 0;
    padding-left: 2em;
  }
}
@media (prefers-color-scheme: dark) {
  .layout-single {
    background: var(--color-black);
    color: var(--color-white);
  }
  .layout-single .article-content {
    background: #060312;
  }
  .layout-single .article-content a {
    color: var(--color-neon);
  }
}

.article-content {
  background: var(--color-white);
  width: 100vw;
  padding: calc(var(--grid-unit) * 8) calc(var(--grid-unit) * 2);
  position: sticky;
  top: 88px;
}
.article-content .entry {
  width: 100%;
  max-width: 790px;
  margin: 0 auto;
  font-size: var(--type-base);
}
.article-content h2 {
  font-size: var(--type-md);
  font-variation-settings: "wght" 550;
  margin-top: 1.5em;
  margin-bottom: 0.7em;
}
.article-content h3 {
  font-size: var(--type-base);
  font-variation-settings: "wght" 550;
}
.article-content a {
  color: var(--color-bright);
}
.article-content a:hover {
  opacity: 0.8;
  text-decoration: none;
}
.article-content p,
.article-content li {
  font-variation-settings: "wght" 400;
}
.article-content ul {
  margin-top: calc(var(--grid-unit) * 3);
}
@media only screen and (min-width: 1024px) {
  .jobs .article-content {
    padding-left: 15vw;
    padding-right: 15vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 5vw;
    align-items: start;
  }
  .jobs .article-content .entry {
    margin: 0;
  }
  .jobs .article-content aside {
    position: sticky;
    top: 88px;
  }
}
.jobs .article-content aside,
.jobs .article-content .small {
  font-size: var(--type-sm);
}

.callout {
  padding-top: calc(var(--grid-unit) * 3);
  margin-bottom: calc(var(--grid-unit) * 6);
}
.callout blockquote {
  position: relative;
}
.callout blockquote:before {
  content: "“";
  font-variation-settings: "wght" 850, "opsz" 96;
  color: var(--color-bright);
  font-size: var(--type-xl);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-140%);
  line-height: 1;
}
.callout p {
  margin-bottom: 0;
  font-size: var(--type-lg);
  font-variation-settings: "wght" 750, "opsz" 96 !important;
}

.eleventy-plugin-embed-twitter {
  display: flex;
  justify-content: center;
}

.site-footer {
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 0.889em;
  padding: calc(var(--grid-unit) * 9) calc(var(--grid-unit) * 2);
}
.site-footer p {
  line-height: 1.5;
}
.site-footer a {
  color: var(--color-white);
  transition: opacity 300ms ease;
  opacity: 1;
}
.site-footer a:hover {
  opacity: 0.6;
}
.site-footer nav {
  margin-top: calc(var(--grid-unit) * 8);
}
.site-footer nav a {
  text-decoration: none;
}
.site-footer ul,
.site-footer li {
  list-style: none;
  padding: 0;
}
.site-footer li {
  margin-bottom: 1em;
}
@media (min-width: 960px) {
  .site-footer {
    font-size: 0.75em;
    align-items: start;
    justify-content: start;
  }
  .site-footer .legal {
    grid-column: 1/7;
  }
  .site-footer .legal p.copyright {
    margin-top: 0;
  }
  .site-footer nav {
    grid-column: 10/end;
    margin: 0;
  }
  .site-footer nav ul {
    margin: 0;
  }
}

.faux-browser {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(250, 251, 252, 0.9) 100%);
  backdrop-filter: blur(20px);
  display: block;
  border-width: 0 1px 1px 1px;
  border-color: var(--color-white);
  border-style: solid;
  border-radius: 6px;
  position: relative;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 545px;
}
.faux-browser figcaption {
  background-image: linear-gradient(180deg, white 0%, #fafbfc 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40px;
  border-top-left-radius: 6px;
  background-clip: border-box;
}
.faux-browser figcaption:after, .faux-browser figcaption:before {
  content: "";
  height: 11px;
  width: 11px;
  position: absolute;
  top: 15px;
  border-radius: 50%;
  z-index: 11;
}
.faux-browser figcaption:before {
  background-color: #FC605C;
  left: 14px;
}
.faux-browser figcaption:after {
  background-color: #FDBC40;
  left: 31px;
}
.faux-browser > img {
  width: 100%;
  padding-top: 40px;
}
.testimonial .faux-browser {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
.testimonial .faux-browser > img {
  max-width: none;
  width: 110%;
}

.cc-window {
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.cc-window.cc-invisible {
  opacity: 0;
}

.cc-animate.cc-revoke {
  -webkit-transition: transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.cc-animate.cc-revoke.cc-top {
  -webkit-transform: translateY(-2em);
  transform: translateY(-2em);
}

.cc-animate.cc-revoke.cc-bottom {
  -webkit-transform: translateY(2em);
  transform: translateY(2em);
}

.cc-animate.cc-revoke.cc-active.cc-top {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cc-animate.cc-revoke.cc-active.cc-bottom {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cc-revoke:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.cc-grower {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s;
  transition: max-height 1s;
}

.cc-revoke,
.cc-window {
  position: fixed;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: var(--font-body);
  font-size: 0.65rem;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  z-index: 9999;
}

.cc-window.cc-static {
  position: static;
}

.cc-window.cc-floating {
  padding: 2em;
  max-width: 24em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cc-window.cc-banner {
  padding: 1em 1.8em;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.cc-revoke {
  padding: 0.5em;
}

.cc-revoke:hover {
  text-decoration: underline;
}

.cc-header {
  font-size: 18px;
  font-weight: 700;
}

.cc-btn,
.cc-close,
.cc-link,
.cc-revoke {
  cursor: pointer;
}

.cc-link {
  opacity: 0.8;
  display: inline-block;
  padding: 0.2em;
  text-decoration: underline;
}

.cc-link:hover {
  opacity: 1;
}

.cc-link:active,
.cc-link:visited {
  color: initial;
}

.cc-btn {
  display: block;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  white-space: nowrap;
}

.cc-highlight .cc-btn:first-child {
  background-color: transparent;
  border-color: transparent;
}

.cc-highlight .cc-btn:first-child:focus,
.cc-highlight .cc-btn:first-child:hover {
  background-color: transparent;
  text-decoration: underline;
}

.cc-close {
  display: block;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.6em;
  opacity: 0.9;
  line-height: 0.75;
}

.cc-close:focus,
.cc-close:hover {
  opacity: 1;
}

.cc-revoke.cc-top {
  top: 0;
  left: 3em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.cc-revoke.cc-bottom {
  bottom: 0;
  left: 3em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.cc-revoke.cc-left {
  left: 3em;
  right: unset;
}

.cc-revoke.cc-right {
  right: 3em;
  left: unset;
}

.cc-top {
  top: 1em;
}

.cc-left {
  left: 1em;
}

.cc-right {
  right: 1em;
}

.cc-bottom {
  bottom: 1em;
}

.cc-floating > .cc-link {
  margin-bottom: 1em;
}

.cc-floating .cc-message {
  display: block;
  margin-bottom: 1em;
}

.cc-window.cc-floating .cc-compliance {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.cc-window.cc-banner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cc-banner.cc-top {
  left: 0;
  right: 0;
  top: 0;
}

.cc-banner.cc-bottom {
  left: 0;
  right: 0;
  bottom: 0;
}

.cc-banner .cc-message {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  max-width: 100%;
  margin-right: 1em;
}

.cc-compliance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.cc-floating .cc-compliance > .cc-btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.cc-btn + .cc-btn {
  margin-left: 0.5em;
}

@media print {
  .cc-revoke,
.cc-window {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .cc-btn {
    white-space: normal;
  }
}
@media screen and (max-width: 414px) and (orientation: portrait), screen and (max-width: 736px) and (orientation: landscape) {
  .cc-window.cc-top {
    top: 0;
  }

  .cc-window.cc-bottom {
    bottom: 0;
  }

  .cc-window.cc-banner,
.cc-window.cc-floating,
.cc-window.cc-left,
.cc-window.cc-right {
    left: 0;
    right: 0;
  }

  .cc-window.cc-banner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cc-window.cc-banner .cc-compliance {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .cc-window.cc-floating {
    max-width: none;
  }

  .cc-window .cc-message {
    margin-bottom: 1em;
  }

  .cc-window.cc-banner {
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
  }

  .cc-window.cc-banner .cc-message {
    margin-right: 0;
  }
}
.cc-floating.cc-theme-classic {
  padding: 1.2em;
  border-radius: 5px;
}

.cc-floating.cc-type-info.cc-theme-classic .cc-compliance {
  text-align: center;
  display: inline;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.cc-theme-classic .cc-btn {
  border-radius: 5px;
}

.cc-theme-classic .cc-btn:last-child {
  min-width: 140px;
}

.cc-floating.cc-type-info.cc-theme-classic .cc-btn {
  display: inline-block;
}

.cc-theme-edgeless.cc-window {
  padding: 0;
}

.cc-floating.cc-theme-edgeless .cc-message {
  margin: 2em;
  margin-bottom: 1.5em;
}

.cc-banner.cc-theme-edgeless .cc-btn {
  margin: 0;
  padding: 0.8em 1.8em;
  height: 100%;
}

.cc-banner.cc-theme-edgeless .cc-message {
  margin-left: 1em;
}

.cc-floating.cc-theme-edgeless .cc-btn + .cc-btn {
  margin-left: 0;
}

html {
  font-size: 112.5%;
  font-size: clamp(1.13rem, 1.01rem + 0.58vw, 1.5rem);
}

body {
  background-color: var(--color-black);
  font-family: var(--font-body);
  font-optical-sizing: auto;
  font-weight: 300;
  width: 100vw;
  font-variation-settings: "opsz" 12;
  line-height: 1.65;
}

figure > img {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 150ms ease-in-out 150ms;
}
figure > img.lazy-loaded {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

main {
  position: relative;
  z-index: 1;
  transform: translate3d(0, 0, 0);
}
main > * {
  transform: translate3d(0, 0, 0);
}
.layout-services main, .layout-contact main {
  margin-top: auto;
}
.layout-contact main {
  color: var(--color-white);
  min-height: 100vh;
  padding: 10vh calc(var(--grid-unit) * 2);
}
.layout-contact main a {
  color: currentColor;
  text-decoration: none;
  margin-left: 1em;
  font-weight: 500;
}
.layout-contact main .toolbar {
  background: var(--color-black);
  mix-blend-mode: normal;
}
.layout-contact main .toolbar button {
  grid-column: 3;
  margin: 0;
  font-size: 2em;
  padding: 0;
  text-align: right;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .layout-contact main header {
    grid-column: 1/7;
    position: sticky;
    top: 10vh;
  }
  .layout-contact main header p {
    font-size: 0.75em;
  }
  .layout-contact main header a:hover {
    border-bottom: 2px solid;
  }
}
@media only screen and (min-width: 1024px) {
  .layout-services main h1 {
    grid-column: 1/7;
    position: sticky;
  }
}

@media only screen and (min-width: 1024px) {
  .layout-insight main {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: start;
  }
  .layout-insight main #target-cover {
    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;
  }
  .layout-insight main #target-cover > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  .layout-insight main #target-cover > img.active {
    opacity: 1;
  }
}
@media only screen and (min-width: 1360px) {
  .layout-insight main {
    grid-template-columns: 70% 30%;
  }
}

img {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
img.lazy-loaded {
  opacity: 1;
}

/*# sourceMappingURL=bravery.css.map */
