---
layout: layouts/base.njk
section: single
postType: article
---

<figure class="article-cover">
    <img
        srcset="{% srcset cover.image, '4:3' %}"
        src="{% src cover.image, '4:3' %}" alt="{{ cover.alt }}" width="340" height="225" decoding="async" />
</figure>
<section class="layout layout-split sticky">
    <aside>
        {% if video %}
        <figure class="video-embed article--cover">
            {% youtube video.video_url, video.video_title %}
        </figure>
        {% endif %}
    </aside>
    <article>
        <a href="{{ '/insight/#latest' | url }}" class="all-articles">&larr; All Articles</a>
        <header class="article--title">
            <h1>{{title}}</h1>
            <p><span class="author">{{ name or metadata.author.name }}</span><br/>
            <span class="time"><time datetime="{{ date_published | machineDate }}">{{ date | readableDate }}</time>
                    / {{ content | readingTime }} read</span></p>
        </header>
        <section class="article--content">
            {{ layoutContent | safe }}
        </section>
        <footer class="cta-bar">
            {% if cta == 'contact' %}
                {% include "components/cta-inquire.njk" %}
            {% else %}
                <div class="heht-mini">
                    <h3>Get our weekly hot takes and early access to research results.</h3>
                    {% include "components/newsletter-form.njk" %}
                </div>
            {% endif %}
        </footer>
    </article>
</section>