---
layout: layouts/base.njk
section: insight
title: Higher ed insight from Bravery Media.
---
<main>
<h1 class="sr">Higher Ed insights, Case Studies, and Blog posts from Bravery Media</h1>
<section class="panel article-list">
    {% set articlesList = collections.article %}
    {% include "components/articlelist.njk" %}
</section>
</main>