---
layout: layouts/base.njk
section: podcast
---
<main>
<header>
    {% if page.url == "/podcast/appendix-b/" %}
        <h1 class="pod-title">Appendix B</h1>
        <p class="pod-description">Candid conversations about higher ed in 10 minutes or less.</p>
        {% include "components/subscribe-bar.njk" %}
    {% endif %}
</header>
{{ layoutContent | safe}}
</main>