---
layout: layouts/base.njk
section: podcast
og:
  image: https://bravery.co/assets/img/appendix-b-share.png
  title: Appendix B from Bravery Media
  description: Bravery's podcast featuring candid conversations about higher ed in around 10 minutes.
---
<main>
<header>
    {% if page.url == "/podcast/" %}
        <h1 class="pod-title">Appendix B</h1>
        <p class="pod-description">Candid conversations about higher ed in 10 minutes or less.</p>
        {% include "components/subscribe-bar.njk" %}
    {% endif %}

</header>
{{ layoutContent | safe}}
</main>