---
layout: layouts/base.njk
section: podcast
---
<header>
        {% if section == "podcast" %}
        <h1 class="hero">{{ showTitle or "Podcasts" }}</h1>
        {% else %}
        <div class="hero">{{ showTitle }}</div>
        {% endif %}
    {% if show == 'appb' or show == 'how2edu' %}
        {% if section == "podcast" %}
        <p class="show-summary">{{description}}</p>
        {% endif %}
        {% include "components/subscribe-bar.njk" %}
    {% endif %}
</header>
{{ layoutContent | safe}}