button,
.button {
    appearance: none;
    display: block;
    padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 3);
    text-align: center;
    color: var(--color-white);
    width: 100%;
    margin: calc(var(--grid-unit) * 5) auto;
    border: 0px;
    transition: opacity 300ms ease;
    opacity: 1;
    cursor: pointer;
    letter-spacing: .063em;
    font-variation-settings: 'wght'600, 'opsz'96;
    text-transform: uppercase;

    &.nondescript {
        padding: 0;
        background: transparent;
    }

    &.primary,
    &.bright {
        background-color: var(--color-bright);
    }

    &.pale {
        background-color: var(--color-white);
        color: var(--color-black);
    }

    &.dark {
        background-color: var(--color-black);
    }

    &.rich {
        background-color: var(--color-rich);
    }

    &:hover {
        opacity: .6;
    }

    &:active {
        opacity: .9;
    }

    @include mq(md) {
        display: inline-block;
        width: auto;
        padding-left: calc(var(--grid-unit) * 6);
        padding-right: calc(var(--grid-unit) * 6);
        font-size: var(--type-sm);
    }
}

a.button {
    text-decoration: none;
}