html {
	font-size: 112.5%;
	font-size: var(--type-base);
}

body {
	background-color: var(--color-black);
	font-family: var(--font-body);
	font-optical-sizing: auto;
	font-weight: 300;
	width: 100vw;
	font-variation-settings: "opsz" 12;
	line-height: 1.45;
}
main {
	position: relative;
	z-index: 1;
	transform: translate3d(0, 0, 0);

	> * {
		transform: translate3d(0, 0, 0); // fix a flicker?
	}
}

figure {
	line-height: 0;
	border-radius: calc(var(--grid-unit) * 3);
	overflow: hidden;
	> img {
		width: 100%;
		height: auto;
	}
}

img {
	opacity: 0;
	transition: var(--global-transition);

	&.lazy-loaded {
		opacity: 1;
	}
}
