---
layout: layouts/base.njk
title: Custom Insights Reports from Bravery.
heading: Higher ed digital strategy + design services
description: Web strategy insights tailored to each higher education institution's needs.
section: services
permalink: /services/custom-insights/
social:
  tw:
    title: Custom Insights Reports from Bravery.
    description: Tailored web strategy insights for you.
    image: https://bravery.co/assets/img/services-card.png
  fb:
    title: Custom Insights Reports from Bravery.
    description: Tailored web strategy insights for you.
    image: https://bravery.co/assets/img/services-card.png
---
<header class="cover">
  <div class="panel--grid">
    <h1>Custom Insights Reports <span class="brand">from Bravery.</span></h1>
    <button class="button bright" data-trigger="contact">{% include 'svg/checklist.svg' %} Schedule a needs assessment</button>
  </div>
</header>
<section class="service--desc">
  <article>
    <p>Sometimes you need targeted insights to bolster the strategy you already have in place. Bravery can help. We start with a needs assessment to make sure we're only delivering information that is actionable and valuable to your institution. From there, we prepare a report with data and recommendations featuring some of the following research:</p>
    <ul>
      <li>Facilitated Usability Studies</li>
      <li>Heuristic Evaluations</li>
      <li>Terminology Reviews</li>
      <li>User Journey Mapping</li>
      <li>Jobs to be Done Studies</li>
      <li>Service Blueprints</li>
      <li>Homepage Brand Review</li>
      <li>Technical Assessment (SEO, Accessibility, Content Strategy)</li>
      Environment Assessment (Competitor audits, brand positioning, regional industry data)</li>
      Operational Assessment (Governance planning, staff needs modeling, budget modeling)</li>
    </ul>
    <p>Some of these are more time-intensive than others. Our pricing is tailored to precisely what you need. Have strict budget allowances? Let's talk about what will give you the biggest return on that investment.</p>
    <div class="button-bar">
      <button class="button synthwave" data-trigger="contact">{% include 'svg/checklist.svg' %} Schedule a needs assessment</button>
    </div>
  </article>
  <figure class="service-image synthwave">

  </figure>
</section>
<section id="needs">
  <article>
    <h2>It all starts with your needs</h2>
    <p>Every dollar (or pound, or euro) in your budget is important. Rather than trying to force a template on your institution, Bravery wants to understand precisely what your institution needs. Our Needs Assessment gets us most of the way to understanding what research fits you best, now. A follow-up conversation helps our team uncover the biggest challenges your institution is facing.</p>
    <p><a href="{{ '/contact/' | url }}" data-trigger="contact">Schedule a Needs Assessment</a> and we'll provide our initial recommendations and a price range. You can schedule a conversation with us, or not. It's your choice. We promise not to bug you with sales emails (we just don't do that).</p>
  </article>
  {% include 'components/powerpacks.njk' %}
  <button class="button synthwave" data-trigger="contact">{% include 'svg/checklist.svg' %} Schedule a needs assessment</button>
</section>
<nav class="next-service">
  <header>
    <h2>Advance to the next stage</h2>
    <p>Explore Bravery's other research-based offerings.</p>
  </header>
  <article class="level web-strategy" itemscope itemtype="https://schema.org/Product">
    <h3 itemprop="name"><a href="{{ '/services/website-strategy/' | url }}">Website Strategy Guide ↘︎</a></h3>
    <p>Bravery will tell you all about the site you have and the most effective ways to improve it. <a href="{{ '/services/website-strategy/' | url }}" title="Learn about Bravery's Website Strategy Guide">Get the details</a>.</p>
  </article>
</nav>