---
layout: layouts/base.njk
title: Level Up with Bravery.
heading: Higher ed digital strategy + design services
description: Unlock your digital marketing potential with a comprehensive Level Up engagement.
section: services
permalink: /services/level-up/
social:
  tw:
    title: Level Up with Bravery.
    description: Unlock your digital marketing potential
    image: https://bravery.co/assets/img/bravery-level-up-share.jpg
  fb:
    title: Level Up with Bravery.
    description: Unlock your digital marketing potential
    image: https://bravery.co/assets/img/bravery-level-up-share.jpg
---
<header class="cover constrain">
    <h1>Level Up <span class="brand loud">with Bravery.</span></h1>
    <a class="button synthwave" href="/contact/">{% include 'svg/message.svg' %} Contact Us</a>
</header>
<section class="service--desc has-divider-top">
  <div class="panel--grid">
    <article>
      <p>Ready to top the leaderboard? Bravery's Level Up engagement distills our most effective research and strategy practices into the ultimate cheat code for your digital strategy. This unique set of insights unlocks exactly what your website and marketing operations need to exceed your goals.</p>
      <p>From design to tech stack to staffing, this is the ultimate level-up for your marketing strategy. This partnership will take 3-6 months and includes:</p>
      <ul>
        <li>Website Strategy Guide</li>
        <li>Advanced IA Development</li>
        <li>In-depth User Experience Research</li>
        <li>Policy audit and relevant trends report</li>
        <li>Environmental scan and brand positioning</li>
        <li>Digital operations audit and prototyping</li>
        <li>Vision casting short-term and long-term impacts</li>
        <li>Logic modeling</li>
        <li>Strategy matrices</li>
        <li>UX and Usability Studies</li>
      </ul>
      <p><strong>Pricing starts at $115,000</strong></p>
      <div class="button-bar">
        <a class="button synthwave" href="/contact/">{% include 'svg/message.svg' %} Contact Us</a>
      </div>
    </article>
    <figure class="service-image synthwave">
      <img
        src="{% src "midjourney-atari_fdu9zq.jpg" %}"
        srcset="{% srcset "midjourney-atari_fdu9zq.jpg" %}" alt="A 1980s-inspired video game console. Digital render on Midjourney." width="500" height="600" loading="lazy" decoding="async"
      />
    </figure>
  </div>
  <div class="divider-grid">{% include "svg/gridplane.svg" %}</div>
</section>
<section id="needs">
  <article class="constrain">
    <h2>Exactly what your team needs to Level Up</h2>
    <p>Bravery's experts target the most effective ways to refine, optimize, or overhaul your web marketing practices. We help identify gaps in staffing, optimize your budget spending practices, and put our signature Conversion Rate Optimization strategies to work for your institution's website.</p>
    <p><strong>Level Up</strong> services from Bravery Media are the most comprehensive packaged research and insight strategies in the industry. Face your institutional goals with Bravery.</p>
  </article>
  <blockquote class="synthwave">
    <p>With Bravery’s help we built a lean, nimble, highly talented team that delivered a first-class website, with the results to back it up.</p>
    <cite>Seth Odell, Vice Chancellor of Marketing</cite>
    <span class="glow"></span>
  </blockquote>
  {% include 'components/powerpacks.njk' %}
  <a class="button synthwave" href="/contact/">{% include 'svg/message.svg' %} Contact Us</a>
</section>