---
layout: layouts/base.njk
title: Specialized Training Programs from Bravery
heading:
description: Level up your higher ed marketing team's skills with customized UX, Research, Technical, and Design training from Bravery Media.
section: speedyu
permalink: /services/training/
social:
  tw:
    title: Specialized Training Programs from Bravery
    description: Level up your higher ed marketing team's skills with customized UX, Research, Technical, and Design training from Bravery Media.
    image: https://bravery.co/assets/img/benchmark-social.jpg
  fb:
    title: Specialized Training Programs from Bravery
    description: Level up your higher ed marketing team's skills with customized UX, Research, Technical, and Design training from Bravery Media.
    image: https://bravery.co/assets/img/benchmark-social.jpg
---
<main>
  <article class="details">
    <h1>Level up your skills with <span class="brand">Bravery</span></h1>
    <p>In the ever-evolving landscape of higher education, staying ahead of the curve is not just an advantage—it's a necessity. Our unique research-forward porfolio of customized training workshops are designed specifically for higher education marketing professionals.</p>
    <h2>Our training offerings</h2>
    <p>When you learn with Bravery, you get insights you can apply immediately. We currently offer workshops in:</p>
    <h3>Technical Training: Navigate the digital terrain with confidence</h3>
    <p>Dive into the digital world with our technical training courses. Gain a deep understanding of SEO, manage technical debt effectively, and learn how to optimize your institution's website at every level.</p>
    <h3>Design Training: Turbo-charge your brand with great UX</h3>
    <p>In our design training sessions, you'll learn how to create visually compelling narratives with modern tools like Figma. We'll delve into the principles of effective web and UX design, helping you understand how to create user-friendly interfaces that not only look good but also drive engagement and conversions.</p>
    <h3>Research Training: Make data-informed decisions</h3>
    <p>Learn to leverage data to its fullest potential. Our research training equips you to build data feedback loops, conduct comprehensive web audits, gather usability feedback, and use insights to inform strategic decision-making.</p>
    <h2>Why choose <span class="brand">Bravery's</span> training offerings?</h2>
    <p><strong>Expert-Led Training:</strong> Our workshops are designed and delivered by higher ed experts with extensive experience in their given topic.</p>
    <p><strong>Tailored for Institutions:</strong> Each workshop is crafted with higher ed marketing professionals in mind, focusing on scenarios, challenges, and objectives specific to the public sector.</p>
    <p><strong>Outcome-Focused:</strong> Our training is about more than imparting knowledge; it's about achieving tangible improvements in efficiency, innovation, and service delivery within colleges and universities.</p>
    <p><strong>Flexible Learning Options:</strong> Training can be conducted remotely or on your campus to accommodate however your team learns best.</p>
    <p><strong>Unrivaled Experience:</strong> <span class="brand">Bravery's</span> team is deeply familiar with the challenges of higher education work. We've been designing, building, and optimizing websites and strategies in higher ed since 2012.</p>
    <h2><span class="brand">Bravery</span> leads the way</h2>
    <p>Ready to take your higher education marketing to the next level? Choose <span class="brand">Bravery</span> and discover how our training offerings can help you achieve your goals. Because in the world of higher education marketing, bravery isn't about taking risks—it's about being prepared to seize opportunities when they arise.</p>
  </article>
  <section class="contact">
    {% include "components/traininginquire.njk" %}
  </section>
</main>