---
layout: layouts/base.njk
title: University Insight partnerships with Bravery.
heading: University Insight partnerships
description: Next-gen digital marketing results with the University Insight platform from Bravery Media.
section: ui
permalink: /services/university-insight/
social:
  tw:
    title: University Insight partnerships with Bravery.
    description: Next-gen digital marketing results with Bravery.
    image: https://bravery.co/assets/img/bravery-university-insight.jpg
  fb:
    title: University Insight partnerships with Bravery.
    description: Next-gen digital marketing results with Bravery.
    image: https://bravery.co/assets/img/bravery-university-insight.jpg
---
<section class="ui-details">
  <h1>Next-gen marketing results with <span class="brand">University Insight</span>.</h1>
  <p>Imagine not having to think about analytics platforms, tech stacks, accessibility audits, or replacing that talented dev you just lost to a corporate gig. University Insight partnerships from Bravery Media represent the next generation in web marketing management for higher ed institutions of any size.</p>
  <p>Lots of tools and systems provide you with the data for understanding what you need to do and setting your digital strategy. But only Bravery Media translates your data into actionable insights, letting you focus on telling your institution's story. Need a competitive advantage? We're that and so much more.</p>
  <h2>Every <span class="brand">University Insight</span> package includes:</h2>
  <ul>
    <li>A dedicated Digital Strategist assigned to your website, backed by the entire Bravery Media team</li>
    <li>Proactive speed optimization, accessibility remediation, SEO assessment, and platform maintenance</li>
    <li>Monthly performance reports built on Bravery’s deep data marketing analytics</li>
    <li>Ongoing facilitated research including A/B/y testing, usability studies, and conversion rate optimization</li>
    <li>Seasonal reports on enrollment, melt prevention, and other tailored strategies for your unique needs</li>
    <li>Bravery-assisted content editing and publishing on our purpose-built content platform</li>
  </ul>
  <h2>Add a Power Pack</h2>
  <p>Let Bravery do our thing with a monthly retainer. Think of us as your website's R&D team, de-risking big ideas and fueling your institution's growth.</p>
  <ul>
    <li>On-demand consulting*</li>
    <li>Product management, feature planning, and governance assists</li>
    <li>Dedicated development and design time for new features or redesigns</li>
    <li>Hands-off implementation of our data-backed recommendations</li>
  </ul>
  <p><small><em>*During business hours and in accordance with a Service Level Agreement.</em></small></p>
</section>
{% include "components/ui-contact.njk" %}