---
layout: layouts/base.njk
title: University Insight partnerships with Bravery.
heading: University Insight partnerships
description: Next-gen digital marketing results with Bravery Media
section: services
permalink: /services/university-insight/
social:
  tw:
    title: University Insight partnerships with Bravery.
    description: Next-gen digital marketing results with Bravery.
    image: https://bravery.co/assets/img/services-card.png
  fb:
    title: University Insight partnerships with Bravery.
    description: Next-gen digital marketing results with Bravery.
    image: https://bravery.co/assets/img/services-card.png
---