---
layout: layouts/base.njk
title: Website Strategy Guides from Bravery.
heading: Higher ed digital strategy + design services
description: Deep dive recommendations for your college or university website.
section: services
permalink: /services/website-strategy/
og:
  image: Website Strategy Guides from Bravery
  alt: "Text reads: Website Strategy Guide"
  title: Your institution's web strategy handbook
  description: https://bravery.co/assets/img/bravery-website-strategy-share.jpg
---
<main>
<header class="cover constrain">
    <h1>Website Strategy Guides <span class="brand loud">from Bravery.</span></h1>
    <a class="button synthwave" href="/contact/">{% include 'svg/message.svg' %} Connect with us</a>
</header>
<section class="service--desc has-divider-top">
  <div class="panel--grid">
    <article>
      <p>Whether you're getting ready to write an RFP for a redesign or you're building institutional buy-in for a big web project, Bravery's <strong>Website Strategy Guide</strong> will tell you all about the site you have and the most effective ways to improve it. We thoroughly audit your institutional website, analyze our findings in concert with internal research and industry sources, and produce a strategy report you can act on for immediate results. Our partners have seen conversion rate increases of over 400% and applications double for focus programs. The guide includes:</p>
      <ul>
        <li>Accessibility Report,</li>
        <li>Content Strategy Report,</li>
        <li>SEO Report,</li>
        <li>Technical Performance Report,</li>
        <li>Information Architecture Recommendations,</li>
        <li>User Experience Recommendations,</li>
        <li>Governance Guidelines, and</li>
        <li>Prioritized Plan of Action</li>
      </ul>
      <p><strong>Price starts at $30,000</strong></p>
      <div class="button-bar">
        <a class="button synthwave" href="/contact/">{% include 'svg/message.svg' %} Let's talk</a>
      </div>
    </article>
    <figure class="service-image synthwave">
      <img
        src="{% src "midjourney-fighterjet.png" %}"
        srcset="{% srcset "midjourney-fighterjet.png" %}" alt="A 1980s-inspired video game console. Digital render on Midjourney." width="500" height="600" loading="lazy" decoding="async"
      />
    </figure>
  </div>
  <div class="divider-grid">{% include "svg/gridplane.svg" %}</div>
</section>
<section id="needs">
  <article class="constrain">
    <h2>It all starts with your needs</h2>
    <p>Every dollar (or pound, or euro) in your budget is important. Rather than trying to force a template on your institution, Bravery wants to understand precisely what your institution needs. Our Needs Assessment gets us most of the way to understanding what research fits you best, now. A follow-up conversation helps our team uncover the biggest challenges your institution is facing.</p>
    <p><a href="/contact/">Start a conversation with us</a> and we'll provide our initial recommendations and a price range. You can schedule a conversation with us, or not. It's your choice. We promise not to bug you with sales emails (we just don't do that).</p>
  </article>
  <blockquote class="synthwave">
    <p>The data and insights Bravery gave us helped my team refine our digital strategy. After implementing their recommendations, we saw conversion rates increase by over 400%.</p>
    <cite>Alex Staton, Director of Marketing</cite>
    <span class="glow"></span>
  </blockquote>
  {% include 'components/powerpacks.njk' %}
  <a class="button synthwave" href="/contact/">{% include 'svg/message.svg' %} Contact Us</a>
</section>
<nav class="next-service constrain">
  <header>
    <h2>Advance to the next stage</h2>
    <p>Explore Bravery's other research-based offerings.</p>
  </header>
  <article class="level level-up">
    <h3 itemprop="name"><a href="{{ '/services/web-aor/' | url }}">Web Agency of Record ↘︎</a></h3>
    <p>Next-gen marketing results with a dedicated partner to manage your entire marketing tech stack. <a href="{{ '/services/web-aor/' | url }}" title="Learn about Bravery's Web Agency of Record services">Time to level up</a>.</p>
  </article>
</nav>
</main>