---
layout: layouts/base.njk
title: Website Strategy Guides from Bravery.
heading: Higher ed digital strategy + design services
description: Deep dive recommendations for your college or university website.
section: services
permalink: /services/website-strategy/
social:
  tw:
    title: Website Strategy Guides from Bravery.
    description: Your institution's web strategy handbook.
    image: https://bravery.co/assets/img/bravery-website-strategy-share.jpg
  fb:
    title: Website Strategy Guides from Bravery.
    description: Your institution's web strategy handbook.
    image: https://bravery.co/assets/img/bravery-website-strategy-share.jpg
---
<header class="cover constrain">
    <h1>Website Strategy Guides <span class="brand shout">from Bravery.</span></h1>
    <button class="button bright" data-cal-link="team/bravery/needs-assessment">{% include 'svg/checklist.svg' %} Schedule a needs assessment</button>
</header>
<section class="service--desc has-divider-top">
  <div class="panel--grid">
    <article>
      <p>Whether you're getting ready to write an RFP for a redesign or you're building institutional buy-in for a big web project, Bravery's <strong>Website Strategy Guide</strong> will tell you all about the site you have and the most effective ways to improve it. We thoroughly audit your institutional website, analyze our findings in concert with internal research and industry sources, and produce a strategy report you can act on for immediate results. Our partners have seen conversion rate increases of over 400% and applications double for focus programs. The guide includes:</p>
      <ul>
        <li>Accessibility Report,</li>
        <li>Content Strategy Report,</li>
        <li>SEO Report,</li>
        <li>Technical Performance Report,</li>
        <li>Information Architecture Recommendations,</li>
        <li>User Experience Recommendations,</li>
        <li>Governance Guidelines, and</li>
        <li>Prioritized Plan of Action</li>
      </ul>
      <p><strong>Price starts at: $45,000</strong></p>
      <div class="button-bar">
        <button class="button synthwave" data-cal-link="team/bravery/needs-assessment">{% include 'svg/checklist.svg' %} Schedule a needs assessment</button>
      </div>
    </article>
    <figure class="service-image synthwave">
      <img
        src="{% src "midjourney-fighterjet.png" %}"
        srcset="{% srcset "midjourney-fighterjet.png" %}" alt="A 1980s-inspired video game console. Digital render on Midjourney." width="500" height="600" loading="lazy" decoding="async"
      />
    </figure>
  </div>
  <div class="divider-grid">{% include "svg/gridplane.svg" %}</div>
</section>
<section id="needs">
  <article class="constrain">
    <h2>It all starts with your needs</h2>
    <p>Every dollar (or pound, or euro) in your budget is important. Rather than trying to force a template on your institution, Bravery wants to understand precisely what your institution needs. Our Needs Assessment gets us most of the way to understanding what research fits you best, now. A follow-up conversation helps our team uncover the biggest challenges your institution is facing.</p>
    <p><a href="#" role="button" tabindex="0" data-cal-link="team/bravery/needs-assessment">Schedule a Needs Assessment</a> and we'll provide our initial recommendations and a price range. You can schedule a conversation with us, or not. It's your choice. We promise not to bug you with sales emails (we just don't do that).</p>
  </article>
  {% include 'components/powerpacks.njk' %}
  <button class="button synthwave" data-cal-link="team/bravery/needs-assessment">{% include 'svg/checklist.svg' %} Schedule a needs assessment</button>
</section>
<nav class="next-service constrain">
  <header>
    <h2>Advance to the next stage</h2>
    <p>Explore Bravery's other research-based offerings.</p>
  </header>
  <article class="level level-up" itemscope itemtype="https://schema.org/Product">
    <h3 itemprop="name"><a href="{{ '/services/level-up/' | url }}">Level Up ↘︎</a></h3>
    <p>Unlock exactly what your website and marketing operations need to exceed your goals. <a href="{{ '/services/level-up/' | url }}" title="Learn about Bravery's Level Up services">Time to level up</a>.</p>
  </article>
</nav>