---
layout: layouts/error.njk
title: Whoops, Page Not Found
permalink: /404.html
section: error
---
<section id="404">
    <header class="smpte-bars">
		<h1><a href="/" title="Back Home">Not<br />Found</a></h1>
	</header>
    <article>
        <h2>Whoops! That's not what we intended...</h2>
        <p>The URL you tried to access must have moved. Or we have a typo. Either way, that's not what we intended. <a href="/" title="Back Home">Head back home?</a></p>
    </article>
</section>