---
layout: layouts/base.njk
title: What Bravery is About
description: Founded in 2012, Bravery Media is a remote-first, higher education-centric web strategy and design agency.
section: about
permalink: /about/
og:
  image: /assets/img/about.jpg
  title: What we're all about
  description: Our values, leadership, and successes.
eleventyNavigation:
  key: About
  order: 6
  title: Our Values
wistias:
  - 15132b4qmk
---

<header class="work-intro">
  <h1 class="hero">Propelling higher education toward its potential since 2012.</h1>
  <section class="layout sticky">
    <div>
      <h2>Global impact, Austin roots, remote-first</h2>
      <p>Bravery Media was founded in 2012 as a higher education-focused web strategy and design agency in the capital city of Austin, TX. Our proximity to world-class institutions, one of the fastest-growing tech hubs in the USA, and a vibrant creative scene provided Bravery with unmatched access to the best technical and design minds in the world.</p>
      <p>Now our team and independent partners are spread across the United States, Canada, the UK, and Europe. This wide net provides even more opportunity to learn from and partner with educators, designers, technologists, and institutions.</p>
      <p>Combined, our team members have worked on hundreds of websites across the higher education, B2B, hospitality, e-commerce, and consumer sectors. Our work is beautiful and performs at the highest levels for millions of web users every day. What other higher ed agency can say the same?</p>
    </div>
    <div>
      <div class="wistia_responsive_padding" style="aspect-ratio: 16/9;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_15132b4qmk seo=true videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/15132b4qmk/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>
    </div>
  </section>
</header>
  <section class="leadership constrain" id="leadership">
    <h2>Leadership</h2>
    <article class="bio">
      <figure class="headshot-joel" data-ar="1:1">
        <img
            srcset="{% srcset 'JoelGoodman_ustwcj.jpg' %}"
            data-src="{% src 'JoelGoodman_ustwcj.jpg' %}"
            alt="Joel Goodman, Principal"
            loading="lazy"
            width="500"
            height="500"
        />
      </figure>
      <div>
        <h3>Joel Goodman / Principal + CEO</h3>
        <p>Joel has been working in higher education web marketing since 2007 when he took his first university job in Southern Illinois. Since then, his work has centered around digital strategy and transformation. Whether rebuilding a university website from the ground up or helping institutions get the best performance from their digital properties, Joel’s focus is always to maximize the value of his partners’ digital strategy practice.</p>
        <p>He holds a master of arts in Media Studies from The New School for Public Engagement in addition to over 15 years of applied higher education web marketing experience. He cohosts a higher ed marketing podcast and regularly speaks on digital strategy topics at conferences.</p>
      </div>
    </article>
    <article class="bio">
      <figure class="headshot-kristin" data-ar="1:1">
        <img
          srcset="{% srcset 'kristin_rfbtxb.jpg' %}"
          data-src="{% src kristin_rfbtxb.jpg %}"
          alt="Kristin Van Dorn, Heade of Client Strategy"
          loading="lazy"
          width="500"
          height="500">
      </figure>
      <div>
        <h3>Kristin Van Dorn / Head of Client Strategy + Research</h3>
        <p>Kristin Van Dorn has worked in higher education web marketing since 2009. Before Bravery Media, Kristin worked in user experience consulting and digital strategy roles across the University of Minnesota, including as an analyst in their world-class usability lab, where they facilitated over 80 unique evaluations and product tests per year. In 2013, Kristin completed an interdisciplinary master’s degree where she studied higher education institutions' unique branding and marketing challenges.</p>
        <p>Kristin is currently a PhD candidate at the University of Minnesota, earning her doctorate in Organizational Leadership, Policy, and Development with a focus on Higher Education. Her academic research investigates higher education’s role in building students’ democratic capabilities and skills. At Bravery, she blends her advanced academic research skills with user experience methods to provide teams with sophisticated and reliable user intelligence.</p>
      </div>
    </article>
  </section>
  <section id="values" class="constrain">
    <header>
      <h2>Values</h2>
      <p>Bravery is built on the reality that every human has value and deserves respect. We accomplish this through hospitable design and full-stack ethics.</p>
    </header>
    <div class="value layout layout-split sticky">
      <h3>Equity + Justice</h3>
      <ul>
        <li>We work with people of all different backgrounds, experiences, abilities, and viewpoints.</li>
        <li>We support colleges and universities that provide opportunities to underrepresented communities.</li>
        <li>Our design and code start with accessibility and inclusivity.</li>
      </ul>
    </div>
    <div class="value layout layout-split sticky">
      <h3>Hospitable Design</h3>
      <ul>
        <li>Care and respect are for everyone.</li>
        <li>Real people are at the center of everything we make.</li>
        <li>Empathy isn't worth much without kindness.</li>
      </ul>
    </div>
    <div class="value layout layout-split sticky">
      <h3>Full-stack Ethics</h3>
      <ul>
        <li>Ignorance is not an excuse. We pay thoughtful attention to the software and code we use.</li>
        <li>We don't take consultations lightly. We make recommendations that we believe in.</li>
        <li>We are responsible and accountable for our work.</li>
        <li>We our honest and keep our promises.</li>
      </ul>
    </div>
    <div class="value layout layout-split sticky">
      <h3>Sustainability</h3>
      <ul>
        <li>Websites hosted with Bravery run on renewable, green energy.</li>
        <li>Websites designed and built by Bravery are fast and efficient, crafted to use less energy than other websites.</li>
        <li>Our distributed staffing model reduces our individual impacts on the environment.</li>
        <li>We care for our staff and contractors and make sure the work we do is individually sustainable and supported.</li>
      </ul>
    </div>
  </section>
  <section class="wide">
    <section id="inquire" class="mini-inquiry">
        <article>
            <h2>How can <span class="brand">Bravery</span> help you?</h2>
            <p>We'd love to talk, even if just to meet you. Send us an email.</p>
        </article>
        {% include 'components/button-contact.njk' %}
    </section>
  </section>
  {% include "components/service-grid.njk" %}