---
layout: layouts/base.njk
title: Let's work together
description: "Let's work together: your institution + Bravery. Contact us today."
section: contact
permalink: /contact/
---
<article>
    <div class="layout sticky">
    <header>
        <h1>Let's start this off on the right note.</h1>
        <p>We thrive on connecting with ambitious higher ed marketing pros. Even if you're not looking to start a new project, we would love to meet you and hear about the challenges you're facing. Need to bounce some ideas off of someone? We're here to help.</p>
        <p>But if you are ready to get moving, let's see how <span>Bravery</span> can help propel your institution toward its potential.</p>
        <p class="direct">Email <a
            href="mailto:inquiries@bravery.co">inquiries@bravery.co</a> </p>
    </header>
    {% include 'components/contactform.njk' %}
    </div>
</article>