---
layout: layouts/base.njk
title: Future Tech Fridays
description: A weekly event to talk higher ed tech. Critically.
section: events
permalink: /future-tech-fridays/
og:
  title: Future Tech Fridays with Joel G Goodman
  description: A weekly event to talk higher ed tech. Critically.
---

<header class="work-intro">
  <h1 class="hero">Future Tech Fridays</h1>
  <section class="layout sticky">
    <div>
      <p>Critical discussions about future tech and its place in our work, especially for higher ed marketers. Bring your questions, ideas, and frustrations to a safe space. Thoughts about AI, site search, personalization, or specific vendors? Get free expert advice from Joel Goodman and your fellow marketers. Midday every Friday.</p>
        <div class="cta-group">
        <button
            class="cta cta-icon"
            data-cal-link="joelgoodman/future-tech-fridays"
            data-cal-namespace="future-tech-fridays"
            data-cal-config='{"layout":"column_view"}'
        >RSVP for your seat ↘</button>
        </div>
    </div>
    <div></div>
  </section>
</header>
<!-- Cal element-click embed code begins -->
<script type="text/javascript">
  (function (C, A, L) { let p = function (a, ar) { a.q.push(ar); }; let d = C.document; C.Cal = C.Cal || function () { let cal = C.Cal; let ar = arguments; if (!cal.loaded) { cal.ns = {}; cal.q = cal.q || []; d.head.appendChild(d.createElement("script")).src = A; cal.loaded = true; } if (ar[0] === L) { const api = function () { p(api, arguments); }; const namespace = ar[1]; api.q = api.q || []; if(typeof namespace === "string"){cal.ns[namespace] = cal.ns[namespace] || api;p(cal.ns[namespace], ar);p(cal, ["initNamespace", namespace]);} else p(cal, ar); return;} p(cal, ar); }; })(window, "https://app.cal.com/embed/embed.js", "init");
Cal("init", "future-tech-fridays", {origin:"https://app.cal.com"});
  Cal.ns["future-tech-fridays"]("ui", {"hideEventTypeDetails":false,"layout":"column_view"});
  </script>
  <!-- Cal element-click embed code ends -->