---
layout: layouts/base.njk
section: home
permalink: /
---
<header>
    <h1 class="hero">
        <span class="brand shout">Bravery</span> propels higher education toward its potential.
    </h1>
    <div class="layout">
        <section class="intro">
            <p><span class="brand">Bravery</span> Media is a higher education website strategy and design studio. We solve the biggest challenges facing institutions of higher learning using data, insight, and humanity.</p>
            <div class="cta-group">
                <a href="{{ '/about/' | url }}">Learn more about us ↘</a>
            </div>
        </section>
        <div></div>
    </div>
</header>
<section id="about" class="layout">
    <article class="work">
        <h2>Faster websites.<br> Better search rankings.<br> Increased enrollment.</h2>
        <p>Bravery turns data into change, design into reputation, and your goals into legacy. Our team's talent runs deep and can benefit your institution at whatever stage of digital strategy you find yourself.</p>
        <div class="cta-group">
            <a href="{{ 'work' | url }}">Case Studies</a>
            <a href="{{ 'services' | url }}">See all of our services ↘</a>
        </div>
    </article>
    <div class="work-swiper" data-bravery-carousel>
        <div class="track">
            {% set csList = collections.design %}
            {% for cs in csList %}
                {% include "components/cs-card.njk" %}
            {% endfor %}
        </div>
    </div>
</section>
<section id="services" class="billboard">
    <ul role="list">
    <li><a href="{{ '/services/website-strategy/' | url }}">Research + Strategy</a></li>
    <li><a href="{{ '/services/web-optimization-cro/' | url }}">Web Optimization + SEO</a></li>
    <li><a href="{{ '/services/web-design/' | url }}">Design + Development</a></li>
    <li><a href="{{ '/services/content-strategy/' | url }}">Content Direction + Production</a></li>
    <li><a href="{{ '/services/training/' | url }}">Training + Professional Development</a></li>
    <li><a href="{{ '/services/web-aor/' | url }}">Web Agency of Record</a></li>
    </ul>
</section>
<section id="speed" class="layout layout-split">
    <div class="speedyu-brand">
        <a href="https://speedyu.bravery.co/" title="See where your institution ranks on SpeedyU">
            {% include "svg/speedyu.svg" %}
        </a>
    </div>
    <article class="speedyu">
        <h2>Where does your website rank?</h2>
        <p><a href="https://speedyu.bravery.co" class="brand">SpeedyU from Bravery</a> tracks  speed and accessibility scores across college and universities in the USA, Canada, UK, Ireland, Australia, and New Zealand. Find out where your institutions rank in your nation, region, and among competitors. <strong>Launching soon.</strong></p>
        <div class="cta-group">
            <a href="https://speedyu.bravery.co">Get notified ↘</a>
        </div>
    </article>
</section>
<section id="benchmark">
    <div class="layout layout-three">
        {% include "components/benchmark.njk" %}
    </div>
    <article class="constrain">
        <h2>Benchmark from <span class="brand">Bravery</span></h2>
        <p>Get a handle on your marketing reality. Whether you're new to your role, need to make a case to leadership, or are doing pre-RFP planning, Benchmark reports are fast, affordable, and hands-off. And they're built with the same principles that have generated millions in new revenue for other institutions.</p>
        <div class="cta-group">
            <a href="{{ 'benchmark' | url }}">All of the details ↘</a>
            <a href="{%- if uri %}{{ uri | url }}{%- else -%}{{ "contact" | url }}{% endif -%}" class="cta cta-inline">{%- include "svg/message.svg" %} <span>{%- if label %}{{ label }}{%- else -%}Talk to us{%- endif -%}</span></a>
        </div>
    </article>
</section>
<section class="testimonial" data-theme="electric">
    <article>
        <div class="electric-quote">
            <blockquote>
                <p>I could not be more proud of the final product we have, the team that developed it, and the results this work drove for our organization. The university's investment in web strategy and design with Bravery paid for itself in eight days.</p>
            </blockquote>
            <footer>
                <cite>Seth Odell</cite>
                <p>Former Vice Chancellor for Marketing</p>
            </footer>
            {% include "svg/electric-quote.svg" %}
        </div>
    </article>
    <p class="cta-text huge"><span class="brand">Bravery</span> can help you, too. <a href="{{ '/contact' | url }}">Start the conversation</a>.</p>
</section>
<section class="learn">
    <article class="constrain">
        <h2>Skill-up with <span class="brand">Bravery</span> pros</h2>
        <p>Even marketing pros working in higher education need to keep learning. Whether your style is podcast listening, newsletter reading, or in-person training, we want to share our experience with you.</p>
        <div class="cta-group">
            <a href="{{ 'insight' | url }}">Dig into our insights ↘</a>
            <a href="{{ 'services/training' | url }}">Professional development ↘</a>
        </div>
    </article>
    <section class="resources layout layout-three">
        <a href="#" class="appb">

        </a>
        <a href="#" class="how2">

        </a>
        <a href="#" class="heht">

        </a>
    </section>
</section>
{% include "components/heht-bar.njk" %}