---
layout: layouts/base.njk
section: home
permalink: /
---
<header class="page-cover">
    <h1 class="hero">
        <span class="brand shout">Bravery</span> propels higher education toward its potential.
    </h1>
</header>
<section class="about">
    <div class="stage">
        <section class="company">
            <p>Bravery is a higher education website strategy and design studio. We solve the biggest challenges facing institutions of higher learning using data, insight, and humanity.</p>
            <div class="cta-group">
                <a href="cta cta-outline">Learn more about us ↘</a>
            </div>
        </article>
        <section class="work">
            <h2>Work that pays for itself, fast.</h2>
            <p>Strategy. Design. Growth. Bravery turns data into change, design into reputation, and your goals into legacy. Our team's talent runs deep and can benefit your institution at whatever stage of digital strategy you find yourself.</p>
            <div class="cta-group">
                <a href="cta cta-outline">Case Studies</a>
                <a href="cta cta-solid">See all of our services ↘</a>
            </div>
        </section>
        <section class="people">
            {% include "components/people.njk" %}
        </section>
    </div>
</section>
<section class="learn">
    <article>
        <h2>Skill-up with <span class="brand">Bravery</span> pros</h2>
        <p>Even marketing pros working in higher education need to keep learning. Whether your style is podcast listening, newsletter reading, or in-person training, we want to share our experience with you.</p>
        <div class="cta-group">
            <a href="cta cta-outline">Dig into our insights ↘</a>
            <a href="cta cta-solid">Train with us</a>
        </div>
    </article>
    <section class="resources">

    </section>
</section>
<section class="testimonial">
    <article>
        <blockquote class="electric">
            <p>I could not be more proud of the final product we have, the team that developed it, and the results this work drove for our organization. Our university's investment in web strategy and design with Bravery paid for itself in eight days.</p>
        </blockquote>
        <div>
            <cite>Seth Odell</cite>
            <p>Former Vice Chancellor for Marketing</p>
        </div>
    </article>
    <p>Bravery can help you, too. <a href="{{ '/contact' | url }}">Start the conversation</a>.</p>
</section>
{% include "components/heht-bar.njk" %}