---
layout: layouts/insight.njk
title: Higher ed web design insight
heading: Digital strategy insight for higher ed
description: Insight and opinion on higher education digital strategy + design.
section: insight
permalink: /insight/
social:
  tw:
    title: Insight and opinion on higher education digital strategy + design.
    description: Addressing issues in marketing, admissions, retention, and alumni outreach.
    image: https://bravery.co/assets/img/bravery-fb.jpg
  fb:
    title: Insight and opinion on higher education digital strategy + design.
    description: Addressing issues in marketing, admissions, retention, and alumni outreach.
    image: https://bravery.co/assets/img/bravery-fb.jpg
eleventyNavigation:
  key: Insight
  order: 3
  title: Insight
---
{{ layoutContent | safe }}
