---
layout: layouts/base.njk
title: Higher Ed Hot Takes Newsletter
description: "Bravery's deep-dive industry newsletter for higher education marketers."
theme: heht
section: newsletter
permalink: /newsletter/
og:
  image: https://bravery.co/assets/img/heht-og.jpg
  title: Subscribe to Higher Ed Hot Takes
  description: Bravery Media's deep dive industry newsletter.
eleventyNavigation:
  key: Podcast
  order: 5
  title: Hot Takes
---
<header>
  <h1 class="hero"><span>Higher Ed Hot Takes</span></h1>
  {% include "components/newsletter-subscribe.njk" %}
</header>
<section id="archives" class="heht-archives">
  <header>
    <h2><span class="sr">What People Are Saying</span>{% include "svg/heht-archives-title.svg" %}</h2>
  </header>
  <section class="heht-grid">
    {% for issue in collections.newsletter | reverse %}
      {% include "components/card-issue.njk" %}
    {% endfor %}
  </section>
  <div class="heht-mini">
    <h3>Subscribe!</h3>
    <p>Keep up with Bravery's deep thoughts, new ideas, and podcast releases.</p>
    {% include "components/newsletter-form.njk" %}
  </div>
</section>