{% for article in articlesList | reverse %}
    <article{% if article.url == url %} data-current="current item"{% endif %}>
        <a href="{{ article.url | url }}">
            <header>
                <h2>
                {{ article.data.title }}
                </h2>
                <p><span class="author">{{ author.name or metadata.author.name }}</span> // <time datetime="{{ article.data.date_published | machineDate }}">{{ article.data.date_published | readableDate }}</time> / {{ article | readingTime }} read</p>
            </header>
            {% if article.data.excerpt %}
                <p>
                    {{ article.data.excerpt }}
                </p>
            {% endif %}
        </a>
    </article>
{% endfor %}