{% for article in articlesList | reverse %}
    <a href="{{ article.url | url }}" class="article">
        <div class="article-title">{{ article.data.title }}</div>
        {% if article.data.cover %}
        <figure class="article-cover">
            <img data-src="{{ article.data.cover | coverTall }}" alt="{{ article.data.cover_alt }}" loading="lazy" decoding="async" />
        </figure>
        {% endif %}
    </a>
{% endfor %}