<section class="newsletter--subscribe neon">
    <header>
        {% include "svg/fire-letter.njk" %}
        <h2>Higher Ed Hot Takes</h2>
    </header>
    {% includes "components/newsletter-subscribe.njk" %}
</section>