<section id="ui" class="university-insight">
    <article class="ui-cta">
        <h2>Next-gen marketing results with University Insight</h2>
        <p>Your marketers, our analysts. Managed web, data analytics, and marketing insights from Bravery Media.</p>
        <a href="{{ '/services/university-insight/' | url}}" title="Learn about University Insight partnerships" class="button synthwave">Find Out More ↘</a>
    </article>
    <div class="logo--ui glass"></div>
</section>