<section id="inquire" class="mini-inquiry">
    <article>
        <h2>Can <span class="brand">Bravery</span> help you, too?</h2>
        <p>We'd love to talk, even if just to meet you. Send us an email.</p>
    </article>
    <a href="{{ '/contact/' | url}}" title="Contact Bravery" class="button bright">Contact Us ↘</a>
</section>