{% for ep in episodeList | reverse %}
    <article class="episode mini" data-audio="{{ ep.data.mp3 }}">
        <a href="{{ ep.url | url }}" title="Read the full transcript">
            <figure class="cover-art">
                <img src="{% src ep.data.cover.image %}"
                srcset="{% srcset ep.data.cover.image %}" alt="{{ep.data.cover.alt}}" width="315" height="315" loading="lazy" decoding="async" />
            </figure>
        </a>
        <section class="episode--detail">
            <div class="meta">Episode {{ ep.data.episode }} &mdash; <time datetime="{{ ep.data.date | machineDate}}">{{ ep.data.date | readableDate }}</time></div>
            <h2 class="episode--title"><a href="{{ ep.url | url }}" title="Read the full transcript">{{ ep.data.title }}</a></h2>
            <div class="episode--summary">
                {{ ep.data.description }}
            </div>
            {% set mp3Link %} {{ ep.data.mp3 | htmlBaseUrl("https://bravery.co") }} {% endset %}
            <audio controls src="{{ mp3Link }}" crossorigin preload="metadata"></audio>
        </section>
    </article>
{% endfor %}