{% for ep in episodeList | reverse %}
    <article class="episode" data-audio="{{ ep.data.mp3 }}">
        <a href="{{ ep.url | url }}" title="Read the full transcript">
            <figure class="cover-art">
                <img data-src="{{ ep.data.cover.image }}" alt="{{ ep.data.cover.alt }}" loading="lazy" decoding="async" width="650" height="650" />
            </figure>
        </a>
        <section class="episode--detail">
            <div class="meta">Episode {{ ep.data.episode }} &bull; <time datetime="{{ ep.data.date | machineDate}}">{{ ep.data.date }}</time></div>
            <h2 class="episode--title"><a href="{{ ep.url | url }}" title="Read the full transcript">{{ title }}</a></h2>
            {{ ep.data.summary }}
            <audio controls src="{{ep.mp3}}" crossorigin preload="metadata"></audio>
        </section>
    </article>
{% endfor %}