{% set js %}
    {% include "_includes/assets/js/bravery.js" %}
{% endset %}
{% if site.env === 'production' %}
    <script>{{ js | jsmin | safe }}</script>
{% endif %}
<script>
if (window.netlifyIdentity) {
	window.netlifyIdentity.on("init", user => {
		if (!user) {
			window.netlifyIdentity.on("login", () => {
				document.location.href = "/control/";
			});
		}
	});
}
</script>
{% if section == "legal" %}
    <script src="https://app.termageddon.com/js/termageddon.js"></script>
{% endif %}