{% set js %}
    {% include "_includes/assets/js/bravery-inline.js" %}
{% endset %}
<script>{{ js | jsmin | safe }}</script>
<script src="/assets/js/min/bravery.min.js" defer="defer" async></script>

{% if section == "legal" %}
    <script src="https://app.termageddon.com/js/termageddon.js"></script>
{% endif %}
{% if sitetools.env != 'development' %}
    <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
    <script> window.cookieconsent.initialise({
        "palette": {
            "popup": {
            "background": "#000000"
            },
            "button": {
            "background": "#6b4de0"
            }
        },
        "position": "bottom-right",
        "content": {
            "href": "/privacy-policy/"
        }
        });
    </script>
{% endif %}