{% set js %}
    {% include "_includes/assets/js/bravery-inline.js" %}
{% endset %}
{% if site.environment === 'production' %}
<script>{{ js | jsmin | safe }}</script>
{% endif %}
{% if section == "legal" %}
    <script src="https://app.termageddon.com/js/termageddon.js"></script>
{% endif %}