 <footer class="site-footer">
    <div class="panel--grid">
      <article class="legal">
        <p class="copyright">&copy; 2020 Bravery Media. All Rights Reserved.</p>
        <p class="disclaimer">Bravery does not submit blind RFP responses. If you would like us to submit a proposal for
          an RFP, please <a href="/contact/?utm_source=disclaimer">contact us</a> to discuss the project, first.</p>
      </article>
      <nav>
        <ul>
          <li><a href="/contact/" class="contact-link">Contact Us</a></li>
          <li><a href="/services/">Digital Strategy</a></li>
          <li><a href="/insight/">Insight</a></li>
          <li><a href="/privacy-policy/">Privacy Policy</a></li>
          <li><a href="/terms/">Terms of Service</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <script> window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#000000"
        },
        "button": {
          "background": "#6b4de0"
        }
      },
      "position": "bottom-right",
      "content": {
        "href": "/privacy-policy/"
      }
    }); </script>