<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="preload" href="https://f002.backblazeb2.com/file/bravery/webfont/name_sans-variable-subset-0.6.woff2" as="font" type="font/woff2" crossorigin>
    <title>{{ title or metadata.title }}{% if page.url != '/' %} / {{ metadata.sitename }} {% endif %}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" type="application/atom+xml" title="Bravery Media Insights" href="{{ metadata.feed.url }}"/>
    <link rel="preconnect" href="https://script.hotjar.com">
    <link rel="preconnect" href="https://vars.hotjar.com">
    {# Favicons #}
    <link rel="icon" href="/assets/icons/favicon.ico" sizes="any"> <!-- REVISED (Nov 8)! -->
    <link rel="icon" href="/assets/icons/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png"/>
    <link rel="manifest" href="/site.webmanifest" />
    {%- block seo -%}
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:image:height" content="1257">
    <meta property="og:image:width" content="2400">
    <meta property="og:title" content="{{ social.fb.title or metadata.social.fb.title }}">
    <meta property="og:description" content="{{ social.fb.description or metadata.social.fb.description }}">
    <meta property="og:url" content="{{ page.url }}">
    <meta property="og:image" content="{{ social.tw.image or metadata.social.tw.image }}">
    <meta property="og:site_name" content="{{ metadata.title }}">
    {% if metadata.social.fb.app_id %}
    <meta property="fb:app_id" content="{{ metadata.social.fb.app_id }}">
    {% endif %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ social.tw.title or metadata.social.tw.title }}">
    <meta name="twitter:description" content="{{ social.tw.description or metadata.social.tw.description }}">
    <meta name="twitter:site" content="{{ metadata.social.tw.site }}">
    <meta name="twitter:creator" content="{{ social.tw.creator or metadata.social.tw.creator }}">
    <meta name="twitter:image" content="{{ social.tw.image or metadata.social.tw.image }}">
    {%- endblock -%}
    {% if site.env === 'production' %}
        <!-- INLINE CSS-->
    {% endif %}
    {% set js %}
        {% include "_includes/assets/js/bravery.js" %}
    {% endset %}
    {% if site.env === 'production' %}
        <script>{{ js | jsmin | safe }}</script>
    {% endif %}
    {% if site.env === 'development' %}
        <link rel="stylesheet" href="/assets/css/bravery.css">
        <script src="/assets/js/bravery.bundle.js" defer="defer"></script>
    {% endif %}
</head>
