<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
            <link
                rel="preload"
                href="https://f002.backblazeb2.com/file/bravery/webfont/name_sans-variable-subset.woff2"
                as="font"
                type="font/woff2"
                crossorigin>
                <title>{{ title or metadata.title }}
                    {% if page.url != '/' %}
                        / {{ metadata.sitename }}
                    {% endif %}
                </title>
                <meta name="description" content="{{ description or metadata.description }}">
                    <link rel="alternate" type="application/rss+xml" href="{{ metadata.feed.url }}"/>
                    {% if sitetools.env === 'development' %}
                        <script src="/assets/js/bravery.bundle.js" defer="defer"></script>
                        <!-- INLINE CSS-->
                    {% endif %}
                    <style INLINE_CSS>
                        <link rel="preconnect" href="https://script.hotjar.com">
                            <link rel="preconnect" href="https://vars.hotjar.com">
                                <script async defer data-website-id="c0fdbf44-2fd2-4703-8c39-ac180ad60151" src="https://stats.bravery.co/umami.js"></script>
                                <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg">
                                    <link rel="mask-icon" href="/assets/icons/favicon.svg" color="#6b4de0">
                                        <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#6b4de0">
                                            <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
                                                <link rel="manifest" href="/site.webmanifest">
                                                    <meta name="apple-mobile-web-app-title" content="Bravery">
                                                        <meta name="application-name" content="Bravery">
                                                            <meta name="msapplication-TileColor" content="#da532c">
                                                                <meta name="theme-color" content="#050312">
                                                                    <meta property="og:locale" content="en_US">
                                                                        <meta property="og:type" content="website">
                                                                            <meta property="og:image:height" content="1257">
                                                                                <meta property="og:image:width" content="2400">
                                                                                    <meta property="og:title" content="{{ social.fb.title or metadata.social.fb.title }}">
                                                                                        <meta property="og:description" content="{{ social.fb.description or metadata.social.fb.description }}">
                                                                                            <meta property="og:url" content="{{ page.url }}">
                                                                                                <meta property="og:image" content="{{ social.fb.image or metadata.social.fb.image }}">
                                                                                                    <meta property="og:site_name" content="{{ metadata.title }}">
                                                                                                        {% if metadata.social.fb.app_id %}
                                                                                                            <meta property="fb:app_id" content="{{ metadata.social.fb.app_id }}">
                                                                                                            {% endif %}
                                                                                                            <meta name="twitter:card" content="summary_large_image">
                                                                                                                <meta name="twitter:title" content="{{ social.tw.title or metadata.social.tw.title }}">
                                                                                                                    <meta name="twitter:description" content="{{ social.tw.description or metadata.social.tw.description }}">
                                                                                                                        <meta name="twitter:site" content="{{ metadata.social.tw.site }}">
                                                                                                                            <meta name="twitter:creator" content="{{ social.tw.creator or metadata.social.tw.creator }}">
                                                                                                                                <meta name="twitter:image" content="{{ social.tw.image or metadata.social.tw.image }}"></head>