<nav class="site-links" role="navigation">
    {% set navPages = collections.all | eleventyNavigation %}
    {%- for entry in navPages %}
      <a href="{{ entry.url | url }}" class="nav-link" {% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
    {%- endfor -%}
</nav>
