<nav class="site-links" role="navigation" id="site-nav" aria-hidden="true" aria-label="Site Menu">
  <ul class="page-links">
    {% set navPages = collections.all | eleventyNavigation %}
    {%- for entry in navPages %}
      <li><a href="{{ entry.url | url }}" class="nav-link" {% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
    {%- endfor -%}
  </ul>
  <div class="nav-bg">
    <div class="sunrise">{% include "svg/sunrise.svg" %}</div>
    <div class="grid">{% include "svg/gridplane.svg" %}</div>
  </div>
</nav>
