<aside class="people--grid">
    <figure class="headshot-donna"> <img
        data-src="https://res.cloudinary.com/bravery/image/upload/f_auto,q_75,w_auto,dpr_auto/donna_tjrkbu.jpg"
        alt="Donna Talarico, Content Strategist" loading="lazy" width="300" height="300"> </figure>
    <figure class="headshot-joel"> <img
        data-src="https://res.cloudinary.com/bravery/image/upload/f_auto,q_80,w_auto,dpr_auto/JoelGoodman_ustwcj.jpg"
        alt="Joel Goodman, Principal" loading="lazy" width="300" height="300"> </figure>
    <figure class="headshot-brendan"> <img
        data-src="https://res.cloudinary.com/bravery/image/upload/f_auto,q_75,w_auto,dpr_auto/brendan_ume6oi.jpg"
        alt="Brendan Pittman, Creative Director" loading="lazy" width="300" height="300"> </figure>
    <figure class="headshot-kristin"> <img
        data-src="https://res.cloudinary.com/bravery/image/upload/f_auto,q_75,w_auto,dpr_auto/kristin_rfbtxb.jpg"
        alt="Kristin Van Dorn, UX Researcher" loading="lazy" width="300" height="300"> </figure>
</aside>