<section class="level power-packs">
    <h3 itemprop="name">Power Packs</h3>
    <p>Super-charge Bravery's research methods with a Power Pack. Paired with a <a href="{{ '/services/custom-insights/' | url }}">Custom Insights Report</a>, <a href="{{ '/services/website-strategy/' | url }}">Website Strategy Guide</a>, or <a href="{{ '/services/level-up/' | url }}">Level Up</a> research project, Bravery's team of digital strategists will put your tailored recommendations into action.</p>
    <ul>
    <li>Content Strategy</li>
    <li>Content Production</li>
    <li>Website Design</li>
    </ul>
</section>