<section class="constrain">
    <div class="turbo">
        <h2>{% include "assets/img/turbo-logo.svg" %}</h2>
        <div class="decoration">
            {% include "assets/img/vhs.svg" %}
            <span>HiFi</span>
            <span>Stereo</span>
        </div>
        <hr class="rainbow" />
        <article>
            <h3>Ideal for:</h3>
            <p>BOARD PRESENTATIONS, BUDGET PLANNING, RESOURCE ALLOTMENT, WEBSITE STRATEGY</p>
            <span class="price">$1,500</span>
        </article>
        <footer>
            <div class="time"><span>7</span>Day Results</div>
            {% if page.url == '/services/' or page.url == '/' %}
                <a href="{{ '/speedyu-turbo/' | url }}" class="button bright">Learn More</a>
            {% else %}
                <a href="{{ metadata.turbolink }}" class="button bright">Request Now</a>
            {% endif %}
        </footer>
    </div>
</section>