.navbar {
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: space-between;
    border-radius: 16px;
    border: 1px solid var(--color-primary-500, #691EFF);
    background: rgba(21, 6, 54, 0.75);
    box-shadow: 0px 0px 35px -12px rgba(255, 0, 108, 0.50);
    backdrop-filter: blur(7.5px);
    .brand {
        width: 15%;
        padding: 8px 0 8px 16px;
        flex: 0 1 15%;
        color: var(--color-dark-neon);
        &:hover {
            color: var(--color-hilite);
        }
    }
    @media ( min-width: 1024px ) {
        .menu-toggle {
            display: none;
        }
        .navbar-action {
            width: 15%;
            padding: 8px;
            flex: 0 1 15%;
        }
        .site-links {
            flex: 1 auto;
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 32px;
            > .cta {
                display: none;
            }
        }
    }
}