[data-theme=appb] {
    --theme-font: var(--font-appb);
    --theme-weight: 200;
    --accent: var(--color-primary-700);
    main > header {
        text-align: center;
        align-items: center;
        .hero {
            text-align: center;
            color: var(--accent);
            font-family: var(--theme-font);
            font-weight: var(--theme-weight);
            line-height: 1.2;
        }
    }
}
[data-theme=how2edu] {
    --theme-weight: 800;
    --accent: var(--color-hilite);
    --theme-bg: var(--gradient-howto);
}