.newsletter {
    &--subscribe {
        background-color: var(--color--neon);
        color: var(--color-white);
        font-family: var(--font-family);
        width: 100vw;
        margin-left: calc(var(--grid-unit) * -2);
        padding: calc(var(--grid-unit) * 6) calc(var(--grid-unit) * 2);
        &.neon {
            background: var(--gradient--neon);
        }
        h2 {
            font-family: var(--font-family) !important;
            text-transform: uppercase;
            font-weight: 1000 !important;
            font-size: 12.5vw;
            text-align: left;
            font-variation-settings: "opsz" 24;
            flex: 1 auto;
            line-height: 0.85;
            margin: 0;
        }
        header {
            display: flex;
            gap: var(--grid-unit);
            svg {
                width: 40vw;
            }
        }
    }
}
.cover.newsletter {
    background: var(--gradient--neon);
    color: var(--color-white);
    padding: 20vh calc(var(--grid-unit) * 2) 8vh;
    position: relative;
    z-index: 0;
    flex-direction: column;
    gap: calc( var(--grid-unit) * 6);
    h1 {
        display: block;
        height: auto;
        svg {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    @media ( min-width: 1024px ) {
        padding: 10vh calc(var(--grid-unit) * 4) 8vh;
        flex-direction: row;

        h1 {
            width: 72%;
            max-width: 72%;
            height: 82vh;
            max-height: 725px;
            z-index: 0;
            position: relative;
            svg {
                width: auto;
                height: 100%;
                max-height: 100%;
                max-width: 100%;
            }
        }
    }

}

.layout-newsletter .heht-form {
    p {
        font-size: var(--type-base);
        font-weight: 600;
        margin-top: 0;
    }
    @media ( min-width: 1024px ) {
        z-index: 1;
        width: 40%;
        position: absolute;
        right: calc(var(--grid-unit) * 2);
        bottom: 8vh;
        p {
            font-size: var(--type-base) !important;
        }
    }
}
form.heht-subscribe {
    background: var(--color-white);
    box-shadow: 0px 7px 16px -7px rgba(0, 0, 0, 0.25);
    border-radius: var(--grid-unit);
    display: flex;
    padding: 4px 4px 4px 16px;
    margin-top: calc( var(--grid-unit) * 6);
    transition: filter .45s ease-in-out;
    position: relative;
    input[type="email"] {
        border: 0;
        padding: 0;
        font-size: var(--type-base);
        color: var(--color-black);
        &::placeholder {
            color: var(--color-bright);
            opacity: 0.75;
        }
    }
    button {
        aspect-ratio: 1 / 1;
        margin: 0;
        padding: 0;
        height: 60px;
        width: 60px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px -4px rgba(0, 0, 0, 0.5);
        svg {
            width: 32px;
            height: 32px;
            transform: rotate(18deg);
        }
        &:hover {
            svg {
                animation: tilt-shake 0.15s infinite;
            }
        }
    }
    .confirmation {
        color: var(--color-black);
        p {
            margin: 0 !important;
        }
    }
    &.error {
        animation: tilt-shake 0.15s 5;
        button {
            filter: grayscale(100);
        }
        &:before {
            content: "We need a real email address!";
            display: flex;
            background: var(--color-hilite);
            color: var(--color-black);
            font-family: inherit;
            font-size: var(--type-sm);
            position: absolute;
            top: 0;
            left: 0;
            transform: translatey(-80%);
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: calc(var(--grid-unit) * 2) 0 calc(var(--grid-unit) * 3);
            z-index: -1;
            border-radius: var(--grid-unit);
        }
    }
}

.heht-testimonials {
    background-color: var(--color-white);
    padding: calc(var(--grid-unit) * 6) calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 14);
    display: flex;
    flex-direction: column;
    gap: calc( var(--grid-unit) * 4 );
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--color-neon);
        svg {
            height: 100px;
            width: 100px;
        }
        h2 {
            text-align: right;
            font-weight: 900;
            color: var(--color-bright);
            text-transform: uppercase;
            font-size: var(--type-super);
            line-height: 0.889;
            margin-top: calc(var(--grid-unit) * 2);
            margin-bottom: 0;
        }
    }
    .the-quotes {
        display: flex;
        flex-direction: column;
        gap: calc( var(--grid-unit) * 4 );
    }
    blockquote {
        background: var(--color-white);
        background-clip: padding-box;
        border-radius: calc(var(--grid-unit) * 2);
        position: relative;
        z-index: 1;
        padding: calc( var(--grid-unit) * 3) calc( var(--grid-unit) * 4);
        box-shadow: 0px 6px 31px -7px rgba(6, 3, 18, 0.2);
        &:before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: calc(var(--grid-unit) * 2);
            border: 0px solid transparent;
            background: var(--gradient--shout);
            background-repeat: no-repeat;
            -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            z-index: -1;
            padding: 1px;
        }
        p {
            font-weight: 400;
        }
        cite {
            font-weight: 700;
            color: var(--color-bright);
            font-size: var(--type-base);
        }
    }
    @media ( min-width: 1024px ) {
        display: grid;
        grid-template-columns: 1.75fr 2fr;
        align-items: start;
        padding: calc(var(--grid-unit) * 12) calc(var(--grid-unit) * 10) calc(var(--grid-unit) * 14);
        header {
            align-items: flex-end;
            gap: calc( var(--grid-unit) * 4 );
            grid-column: 2;
            position: sticky;
            top:calc(var(--grid-unit) * 12);
            svg {
                height: 176px;
                width: 176px;
            }
        }
        .the-quotes {
            grid-column: 1;
            grid-row: 1;
            gap: calc( var(--grid-unit) * 11 );
            padding-top: 190px;
        }
        blockquote {
            p {
                font-size: var(--type-md);
            }
        }
    }
    @media ( min-width: 1200px ) {
        header {
            h2 {
                font-size: var(--type-mega);
            }
        }
    }
}
.heht-archives {
    color: var(--color-white);
    background: var(--color-dark-neon);
    padding: calc(var(--grid-unit) * 12) var(--grid-unit);
    .icon-lg {
        display: none;
    }
    @media ( min-width: 1024px ){
        padding: calc(var(--grid-unit) * 12) calc(var(--grid-unit) * 10) calc(var(--grid-unit) * 14);
        > header {
            display: flex;
            align-items: flex-end;
            width: 70.8%;
            gap: calc(var(--grid-unit) * 2);
            margin-bottom: calc(var(--grid-unit) * 7);
            .icon-lg {
                display: flex;
                height: 247px;
                width: auto;
                flex: 0;
                transform: translateY(2.5px);
            }
            h2 {
                margin-bottom: 0;
                line-height: 0;
                flex: 1 auto;
            }
            svg {
                width: auto;
                height: auto;
                .icon-sm {
                    display: none;
                }
            }
        }
    }
}

.heht-grid {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-unit) * 4);
    @media ( min-width: 1024px ) {
        display: grid;
        gap: 3vw;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row;
    }
}
.card--heht {
    background: var(--color-white);
    box-shadow: 0px 8px 24px 1px rgba(0, 0, 0, 0.25);
    color: var(--color-black);
    padding: calc(var(--grid-unit) * 2);
    gap: calc(var(--grid-unit) * 2);
    display: flex;
    flex-direction: column;
    .button {
        margin: 0;
    }
    .card--cover {
        border-radius: calc(var(--grid-unit) * 2);
        overflow: hidden;
        aspect-ratio: 2 / 1;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .card--title {

        time {
            font-size: var(--type-sm);
        }
        h3 {
            margin-top: var(--grid-unit);
        }
    }
}

.heht-mini {
    width: 100%;
    padding: calc(var(--grid-unit) * 4);
    margin: calc(var(--grid-unit) * 4) auto;
    h3 {
        margin-bottom: 0;
        text-align: center;
    }
    form {
        margin-top: calc(var(--grid-unit) * 2);
    }

}

.layout-single-issue {
    body{
        background: var(--gradient--neon) fixed;
    }
    main {
        width: 96%;
        max-width: 896px;
        background: #FFFFFF;
        box-shadow: 0px 8px 24px 1px rgba(0, 0, 0, 0.25);
        margin: 80px auto;
        padding: calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 2);
        h2 {
            font-size: var(--type-md);
            margin-top: calc(4 * var(--grid-unit));
            margin-bottom: 0;
        }
        @media ( min-width: 760px ) {
            padding: calc(var(--grid-unit) * 6) calc(var(--grid-unit) * 9);
        }
    }
    .issue--cover {
        max-width: 500px;
    }
    .issue--title {
        display: flex;
        flex-direction: column;
        gap: calc(2 * var(--grid-unit));
        .issue--meta {
            font-size: var(--type-sm);
        }
        nav {
            margin-bottom: calc(8 * var(--grid-unit));
        }
        margin-bottom: calc(5 * var(--grid-unit));
        & > h1 {
            margin: 0;
        }
    }
}

.layout-podcast footer.subscribe,
.layout-single .heht-mini {
    background-image: var(--gradient--neon);
    padding: calc(var(--grid-unit) * 4);
    border-radius: 24px;
    color: var(--color-white);
}