[data-theme=heht],
[data-style=heht] {
    --theme-bg: linear-gradient(125deg, #6B4DE0 -29.83%, #FF00C7 40.92%, #FFF500 110.78%);
    --color: var(--color-white);
    --button-bg: var(--color-neon);
    --title-weight: 1000;
}

.layout-podcast footer.subscribe,
.layout-single .heht-mini {
    background-image: var(--gradient--neon);
    padding: calc(var(--grid-unit) * 4);
    border-radius: 24px;
    color: var(--color-white);
}