.article-list {
	background-color: transparent;
	display: block;
	width: 100vw;
	padding-left: 0;
	padding-right: 0;
	.article {
		border-top: 1px solid var(--color-bright);
		color: var(--color-white);
		text-decoration: none;
		display: block;
		position: relative;
		padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);
		font-variation-settings: "wght" 700, "opsz" 96;
		font-size: var(--type-md);
		&-cover {
			display: none;
		}
		&-title {
			display: block;
			width: 100%;
			position: relative;
			z-index: 2;
		}
		@include mq(md) {
			padding-left: calc(var(--grid-unit) * 6);
			padding-right: 0;
			font-size: var(--type-super);
			&-title {
				text-overflow: clip;
				white-space: nowrap;
				overflow: hidden;
			}
		}
		@include mq(lg) {
			&-cover {
				display: flex;
				box-shadow: 24px 32px 40px 0 rgba(0, 0, 0, 0.5);
				position: absolute;
				z-index: 1;
				right: 0;
				top: 50%;
				width: 20vw;
				transform: translateY(-50%);
				overflow: hidden;
				opacity: 0;
				transition: opacity 0.15s ease-in-out;
				&:before {
					content: "";
					display: block;
					width: 100%;
					height: 0;
					padding-top: 133%;
				}
				img {
					object-fit: cover;
					height: 100%;
					width: 100%;
					position: absolute;
					top: 0;
				}
			}
			&:hover {
				.article-cover {
					opacity: 1;
				}
			}
		}
	}
}

.layout-single {
	.cover {
		height: 65vh;
		padding-bottom: 2.5vh;
		overflow: hidden;

		> img {
			position: absolute;
			width: 100vw;
			left: 0;
			bottom: 0;
			height: 100%;
			object-fit: cover;
			object-position: center 75%;
			z-index: 0;

			&.lazy-loaded {
				opacity: 0.8;
			}
		}

		&:before {
			content: "";
			background: radial-gradient(
				circle,
				rgba(12, 6, 35, 0.9) 5%,
				rgba(12, 6, 35, 0) 30%
			);
			height: 100%;
			position: absolute;
			left: 0;
			right: 0;
			width: 100%;
			z-index: 1;
			bottom: -70%;
			transform: scale(5);
			mix-blend-mode: multiply;
		}

		.article-title {
			position: relative;
			z-index: 2;
			max-width: 800px;
			width: 100%;
			margin: 0 auto;

			a {
				color: currentColor;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
					color: var(--color-bright);
				}
			}

			.taxonomy,
			p {
				font-size: var(--type-sm);
				letter-spacing: 0.031em;
				text-shadow: 0 2px 4px rgba(0, 0, 0, 0.75);
			}

			h1 {
				margin-bottom: 0.75rem;
			}
		}
	}

	@include mq(md) {
		.cover {
			height: 65vh;
			padding: 0 calc(var(--grid-unit) * 4) calc(var(--grid-unit) * 6);
		}
		ul,
		ol {
			margin: calc(var(--grid-unit) * 4) 0;
			padding-left: 2em;
		}
	}

	@media (prefers-color-scheme: dark) {
		background: var(--color-black);
		color: var(--color-white);

		.article-content {
			background: #060312;

			a {
				color: var(--color-neon);
			}
		}
	}
}

.article-content {
	background: var(--color-white);
	width: 100vw;
	padding: calc(var(--grid-unit) * 8) calc(var(--grid-unit) * 2);
	position: sticky;
	top: 88px;

	.entry {
		width: 100%;
		max-width: 790px;
		margin: 0 auto;
		letter-spacing: 0.042em;
		font-size: var(--type-base);
	}

	h2 {
		font-size: var(--type-md);
		font-variation-settings: "wght" 550;
		margin-top: 1.5em;
		margin-bottom: 0.7em;
	}
	h3 {
		font-size: var(--type-base);
		font-variation-settings: "wght" 550;
	}
	a {
		color: var(--color-bright);

		&:hover {
			opacity: 0.8;
			text-decoration: none;
		}
	}

	p,
	li {
		font-variation-settings: "wght" 400;
	}
	ul {
		margin-top: calc(var(--grid-unit) * 3);
	}
	.jobs & {
		@include mq(md) {
			padding-left: 15vw;
			padding-right: 15vw;
			display: grid;
			grid-template-columns: 3fr 1fr;
			gap: 5vw;
			align-items: start;
			.entry {
				margin: 0;
			}
			aside {
				position: sticky;
				top: 88px;
			}
		}
		aside,
		.small {
			font-size: var(--type-sm);
		}
	}
}

.callout {
	padding-top: calc(var(--grid-unit) * 3);
	margin-bottom: calc(var(--grid-unit) * 6);
	blockquote {
		position: relative;
		&:before {
			content: "\201C";
			font-variation-settings: "wght" 850, "opsz" 96;
			color: var(--color-bright);
			font-size: var(--type-xl);
			position: absolute;
			left: 0;
			top: 0;
			transform: translateX(-140%);
			line-height: 1;
		}
	}
	p {
		margin-bottom: 0;
		font-size: var(--type-lg);
		font-variation-settings: "wght" 750, "opsz" 96 !important;
	}
}
.eleventy-plugin-embed-twitter {
	display: flex;
	justify-content: center;
}
