body {
	background-color: var(--color-black);
	font-size: 1rem;
	margin: 0;
	padding: 0;
	@include mq(sm) {
		font-size: var(--type-base);
	}
}

.faux-browser {
	background-image: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.8) 0%,
		rgba(250, 251, 252, 0.9) 100%
	);
	backdrop-filter: blur(20px);
	display: block;
	border-width: 0 1px 1px 1px;
	border-color: var(--color-white);
	border-style: solid;
	border-radius: 6px;
	position: relative;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
	overflow: hidden;
	height: 425px;
	@include mq(md) {
		height: 545px;
	}
	figcaption {
		background-image: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(250, 251, 252, 1) 100%
		);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: 100%;
		height: 40px;
		border-top-left-radius: 6px;
		background-clip: border-box;

		&:after,
		&:before {
			content: "";
			height: 11px;
			width: 11px;
			position: absolute;
			top: 15px;
			border-radius: 50%;
			z-index: 11;
		}

		&:before {
			background-color: #fc605c;
			left: 14px;
		}

		&:after {
			background-color: #fdbc40;
			left: 31px;
		}
	}

	> img {
		width: 100%;
		height: auto;
		padding-top: 40px;
		max-block-size: none;
	}

	.testimonial & {
		@include mq(sm) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: 0;
			> img {
				max-width: none;
				width: 110%;
			}
		}
	}
}
button,
.button {
	appearance: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc(var(--grid-unit) * 2);
	padding: calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 8);
	color: var(--color-white);
	width: 100%;
	margin: calc(var(--grid-unit) * 5) auto;
	border: 0px;
	border-radius: calc(var(--grid-unit) * 2);
	transition: var(--global-transition);
	font-family: inherit;
	cursor: pointer;
	font-variation-settings: "opsz" 24;
	font-weight: 600;
	svg {
		height: 16px;
		width: 16px;
	}
	&.nondescript {
		padding: 0;
		background: transparent;
	}

	&.primary,
	&.bright {
		background-color: var(--color-bright);
		&:hover {
			background: var(--color-black);
		}
	}

	&.pale {
		background-color: var(--color-white);
		color: var(--color-black);
		&:hover {
			background-color:var(--color-blue) ;
		}
	}

	&.dark {
		background-color: var(--color-black);
		&:hover {
			opacity: 0.8;
		}
	}

	&.rich {
		background-color: var(--color-rich);
	}
	&.synthwave {
		background: linear-gradient(var(--color-black), var(--color-black)) padding-box,
		linear-gradient(160deg, var(--color-neon) 20.87%, var(--color-black) 73.36%) border-box,
		var(--color-black);
		border: 1px solid transparent;
		position: relative;
		overflow: hidden;
		z-index: 1;
		&:after {
			background: radial-gradient(50% 50% at 50% 75.5%, var(--color-neon) 45%, transparent 100%), transparent;
			content: "";
			padding-top: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			transform: scale(0.7) translateY(80%);
			transition: all .6s ease-in-out;
			z-index: -1;
		}
		&:hover:after {
			transform: scale(0.9) translateY(55%);
		}
	}

	@include mq(md) {
		width: auto;
		padding-left: calc(var(--grid-unit) * 6);
		padding-right: calc(var(--grid-unit) * 6);
		font-size: var(--type-sm);
	}
}

a.button {
	text-decoration: none;
}

@include mq(sm) {
	.panel.testimonial .quotemark {
		position: absolute;
		width: 104px;
		top: 0;
		left: 0;
		transform: translateY(-48px) translateX(-69px);
	}
}

figure {
	line-height: 0;
	border-radius: calc(var(--grid-unit) * 3);
	overflow: hidden;
	background-clip: border-box;
	padding: 0;
	> img {
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
}
.video-embed {
	width: 90vw;
	max-width: 60rem;
	margin: 0 auto;
	box-shadow: 24px 32px 40px 0 rgba(0, 0, 0, 0.3);
}
.wistia_responsive_wrapper {
	border-radius: calc(var(--grid-unit) * 3);
}
.site-footer {
	background-color: var(--color-black);
	color: var(--color-white);
	font-size: var(--type-sm);
	padding: calc(var(--grid-unit) * 9) calc(var(--grid-unit) * 2);

	p {
		line-height: 1.5;
	}

	a {
		color: var(--color-white);
		transition: opacity 300ms ease;
		opacity: 1;

		&:hover {
			opacity: 0.6;
		}
	}

	nav {
		margin-top: calc(var(--grid-unit) * 8);

		a {
			text-decoration: none;
		}
	}

	ul,
	li {
		list-style: none;
		padding: 0;
	}

	li {
		margin-bottom: 1em;
	}

	@media (min-width: 960px) {
		font-size: var(--type-sm);
		align-items: start;
		justify-content: start;

		.legal {
			grid-column: 1;

			p.copyright {
				margin-top: 0;
			}
		}

		nav {
			grid-column: 2;
			margin: 0;

			ul {
				margin: 0;
			}
		}
	}
}

table {
	font-size: var(--type-sm);

	td {
		vertical-align: top;

		ul {
			margin-top: 0;
		}
	}

	thead {
		display: table-header-group;
		vertical-align: middle;
		border-top-color: inherit;
		border-right-color: inherit;
		border-bottom-color: inherit;
		border-left-color: inherit;
	}

	tr {
		display: table-row;
		vertical-align: inherit;
		border-top-color: inherit;
		border-right-color: inherit;
		border-bottom-color: inherit;
		border-left-color: inherit;
	}

	th {
		font-weight: 600;
	}

	th,
	td {
		padding: 12px 15px;
		text-align: left;
		border-bottom: 1px solid var(--color-bright);

		&:first-child {
			padding-left: 0;
		}
	}
}
.video-embed {
	position: relative;
	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.theme--invert {
	.button.primary:hover,
	.button.bright:hover {
		background-color: var(--color-neon);
	}
}