button,
.button {
	appearance: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: calc(var(--grid-unit));
	padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 5);
	color: var(--color-white);
	width: 100%;
	margin-top: calc(var(--grid-unit) * 5);
	margin-bottom: calc(var(--grid-unit) * 5);
	border: 0px;
	border-radius: calc(var(--grid-unit) * 2);
	transition: var(--global-transition);
	font-family: inherit;
	cursor: pointer;
	font-variation-settings: "opsz" 24;
	font-weight: 600;
	position: relative;
	svg {
		height: 16px;
		width: 16px;
	}
	&.nondescript {
		padding: 0;
		background: transparent;
	}

	&.primary {
		background-color: var(--color-bright);
		&:hover {
			background: var(--color-neon);
		}
	}

	&.bright {
		background: linear-gradient(97.18deg, #FF5C00 -14.15%, #FF00C7 101.55%), #FF00C7;
		overflow: hidden;
		z-index: 0;
		&:after {
			background-color: #FF00C7;
			content: "";
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			z-index: -1;
			border-radius: 34px;
			filter: blur(10px);
			transform: scale(1.2) translateX(100%);
            transition: all .35s ease-in-out;
		}
		&:hover:after {
			transform: scale(1.2) translateX(0);
		}
	}

	&.pale {
		background-color: var(--color-white);
		color: var(--color-black);
		&:hover {
			background-color:var(--color-blue) ;
		}
	}

	&.dark {
		background-color: var(--color-black);
		&:hover {
			opacity: 0.8;
		}
	}

	&.rich {
		background-color: var(--color-rich);
	}
	&.synthwave {
		background: linear-gradient(var(--color-black), var(--color-black)) padding-box,
		linear-gradient(160deg, var(--color-neon) 20.87%, var(--color-black) 73.36%) border-box,
		var(--color-black);
		border: 1px solid transparent;
		position: relative;
		overflow: hidden;
		z-index: 1;
		&:after {
			background: radial-gradient(50% 50% at 50% 75.5%, var(--color-neon) 45%, transparent 100%), transparent;
			content: "";
			padding-top: 100%;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			transform: scale(0.7) translateY(80%);
			transition: all .6s ease-in-out;
			z-index: -1;
		}
		&:hover:after {
			transform: scale(0.9) translateY(55%);
		}
	}

	@include mq(md) {
		width: auto;
		padding-left: calc(var(--grid-unit) * 6);
		padding-right: calc(var(--grid-unit) * 6);
		font-size: var(--type-sm);
	}
}

a.button {
	text-decoration: none;
}