@import "helpers";

@font-face {
	font-family: NameSansVF;
	src: url("https://f002.backblazeb2.com/file/bravery/webfont/Name_Sans_Variable-subset.woff2")
		format("woff2-variations");
	font-weight: 1 1000;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: NameSansVF;
	src: url("https://f002.backblazeb2.com/file/bravery/webfont/name_sans_italic-variable-subset-0.7.woff2")
		format("woff2-variations");
	font-display: swap;
	font-weight: 1 1000;
	font-style: italic;
}

@font-face {
	font-family: EightiesComeback;
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	src: url("https://bravery.s3.us-west-002.backblazeb2.com/webfont/EightiesComeback-MedCond-subset.woff2");
}

@font-face {
	font-family: EightiesComeback;
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	src: url("https://bravery.s3.us-west-002.backblazeb2.com/webfont/EightiesComeback-LtXCn-subset.woff2");
}

// CSS Variables
:root {
	--color-white: #fff;
	--color-black: #150635;
	--color-bright: #6b4de0;
	--color-rich: #5171a5;
	--color-neon: #FF00C7;
	--color-hilite: #FFF500;
	--color-orange: #FF5C00;
	--color-blue: #5BCEFF;
	--color-nav: #ffffff;
	--color-grey: #d5d5d5;
	--gradient--primary:  linear-gradient(91.95deg, #ff5c00 -15%, #ff00c7 22%, #6b4de0 55%, #6b4de0 70%, #ff00c7 85%, #ff5c00 105%);
	--gradient--shout: linear-gradient(124.97deg, #FFF500 -29.83%, #FF00C7 82.12%, #6B4DE0 142.13%);
	--font-family: NameSansVF, sans-serif;
	--grid-unit: 8px;

	--type-mega: clamp(1.777rem, calc(1.125em + 8.15vw), 8.398rem);
	--type-super: clamp(1.777rem, calc(1.125em + 4.15vw), 5.398rem);
	--type-xl: clamp(2.5rem, calc(1.125rem + 3.3vw), 4rem);
	--type-lg: clamp(1.777rem, calc(1.125rem + 5vw), 3rem);
	--type-md: clamp(1.333rem, calc(1.125rem + 2vw), 2.2rem);
	--type-base: clamp(1.125rem, calc(1.125rem + 5vw), 1.35rem);
	--type-sm: clamp(0.75rem, calc(1.125rem + 2vw), 1.125rem);
	--type-xs: clamp(0.563rem, calc(1.125rem + 2vw), 0.5rem);

	--font-weight-normal: 400;
	--font-weight-md: 500;
	--font-weight-bold: 700;
	--feature-simple-y: "ss08";

	--global-transition: all 0.3s ease-in-out;
}

@keyframes gradientMove {
	from {
		background-position: 200% center;
	}
}
