.cover {
	background: linear-gradient(180deg, rgba(21, 6, 54, 0) 0%, rgba(0, 0, 0, 0.37) 100%), #150636;
	background-blend-mode: multiply, normal;
	color: var(--color-white);
	min-height: 55vh;
	display: flex;
	position: sticky;
	top: 0;
	align-items: flex-end;
	z-index: -1;
	padding-top: 88px;
	padding-bottom: 10vh;
	min-height: 375px;

	h2 {
		font-size: var(--type-md);
		margin-top: calc(var(--grid-unit) * 8);
	}
	.layout-home & {
		.bg-grid {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			color: var(--color-blue);
			opacity: 83%;
			height: 23%;
			z-index: -1;
			overflow: hidden;
			svg {
				height: 100%;
				width: auto;
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	@include mq(sm) {
		p:not(.hero) {
			font-size: var(--type-sm);
			&.is-large {
				font-size: var(--type-base);
			}
		}
	}
	@include mq(md) {
		height: 98vh;
		padding-bottom: 20vh;
	}
	.hero {
		max-width: 1330px;
		margin-left: auto;
		margin-right: auto;
		font-size: clamp(2.375rem, 0.331rem + 8.721vi, 8.06rem);
		line-height: 95.513%;
		@include mq(xl) {
			&.constrain {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
	.layout-services & {
        background: var(--color-white);
        color: var(--color-black);
		flex-direction: column;
		justify-content: flex-end;
		align-items: start;
		position: relative;
		z-index: 1;
		h1 {
			font-size: var(--type-super);
			span:before {
				content: "\a";
				white-space: pre;
			}
		}
        @include mq(md) {
            height: 42vh;
			min-height: 640px;
            padding-bottom: 96px;
        }
	}
	.layout-jobs &,
	.layout-legal & {
		height: auto;
		min-height: 55vh;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		padding-bottom: 10vh;
		padding-top: 90px;
		p {
			font-size: var(--type-base);
			max-width: 720px;
		}
	}
}

.cover ~ *,
.cover ~ .panel {
    z-index: 2;
}