.cover {
    background-color: var(--color-black);
    color: var(--color-white);
    height: calc(100vh - 60px);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 calc(var(--grid-unit) * 2) calc(20vh - 60px);

    @media (min-width: 960px) and (min-height: 725px) {
        padding: 0 calc(var(--grid-unit) * 4) 20vh;
    }

    h1 {
        position: relative;
        z-index: 0;
        margin-bottom: calc(var(--grid-unit) * 5);
        width: 100%;
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }

    .layout-services & {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
        min-height: 100vh;
        padding-top: 45vh;

        h2 {
            font-size: 1.556em;
            margin-top: calc(var(--grid-unit) * 8);
        }

        @media (min-width: 960px) {
            display: block;
            padding-top: 25vh;

            h1 {
                margin-top: 0;
                position: sticky;
                top: 25vh;
            }

            h2 {
                font-size: 1.417em;
            }

            p {
                font-size: .75em;
                line-height: 1.45;

                &.is-large {
                    font-size: 1rem;
                }
            }
        }
    }

    .layout-legal & {
        height: 60vh;

        h1 {
            grid-column: 1 / end;
        }
    }

    .layout-insight & {
        height: 50vh;
        padding-bottom: 2.5vh;

        @include mq(md) {
            margin-bottom: 5vh;
        }
    }
}