// Forms
form {
	p {
		margin-bottom: 1em;

		&.honey {
			display: none; // honeypot for spam
		}
	}

	label {
		position: relative;
		font-family: var(--font-body);
		font-variation-settings: "opsz" 36;

		span {
			display: block;
			font-size: var(--type-sm);
			font-variation-settings: "wght" 600, "opsz" 36;
		}
	}

	input,
	textarea {
		background: transparent;
		appearance: none;
		border: 2px solid var(--color-bright);
		border-radius: 0;
		color: inherit;
		font-size: 1em;
		font-family: var(--font-body);
		padding: calc(var(--grid-unit) * 2) var(--grid-unit);
		width: 100%;
		transition: all 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
		border-radius: var(--grid-unit);

		@include mq(md) {
			font-size: var(--type-sm);
		}
	}
	button {
		margin-top: 0;
	}
}
