$mq: (
	"xs": 320px,
	"sm": 768px,
	"md": 1024px,
	"lg": 1400px,
	"xl": 1600px,
	"huge": 1980px,
);

@mixin mq($res) {
	@if tiny==$res {
		@media only screen and (max-width: #{ map-get($mq, "sm") - 1 }) {
			@content;
		}
	}

	@if sm==$res {
		@media only screen and (min-width: #{map-get($mq, "sm")}) {
			@content;
		}
	}

	@if md==$res {
		@media only screen and (min-width: #{map-get($mq, "md")}) {
			@content;
		}
	}

	@if lg==$res {
		@media only screen and (min-width: #{map-get($mq, "lg")}) {
			@content;
		}
	}

	@if xl==$res {
		@media only screen and (min-width: #{map-get($mq, "xl")}) {
			@content;
		}
	}

	@if huge==$res {
		@media only screen and (min-width: #{map-get($mq, "huge")}) {
			@content;
		}
	}
}

.constrain,
.panel--grid {
	padding-left: calc(var(--grid-unit) * 2);
	padding-right: calc(var(--grid-unit) * 2);
	@include mq(md) {
		padding-left: calc(var(--grid-unit) * 10.75);
		padding-right: calc(var(--grid-unit) * 10.75);
	}
	@include mq(xl) {
		padding-left: calc(0.5 * (100vw - 1550px));
		padding-right: calc(0.5 * (100vw - 1550px));
	}
}

@keyframes tilt-shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes poweroff {
    0%, 36%   { transform: scale(1, 1); }
    46%       { transform: scale(1, 0.02); opacity: 0.8; }
    50%, 100% { transform: scale(0, 0); opacity: 0.3; }
}

@keyframes poweron {
    0%   	{ transform: scale(0.8); opacity: 0; }
    50%     { transform: scale(0.9); opacity: 1; }
    100% 	{ transform: scale(1); opacity: 1; }
}