.panel {
	background: var(--color-white);
	color: var(--color-black);
	min-height: 100vh;
	padding-top: calc(var(--grid-unit) * 8);
	padding-bottom: calc(var(--grid-unit) * 8);
	display: flex;
	align-items: center;
	@include mq(sm) {
		padding-top: calc(var(--grid-unit) * 15);
		padding-bottom: calc(var(--grid-unit) * 15);
	}
	&--grid {
		width: 100%;
		@include mq(sm) {
			display: grid;
			align-items: start;
			gap: 5vw;
			grid-template-columns: 1fr 1fr;
		}
	}
	article {
		@include mq(sm) {
			position: sticky;
			top: 10vh;
		}
		@include mq(lg) {
			position: sticky;
			top: 20vh;
		}
	}
	// Sections
	&.about {
		aside {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 10vw;
			margin-top: calc(var(--grid-unit) * 14);
			figure {
				box-shadow: 24px 32px 40px 0 rgba(0, 0, 0, 0.1);
				width: 70%;
				line-height: 0;
			}
			figure:nth-child(odd) {
				margin-left: auto;
			}
			figure:nth-child(even) {
				margin-right: auto;
			}
			@include mq(md) {
				gap: 5vw;
				margin-top: calc(var(--grid-unit) * 50);
				margin-bottom: calc(var(--grid-unit) * 50);
			}
		}
	}
	&.services {
		position: relative;
		.divider-grid {
			color: var(--color-neon);
		}
		ul {
			max-width: none;
			columns: 2;
			column-gap: 5.5vw;
			font-size: var(--type-sm);
			li {
				margin-bottom: 1rem;
			}
		}
		@include mq(sm) {
			.panel--grid {
				gap: calc(var(--grid-unit) * 5);
			}
			header {
				grid-row: 1;
				grid-column: 1 / end;
				h2 {
					margin: 0;
				}
			}
			.work-list {
				position: relative;
				top: unset;
				grid-row: 2;
				grid-column: 1 / end;
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: start;
				justify-items: start;
				gap: 0 5vw;
				p,
				.button {
					grid-column: 1;
					margin: 0;
				}
				ul {
					grid-column: 2;
					grid-row: 1 / span 2;
					align-items: start;
				}
			}
		}
	}
	&.company {
		flex-direction: column;
		gap: 5vw;
		article {
			position: relative;
			max-width: 615px;
			margin: 0 auto;
			top: unset;
		}
	}
	&.testimonial {
		@include mq(md) {
			padding-left: 0;
			padding-right: 0;
			blockquote {
				grid-column: 2;
			}
			figure {
				grid-column: 4;
			}
		}
	}
	&.theme--invert {
		background-color: var(--color-black);
		color: var(--color-white);
	}
	&.theme--rich {
		background-color: var(--color-rich);
		color: var(--color-white);
	}

	// Services
	&.packages {
		padding: 0;
		display: block;
	}
}
.people--grid {
	display: flex;
	gap: calc(var(--grid-unit) * 2);
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	padding-left: calc(var(--grid-unit) * 2);
	padding-right: calc(var(--grid-unit) * 2);
	margin-top: calc(var(--grid-unit) * 9);
	> figure {
		flex: 0 1 25%;
		border-radius: calc(var(--grid-unit) * 2);
		box-shadow: 24px 32px 40px 0 rgba(0, 0, 0, 0.1);
		&:nth-child(even) {
			transform: translateY(-15%);
		}
		@include mq(md) {
			flex: 0 1 300px;
			border-radius: calc(var(--grid-unit) * 3);
		}
	}
	@include mq(md) {
		padding-left: calc(var(--grid-unit) * 4);
		padding-right: calc(var(--grid-unit) * 4);
	}
}
.panel--grid.breakout {
	@include mq(md) {
		display: grid;
		grid-template-columns: 2fr 5fr 1fr 4fr;
		align-items: center;
		gap: 3vw;
		max-width: 100vw;
	}
}

// Blog
.article-list {
	background-color: transparent;
	display: block;
	width: 100vw;
	padding-left: 0;
	padding-right: 0;
	.article {
		border-top: 1px solid var(--color-bright);
		color: var(--color-white);
		text-decoration: none;
		display: block;
		position: relative;
		padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);
		font-variation-settings: "wght" 700, "opsz" 96;
		font-size: var(--type-md);
		&-cover {
			display: none;
		}
		&-title {
			display: block;
			width: 100%;
			position: relative;
			z-index: 2;
		}
		@include mq(md) {
			padding-left: calc(var(--grid-unit) * 6);
			padding-right: 0;
			font-size: calc(var(--type-super) * 1.15);
			&-title {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
			&-cover {
				display: flex;
				box-shadow: 24px 32px 40px 0 rgba(0, 0, 0, 0.5);
				position: absolute;
				z-index: 1;
				right: 1vw;
				top: 50%;
				width: 20vw;
				transform: translateY(-50%);
				overflow: hidden;
				opacity: 0;
				transition: opacity 0.15s ease-in-out;
				&:before {
					content: "";
					display: block;
					width: 100%;
					height: 0;
					padding-top: 115%;
				}
				img {
					object-fit: cover;
					height: 100%;
					width: 100%;
					position: absolute;
					top: 0;
				}
			}
			&:hover {
				.article-title {
					mix-blend-mode: difference;
					color: var(--color-bright);
					background: linear-gradient(
						91.95deg,
						#ff5c00 -15%,
						#ff00c7 22%,
						#6b4de0 55%,
						#6b4de0 70%,
						#ff00c7 85%,
						#ff5c00 105%
					);
					background-size: 200% auto;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					animation: gradientMove 25s linear infinite;
				}
				.article-cover {
					opacity: 1;
				}
			}
		}
	}
}

// Services
.package {
	display: grid;
	gap: 15vw;
	justify-content: start;
	.sticky-quote {
		grid-row: 1;
		@include mq(md) {
			position: sticky;
			top: 0;
			height: 100vh;
		}
	}
	> article {
		grid-row: 2;
		padding: 0 calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 8);
		@include mq(md) {
			grid-row: 1;
			padding: 15vh 8vw 15vh calc(var(--grid-unit) * 4);
		}
	}
	@include mq(md) {
		gap: 0;
		grid-template-columns: 1fr 1fr;
		align-items: start;
	}
}
.sticky-quote {
	display: flex;
	align-items: center;
	justify-content: center;
	blockquote {
		padding: calc(var(--grid-unit) * 8) calc(var(--grid-unit) * 2);
		> p {
			font-size: var(--type-base);
		}
		@include mq(md) {
			padding: calc(var(--grid-unit) * 8);
			> p {
				font-size: var(--type-md);
			}
			footer {
				margin-bottom: -25%;
			}
		}
	}
	#strategy & {
		background-color: var(--color-white);
		background-image: url("/assets/img/blocks.svg");
		background-size: 106px 100px;
	}
	#design & {
		background-color: #643ad4;
		background-image: url("/assets/img/windmill.svg");
		background-size: 160px 160px;
		color: var(--color-white);
	}
	#optimization & {
		background-image: url("/assets/img/bullseye.svg");
		background-size: cover;
		background-position: center;
		color: var(--color-white);
	}
}

.addons {
	padding: calc(var(--grid-unit) * 8) calc(var(--grid-unit) * 2);
	header {
		margin-bottom: 2rem;
	}
	@include mq(md) {
		display: block;
		padding: calc(var(--grid-unit) * 20) calc(var(--grid-unit) * 10);
		header {
			max-width: 73%;
			p {
				font-size: calc(var(--type-base) * 1.1);
			}
		}
		article {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0 5vw;
		}
	}
	@include mq(lg) {
		padding: calc(var(--grid-unit) * 20) 0;
	}
}
#performance-price {
	.panel--grid {
		display: flex;
		justify-content: center;
		> article {
			max-width: 620px;
		}
	}
}

.layout-single {
	body {
		background-color: var(--color-white);
	}
	.article--cover {
		img {
			width: 100%;
			height: auto;
			border-radius: calc(var(--grid-unit) * 3);
			box-shadow: 24px 32px 40px 0 rgba(0, 0, 0, 0.1);
		}
		&.video-embed {
			width: auto;
			aspect-ratio: 16 / 9;
			margin-bottom: calc(var(--grid-unit) * 5);
		}
	}
	.all-articles {
		display: none;
	}
	.article--title {
		p {
			font-size: var(--type-sm);
		}
	}
	main {
		padding: 80px calc(var(--grid-unit) * 2) 5vh;
		display: grid;
		grid-template-columns: 100%;
		gap: calc(var(--grid-unit) * 3);
		article {
			padding-bottom: 25vh;
		}
		aside {
			grid-row: 1;
		}
		ol li {
			list-style: decimal;
		}
	}
	@include mq(sm) {
		main {
			padding: 90px 10vw 5vh;
			article {
				padding-left: calc(var(--grid-unit) * 4);
				padding-right: calc(var(--grid-unit) * 4);
			}
		}
	}
	@include mq(md) {
		main {
			gap: calc(var(--grid-unit) * 4);
			grid-template-columns: 1fr 43vw 43vw 1fr;
			grid-auto-flow: row;
			align-items: start;
			padding: 0;
		}
		main article {
			padding-top: 20vh;
			grid-column: 3;
		}
		main aside {
			grid-column: 2;
			grid-row: -1 / span 3;
			display: grid;
			align-items: start;
			gap: inherit;
			grid-template-columns: auto repeat(5, 1fr);
			grid-template-rows: 0 auto;
			position: sticky;
			min-height: 100vh;
			padding-top: 15vh;
			padding-bottom: 15vh;
			top: 0;
			&:after {
				content: "";
				position: absolute;
				right: 0;
				height: 90vh;
				top: 10vh;
				background-color: var(--color-rich);
				width: 1px;
			}
		}
		.article--cover {
			grid-column: 2 / span 4;
			grid-row: 2;
			&.video-embed {
				grid-column: 1 / span 5;
				margin: 0;
				aspect-ratio: 16 / 9;
			}
		}
		.all-articles {
			display: block;
			font-size: var(--type-sm);
			margin-top: -5vh;
		}
	}
}
.layout-jobs {
	.job-post {
		padding: 10vh calc(var(--grid-unit) * 2);
		display: block;
		@include mq(md) {
			display: grid;
			grid-template-columns: 70fr 30fr;
			gap: calc(var(--grid-unit) * 5);
			align-items: start;
			padding: 15vh 20vw;
		}
	}
	.apply-action {
		p {
			font-size: var(--type-sm);
		}
	}
}
@include mq(md) {
	.apply-action {
		position: sticky;
		top: 10vh;
		padding-top: 11.5vh;
		p {
			margin: 0;
		}
	}
}

.layout-contact {
	color: var(--color-white);
	main {
		padding: 10vh calc(var(--grid-unit) * 2);
		p {
			font-size: var(--type-sm);
			@include mq(md) {
				font-size: var(--type-base);
			}
		}
	}
	button.trigger-navback {
		display: flex;
		justify-content: flex-end;
		font-size: var(--type-super);
		@include mq(md) {
			width: auto;
			font-size: var(--type-lg);
			margin: 0;
			padding-left: calc(var(--grid-unit) * 4);
			padding-right: calc(var(--grid-unit) * 4);
		}
	}
	@include mq(md) {
		.toolbar {
			padding: 0;
			justify-content: flex-end;
		}
		header {
			position: sticky;
			top: 11vh;
		}
	}
}
.layout-services .services, #needs {
	background: radial-gradient(72.51% 32.76% at 88.13% 81.02%, rgba(255, 0, 199, 0.29) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(153.75% 70.04% at 99.07% 90.65%, rgba(255, 92, 0, 0.37) 22.94%, rgba(0, 0, 0, 0) 100%), url("/assets/svg/grain.svg"), #150636;
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: screen, screen, multiply, normal;
	color: var(--color-white);
	padding-top: calc(var(--grid-unit) * 20);
	position: relative;
	h2 {
		font-size: var(--type-lg);
		font-weight: 700;
	}
	.intro {
		padding-bottom: calc(var(--grid-unit) * 12);
		p {
			margin-top: 0;
		}
	}
}
.layout-legal {
	#policy {
		max-width: 100%;
		height: auto;
	}
	.panel.legal article {
		display: block;
		position: static;
		top: unset;
	}
}
@include mq(md) {
	.panel.legal .panel--grid {
		grid-template-columns: repeat(8, 1fr);
		#policy {
			grid-column: 2 / span 6;
		}
	}
}

.has-divider-top {
	position: relative;
	&:before {
		content: "";
		background-color: inherit;
		height: 62px;
		width:100%;
		top: 0;
		left: 0;
		overflow: hidden;
		line-height: 0;
		position: absolute;
		-webkit-mask-image: url('/assets/svg/mask-wave.svg');
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-size: contain;
		mask-image: url('/assets/svg/mask-wave.svg');
		mask-repeat: no-repeat;
		mask-size: cover;
		mask-position: -5px center;
		transform: translateY(-58px);
		@include mq(md) {
			mask-position: unset;
		}
	}
}

.services.has-divider-top:before {
	background: var(--color-black);
}

.layout-ui {
	main {
		h1 {
			font-size: var(--type-lg);
		}
		h2 {
			font-weight: 700;
			font-size: var(--type-md);
			margin-top: 3rem;
		}
		ul {
			margin-top: 0;
		}
		ul li {
			margin-bottom: 1rem;
		}
		@include mq(md) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			align-items: start;
		}
	}
	.ui-details {
		background-color: var(--color-white);
		padding: 35vh calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 4);
		@include mq(md) {
			padding: 35vh calc(var(--grid-unit) * 9) calc(var(--grid-unit) * 8) calc(var(--grid-unit) * 4);
		}
	}
	#contact {
		background: radial-gradient(72.51% 32.76% at 88.13% 81.02%, rgba(255, 0, 199, 0.29) 0%, rgba(0, 0, 0, 0) 100%), radial-gradient(153.75% 70.04% at 99.07% 90.65%, rgba(255, 92, 0, 0.37) 22.94%, rgba(0, 0, 0, 0) 100%), url("/assets/svg/grain.svg"), #150636;
		background-repeat: no-repeat;
		background-size: cover;
		background-blend-mode: screen, screen, multiply, normal;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: calc( var(--grid-unit) * 6);
		padding: calc(var(--grid-unit) * 11) calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 4);
		.ui-logo {
			color: var(--color-white);
			width: 188px;
			height: 52px;
		}
		@include mq(md) {
			position: sticky;
			top: 0;
			padding: 35vh calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 8);
			justify-content: space-between;
		}
	}
}
#bravery-cal-inline{
	width: 100%;
}