.layout-podcast body {
    background-color: var(--color-white);
    color: #000;
    .pod-title {
        font-family: EightiesComeback, "Times New Roman", serif;
        font-weight: 200;
    }
    h2 {
        font-family: EightiesComeback, "Times New Roman", serif;
        font-weight: 500;
    }
    .pod-title {
        font-size: var(--type-mega);
        line-height: inherit;
    }
    .all-episodes {
        display: flex;
        align-items: center;
        font-size: var(--type-sm);
    }
    main {
        width: 100%;
        margin-top: calc(var(--grid-unit) * 6);
        padding: 0 calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 6);
        @include mq(sm) {
		    margin-top: calc(var(--grid-unit) * 9);
            padding: 0 calc(var(--grid-unit) * 4) calc(var(--grid-unit) * 9);
        }
        header {
            text-align: center;
            padding: calc(var(--grid-unit) * 3) 0 0;
            &.episode--title {
                text-align: left;
                padding: 0;
            }
            @include mq(sm) {
                padding: calc(var(--grid-unit) * 6) 0 calc(var(--grid-unit) * 15);
            }
        }
    }
}
.episode--title,
.episode--transcript {
    grid-column: 2;
}
.episode--transcript,
.episode--title h1 {
   max-width: 760px;
}
.episode--title {
    h1 {
        text-align: left;
        font-family: EightiesComeback, "Times New Roman", serif;
        font-weight: 500;
    }
}
.episode--media {
    grid-column: 1;
    grid-row: 1 / 3;
    margin-bottom: calc(var(--grid-unit) * 8);
}
.episode-list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--grid-unit) * 4);
    max-width: 1100px;
    margin: calc(var(--grid-unit) * 3) auto calc(var(--grid-unit) * 11);
    @include mq(sm) {
        gap: calc(var(--grid-unit) * 8);
    }
}
.episode.mini,
.episode--player {
    padding: calc(var(--grid-unit) * 2);
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    gap: calc(var(--grid-unit) * 2);
    border-radius: calc(var(--grid-unit) * 4);
    box-shadow: 0px 4px 24px -8px rgba(0, 0, 0, 0.25);
    @include mq(sm) {
        display: flex;
        flex-wrap: wrap;
        padding: calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 6) calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 2);
        gap: calc(var(--grid-unit) * 4);
    }
}
.episode {
    &.full {
        @include mq(sm) {
            display: grid;
            grid-template-columns: minmax(532px, 4fr) minmax(auto, 6fr);
            gap: calc( var(--grid-unit) * 2 ) calc(var(--grid-unit) * 12);
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;
        }
        .meta {
            display: flex;
            align-items: center;
            gap: calc( var(--grid-unit) * 2 );
            margin-bottom: calc( var(--grid-unit) * 4 );
            &:after {
                content: "";
                height: 1px;
                flex: 1 1 auto;
                background-color: var(--color-bright);
            }
        }
    }
    &.mini {
        display: grid;
        grid-template-rows: auto auto;
        .cover-art {
            display: none;
            @include mq(sm) {
                display: flex;
                height: 315px;
                width: 315px;
                grid-row: 1;
                grid-column: 1;
            }
        }
        .episode--detail {
            padding-top: calc(var(--grid-unit) * 2);
            grid-row: 1;
            grid-column: 2;
        }
        h2 {
            font-size: var(--type-md);
            margin-bottom: 0;
            margin-top: calc(var(--grid-unit) * 2);
        }
        audio {
            width: 100%;
            border-radius: calc(var(--grid-unit) * 2);
            grid-row: 2;
            grid-column: -1 / span 2;
            height: 40px;
        }
    }
    .meta {
        font-size: var(--type-sm);
        font-weight: 800;
        flex: 0;
    }
}
.pod-description {
    font-size: var(--type-sm);
    margin-top: 0;
    line-height: 1.26;
    @include mq(sm) {
        font-size: var(--type-base);
    }
}
.episode--player {
    display: flex;
    flex-direction: column;
    padding: calc(var(--grid-unit) * 2);
    gap: calc(var(--grid-unit) * 2);
    .cover-art {
        display: none;
    }
    button,
    .button {
        margin: 0;
        flex: 1 50%;
    }
    .player-controls {
        display: flex;
        flex-direction: column;
        gap: var(--grid-unit);
        @include mq(sm) {
            gap: inherit;
            flex-direction: row;
        }
    }
    @include mq(sm) {
        position: sticky;
        top: calc(var(--grid-unit) * 15);
        .cover-art {
            display: flex;
        }
    }
}
.cover-art {
    margin: 0;
}