table {
    font-size: .75em;

    td {
        vertical-align: top;

        ul {
            margin-top: 0;
        }
    }

    thead {
        display: table-header-group;
        vertical-align: middle;
        border-top-color: inherit;
        border-right-color: inherit;
        border-bottom-color: inherit;
        border-left-color: inherit;
    }

    tr {
        display: table-row;
        vertical-align: inherit;
        border-top-color: inherit;
        border-right-color: inherit;
        border-bottom-color: inherit;
        border-left-color: inherit;
    }

    th {
        font-weight: $weight-bold;
    }

    th,
    td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #E1E1E1;

        &:first-child {
            padding-left: 0;
        }
    }
}