h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-body);
    font-weight: normal;
    line-height: 1.1;
    font-variation-settings: 'opsz'96, 'wght'275;
}

h1 {
    font-size: var(--type-xl);
    // letter-spacing: -.0145;
    font-variation-settings: 'wght'800, 'opsz'96;

    span {
        color: var(--color-bright);
    }

    @include mq(md) {
        &.super {
            font-size: var(--type-super);
        }
    }
}

h2 {
    font-size: var(--type-xl);
    margin-bottom: calc(var(--grid-unit) * 5);

    >span {
        color: var(--color-bright);
        font-variation-settings: 'opsz'96,'wght'700;
    }
}

h3 {
    font-size: var(--type-md);
}

p {
    line-height: 1.65;
    margin-top: 1em;
    margin-bottom: 1.35em;
}

ul,
ol {
    margin: calc(var(--grid-unit) * 8) 0;
    padding-left: 1.25em;

    >li {
        line-height: 1.65;
        margin-bottom: .8em;
        padding: 0;
    }
}

strong {
    font-variation-settings: 'opsz'96,'wght'600;
}

blockquote {
    margin: 0;

    >p {
        font-size: var(--type-md);
        letter-spacing: -.0051em;
        margin-top: 0;
        line-height: 1.4;
        margin-bottom: calc(var(--grid-unit) * 4);
        font-variation-settings: 'wght'800, 'opsz'96;

        @include mq(md) {
            font-size: 1.667em;
        }
    }

    .quotemark {
        width: 48px;
        opacity: .2;
    }

    cite {
        font-style: normal;
        font-size: 1.333em;

        @include mq(md) {
            font-size: 1rem;
        }
    }

    footer {
        font-weight: $weight-medium;
        transform: translate3d(0, 0, 0);

        p {
            text-transform: uppercase;
            font-size: .667em;
            letter-spacing: .1em;
            margin-bottom: calc(var(--grid-unit) * 8);
            font-variation-settings: 'opsz'24;
        }

        @include mq(md) {
            margin-top: calc(var(--grid-unit) * 6)
        }
    }

}

hr {
    border: 0;
    height: 1px;
    background: var(--color-rich);
    margin-top: 3em;
    margin-bottom: 3em;
}

@media (prefers-color-scheme: dark) {
    hr {
        background: var(--color-neon);
    }
    }