html {
	font-family: var(--font-family);
}
body {
	font-size: var(--type-base);
}
h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
	line-height: 1.1;
	font-variation-settings: "opsz" 96;
	font-weight: 275;
	> span {
		font-feature-settings: var(--feature-simple-y);
	}
}

h1 {
	font-size: var(--type-xl);
	font-variation-settings: "opsz" 96;
	font-weight: 800;
	&.mega {
		font-weight: 1000;
		text-transform: uppercase;
	}
}

h2 {
	font-size: var(--type-xl);
	margin-bottom: calc(var(--grid-unit) * 5);
	.loud {
		font-weight: 700;
	}
}

h3 {
	font-size: var(--type-md);
	margin-top: 1.5rem;
	font-weight: 800;
}

p {
	line-height: 1.65;
	margin-top: 1.35em;
	&.hero {
		font-size: var(--type-super);
		font-variation-settings: "opsz" 96;
		font-weight: 800;
		line-height: 1.1;
		margin-bottom: 0;
	}
}
a {
	color: inherit;
}
main {
	a {
		text-decoration: underline 2px solid var(--color-neon);
		text-underline-offset: 4px;
		-webkit-text-underline-offset: 4px;
		-webkit-text-decoration-line: underline;
		-webkit-text-decoration-thickness: 2px;
		-webkit-text-decoration-color: var(--color-neon);
		text-underline-offset: 4px;
		text-decoration-line: underline;
		text-decoration-thickness: 2px;
		text-decoration-color: var(--color-neon);
		transition: var(--global-transition);
		&:hover {
			-webkit-text-decoration-color: var(--color-bright);
			text-decoration-color: var(--color-bright);
		}
	}
}
ul,
ol {
	margin: calc(var(--grid-unit) * 2) 0 calc(var(--grid-unit) * 4);
	padding-left: 1.25em;

	> li {
		line-height: 1.65;
		margin-bottom: 0.8em;
		padding: 0;
	}
}

strong {
	font-variation-settings: "opsz" 96;
	font-weight: 600;
}

blockquote {
	margin: 0;
	position: relative;
	> p {
		font-size: var(--type-md);
		letter-spacing: -0.0051em;
		margin-top: 0;
		line-height: 1.4;
		margin-bottom: calc(var(--grid-unit) * 4);
		font-variation-settings: "opsz" 96;
		font-weight: 800;

		@include mq(md) {
			font-size: calc(var(--type-lg) * 0.8);
		}
	}

	.quotemark {
		width: 48px;
		opacity: 0.2;
	}

	cite {
		font-style: normal;
		font-size: var(--type-md);
		@include mq(sm) {
			font-size: var(--type-sm);
		}
		@include mq(md) {
			font-size: var(--type-base);
			font-weight: 450;
		}
	}

	footer {
		font-weight: var(--font-weight-bold);
		transform: translate3d(0, 0, 0);
		font-size: var(--type-sm);
		p {
			margin-bottom: var(--grid-unit);
			// font-variation-settings: "opsz" 24;
			line-height: 1.2;
		}
		@include mq(md) {
			margin-top: calc(var(--grid-unit) * 6);
			font-size: var(--type-base);
			p {
				font-size: var(--type-sm);
			}
		}
	}
	&.synthwave {
		position: relative;
		padding: calc(var(--grid-unit) * 5) calc(var(--grid-unit) * 7);
		width: 90vw;
		max-width: 724px;
		border-radius: calc(var(--grid-unit) * 2);
		& > p {
			text-align: justify;

			@include mq(md) {
				font-size: calc(var(--type-md) * 0.85);
			}
		}
		p, cite {
			filter: drop-shadow(12px 0px 20px rgba(255, 0, 199, 0.5)) drop-shadow(3px 0px 8px rgba(255, 92, 0, 0.5)) drop-shadow(-8px 0px 20px rgba(255, 245, 0, 0.5));
		}
		&:after {
			content:"\201C";
			font-size: 120px;
			filter: drop-shadow(12px 0px 20px rgba(255, 0, 199, 0.5)) drop-shadow(3px 0px 8px rgba(255, 92, 0, 0.5)) drop-shadow(-8px 0px 20px rgba(255, 245, 0, 0.5));
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-30%, -20%);
			font-weight: 1000;
			font-variation-settings: "opsz" 96;
		}
		&:before {
			content: "";
			position: absolute;
			inset: 0;
			border-radius: calc(var(--grid-unit) * 2);
			border: 0px solid transparent;
			background: linear-gradient(299.69deg, #5BCEFF 73.49%, rgba(91, 206, 255, 0) 98.84%);
			background-repeat: no-repeat;
			-webkit-mask:
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			mask:
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: xor;
			mask-composite: exclude;
			z-index: -1;
			padding: 3px;
		}
	}
}

hr {
	border: 0;
	height: 1px;
	background: var(--color-rich);
	margin-top: 3em;
	margin-bottom: 3em;
}

@media (prefers-color-scheme: dark) {
	hr {
		background: var(--color-neon);
	}
}

span.brand {
	font-feature-settings: var(--feature-simple-y);
}
:not(.layout-home) main ul {
	li {
		list-style-type: "\203A"; // for safari
		margin-bottom: 0.5em;
		padding-left: var(--grid-unit);
		&::marker {
			content: "\203A";
		}
	}
}

.site-footer li {
	list-style: none;
	list-style-type: none;
}
// Article type
[class^="layout-single"],
.layout-jobs {
	.article--content {
		p,
		li {
			font-size: var(--type-sm);
		}
		li {
			margin-bottom: 0.6em;
			list-style-type: inherit;

		}
		ol {
			list-style-type: decimal;
			li::marker {
				content: unset;
			}
		}
		blockquote {
			margin: calc(var(--grid-unit) * 4) auto;
			padding-right: 2.5vh;
			padding-left: 2.5vh;
			p {
				font-size: var(--type-base);
			}
		}
		blockquote + cite {
			background: none;
			-webkit-text-fill-color: unset;
			text-fill-color: unset;
			margin-top: calc(var(--grid-unit) * 2);
			font-size: var(--type-sm);
			padding-right: 2.5vh;
			padding-left: 2.5vh;
		}
		@include mq(md) {
			blockquote,
			blockquote + cite {
				padding-right: 5vh;
				padding-left: 5vh;
			}
		}
	}
	h2 {
		font-size: var(--type-md);
		margin-bottom: 0;
		margin-top: 1.5em;
		font-variation-settings: "opsz" 96;
		font-weight: 610;
		max-width: 500px;
	}
	h3 {
		font-size: var(--type-base);
		font-variation-settings: "opsz" 96;
		font-weight: 610;
	}
	figure,
	.eleventy-plugin-youtube-embed {
		border-radius: calc(var(--grid-unit) * 3);
		margin: calc(var(--grid-unit) * 3) 0 calc(var(--grid-unit) * 5);
	}
}
.layout-legal {
	main {
		p,
		li {
			font-size: var(--type-sm);
		}
		h2 {
			font-size: var(--type-md);
			margin-top: 1em;
		}
	}
}
.callout {
	blockquote > p {
		margin: 0;
		line-height: 1.1;
		@include mq(sm) {
			font-size: calc(var(--type-lg) * 0.8);
		}
	}
}
.hilite,
.callout blockquote > p,
.shout,
.loud {
	color: var(--color-bright);
	background: linear-gradient(
		91.95deg,
		#ff5c00 -15%,
		#ff00c7 22%,
		#6b4de0 55%,
		#6b4de0 70%,
		#ff00c7 85%,
		#ff5c00 105%
	);
	background-size: 200% auto;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	animation: gradientMove 25s linear infinite;
}
.all-link {
	font-size: var(--type-sm);
}