---
permalink: podcast/feed.xml
---

<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:wfw="http://wellformedweb.org/CommentAPI/"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
    xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
    xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0"
    xmlns:podcast="https://podcastindex.org/namespace/1.0"
	xmlns:georss="http://www.georss.org/georss"
	xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
    >
    <channel>
        <title>Appendix B</title>
        <atom:link href="{{ metadata.podcast.appb.feed}}" rel="self" type="application/rss+xml" />
        <link>{{ metadata.podcast.appb.id }}</link>
        <description>{{ metadata.podcast.appb.description }}</description>
        <lastBuildDate>{{ collections.episodes | getNewestCollectionItemDate | podPublishDate }}</lastBuildDate>
        <language>en-US</language>
        <copyright>© {{ collections.episodes | getNewestCollectionItemDate | copyright }} {{ metadata.copyright }}</copyright>
        <itunes:new-feed-url>{{ metadata.podcast.appb.feed}}</itunes:new-feed-url>
        <itunes:subtitle>{{ metadata.podcast.appb.subtitle }}</itunes:subtitle>
		<itunes:author>{{ metadata.podcast.appb.author }}</itunes:author>
        <itunes:type>episodic</itunes:type>
        <itunes:summary><![CDATA[{{ metadata.podcast.appb.description }}]]></itunes:summary>
		<itunes:owner>
			<itunes:name>{{ metadata.podcast.appb.owner }}</itunes:name>
			<itunes:email>{{ metadata.author.email }}</itunes:email>
		</itunes:owner>
        <itunes:explicit>{{ metadata.podcast.appb.explicit }}</itunes:explicit>
        <itunes:image href="{{ metadata.podcast.appb.cover.large }}"></itunes:image>
        <image>
            <url>{{ metadata.podcast.appb.cover.large }}</url>
            <title>{{ metadata.podcast.appb.title }}</title>
            <link>{{metadata.podcast.appb.id}}</link>
        </image>
        <itunes:category text="Business">
            <itunes:category text="Marketing"></itunes:category>
            <itunes:category text="Management"></itunes:category>
            <itunes:category text="Non-Profit"></itunes:category>
        </itunes:category>
        <itunes:category text="Technology"></itunes:category>
        <sy:updatePeriod>weekly</sy:updatePeriod>
        <sy:updateFrequency>1</sy:updateFrequency>
        <generator>Eleventy</generator>
    {%- for ep in collections.appendixb -%}
        {%- set permalink -%}{{ ep.url | htmlBaseUrl("https://bravery.co") }}{%- endset -%}
        {%- set audioURL -%}{{metadata.podcdn}}{{ep.data.mp3}}{%- endset -%}
        {%- set content -%}{{ ep.data.summary | md | safe }}{%- endset -%}
        {% set comma = joiner(",") %}
        <item>
            <title>{{ ep.data.title }}</title>
            <link>{{ permalink }}</link>
            <pubDate>{{ ep.date | podPublishDate }}</pubDate>
            <dc:creator>Bravery Media</dc:creator>
            <guid>braveryco-appxb-{{ep.data.episode}}</guid>
            <description><![CDATA[{{ ep.data.summary | md | safe }}]]></description>
            <itunes:subtitle><![CDATA[{{ ep.data.description }}]]></itunes:subtitle>
            <content:encoded><![CDATA[{{ content | md | safe }}]]></content:encoded>
            <enclosure url="{{ audioURL }}" length="{{ ep.data.duration | toMinutes }}" type="audio/mpeg"></enclosure>
            <itunes:summary><![CDATA[{{ ep.data.summary | md | safe }}]]></itunes:summary>
            <itunes:image href="https://res.cloudinary.com/bravery/image/upload/{{ep.data.cover.image}}"></itunes:image>
            <image>
                <url>https://res.cloudinary.com/bravery/image/upload/{{ep.data.cover.image}}</url>
                <title>{{ep.data.title}}</title>
            </image>
            <itunes:explicit>{{ ep.data.explicit }}</itunes:explicit>
            <itunes:block>no</itunes:block>
            <itunes:duration>{{ ep.data.duration }}</itunes:duration>
            <itunes:author>{{ metadata.podcast.appb.author }}</itunes:author>
        </item>
    {%- endfor -%}
    </channel>
</rss>