.layout-newsletter {
    --theme-bg: var(--color-neon);
    h1 {
        text-transform: uppercase;
        color: var(--color-white);
        font-weight: 1000;
        width: auto;
        font-size: clamp(2.375rem, .931rem + 8.621vi, 22.06rem);
        line-height: 0.76;
    }
    .navbar {
        background-color: var(--color-white);
        border-radius: 8px;
        box-shadow: var(--elevation);
    }
    main > header {
        flex-direction: column;
        gap: calc( var(--grid-unit) * 6);
        align-items: flex-start;
        color: var(--color-white);
        justify-content: flex-start;
        padding-block-end: unset;
        .heht-form {
            max-width: 820px;
        }
        p {
            font-size: var(--type-lg);
            line-height: 1.2;
        }
    }
}
.heht-testimonials {
    background-color: var(--color-white);
    border-radius: 8px;
    @media (width >= 1024px) {
        width: calc(100vw - 32px);
        margin-inline: calc( -1 * var(--outer-margin));
        padding-inline: var(--outer-margin);
    }
}
.heht-archives {
    > header {
        color:var(--color-white);
        margin-bottom: var(--v-xl);
        h2 {
            max-width: 1120px;
        }
    }
}

.heht-grid {
    --gap: 32px;
    --row-count: 1;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}
.card--heht {
        background-color: var(--color-white);
        color: var(--color-black);
        padding: calc(2 * var(--grid-unit));
        flex: 0 1 calc( (100% - ( var(--gap) * var(--row-count) )) / var(--row-count));
        display: flex;
        flex-direction: column;
        gap: calc( 3 * var(--grid-unit));
        justify-content: space-between;
        box-shadow: var(--elevation);
        .card--title {
            flex: 1 auto;
            h3 {
                margin-block-start: unset;
                font-size: var(--type-base);
                line-height: 1.3;
            }
            time {
                font-size: var(--type-sm);
            }
        }
        @media ( width >= 760px ) {
            --row-count: 2;
        }
        @media ( width >= 1024px ) {
            --row-count: 3;
        }
        @media ( width >= 1500px ) {
            --row-count: 4;
        }
        .cta {
            background-color: var(--color-hilite);
            text-align: center;
            display: flex;
            font-weight: 650;
            align-items: center;
            justify-content: center;
            font-size: var(--type-sm);
            &:hover {
                background-color: var(--color-blue);
            }
        }
    }
form.heht-subscribe {
    --button-bg: var(--color-primary-600);
    background: var(--color-white);
    box-shadow: var(--elevation);
    border-radius: var(--grid-unit);
    display: flex;
    padding: 4px 4px 4px 16px;
    margin-block-start: calc( var(--grid-unit) * 6);
    transition: filter .45s ease-in-out;
    position: relative;
    input[type="email"] {
        border: 0;
        padding: 0;
        font-size: var(--type-base);
        color: var(--color-black);
        &::placeholder {
            color: var(--color-bright);
            opacity: 0.75;
        }
    }
    button {
        aspect-ratio: 1 / 1;
        background: var(--button-bg);
        color: var(--color-white);
        margin: 0;
        padding: 0;
        height: 60px;
        width: 60px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        svg {
            width: 32px;
            height: 32px;
            transform: rotate(18deg);
            color: currentColor;
        }
        &:hover {
            svg {
                animation: tilt-shake 0.15s infinite;
            }
        }
    }
    .confirmation {
        color: var(--color-black);
        p {
            margin: 0 !important;
        }
    }
    &.error {
        animation: tilt-shake 0.15s 5;
        button {
            filter: grayscale(100);
        }
        &:before {
            content: "We need a real email address!";
            display: flex;
            background: var(--color-hilite);
            color: var(--color-black);
            font-family: inherit;
            font-size: var(--type-sm);
            position: absolute;
            top: 0;
            left: 0;
            transform: translatey(-80%);
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: calc(var(--grid-unit) * 2) 0 calc(var(--grid-unit) * 3);
            z-index: -1;
            border-radius: var(--grid-unit);
        }
    }
}


.heht-mini {
    background-color: var(--color-white);
    width: 100%;
    max-width: 960px;
    padding: calc(var(--grid-unit) * 4);
    margin: calc(var(--grid-unit) * 4) auto;
    text-align: center;
    border-radius: var(--grid-unit);
    h3 {
        margin-block: unset;
        text-align: center;

    }
    form {
        margin-block-start: calc(var(--grid-unit) * 2);
    }

}

.layout-single-issue {
    body{
        background: var(--gradient--neon) fixed;
    }
    main {
        width: 96%;
        max-width: 896px;
        background: #FFFFFF;
        box-shadow: 0px 8px 24px 1px rgba(0, 0, 0, 0.25);
        margin: 40px auto;
        padding: calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 2);
        h2 {
            font-size: var(--type-md);
            margin-block-start: calc(4 * var(--grid-unit));
            margin-bottom: 0;
        }
        @media ( min-width: 760px ) {
            padding: calc(var(--grid-unit) * 6) calc(var(--grid-unit) * 9);
        }
        > article {
            padding-block-start: unset;
            gap: calc(3 * var(--grid-unit));

        }
    }
    .issue--cover {
        max-width: 500px;
        margin-block-end: calc(5 * var(--grid-unit));
    }
    .issue--title {
        display: flex;
        flex-direction: column;
        gap: calc(2 * var(--grid-unit));
        .issue--meta {
            font-size: var(--type-sm);
        }
        nav {
            margin-bottom: calc(4 * var(--grid-unit));
        }
        margin-bottom: calc(2 * var(--grid-unit));
        & > h1 {
            margin: 0;
            font-size: var(--type-xl);
        }
    }
}