html {
	font-family: var(--font-family);
}
body {
	font-size: var(--type-base);
}
h1,
h2,
h3,
h4,
h5 {
	font-weight: 700;
	line-height: 1.05;
	font-variation-settings: "opsz" 96;
}

h1 {
	font-size: var(--type-2xl);
	font-variation-settings: "opsz" 96;
	font-weight: 800;
	&.mega {
		font-weight: 1000;
		text-transform: uppercase;
	}
}
.super {
	font-size: var(--type-super);
}
h2 {
	font-size: var(--type-xl);
	&:not(:first-child) {
		margin-block-start: calc(var(--grid-unit) * 5);
	}
}

h3 {
	font-size: var(--type-md);
	margin-block-start: 1.5rem;
}

p {
	line-height: 1.65;
	margin-block-start: 0.6em;
	&.hero {
		font-size: var(--type-super);
		font-variation-settings: "opsz" 96;
		font-weight: 800;
		line-height: 1.1;
		margin-bottom: 0;
	}
}
a {
	color: inherit;
	text-decoration: underline 2px solid var(--color-neon);
	text-underline-offset: 4px;
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--color-neon);
	transition: var(--global-transition);
	&:hover {
		-webkit-text-decoration-color: var(--color-bright);
		text-decoration-color: var(--color-bright);
	}
}
i,
em {
	font-style: italic;
}
strong,
b {
    font-weight: var(--font-weight-bold);
}
.hero {
	font-size: var(--type-hero);
	line-height: 95.513%;
}
.brand {
	font-feature-settings: var(--style-display), var(--feature-simple-y);
	&.logo {
		font-size: var(--type-lg);
		text-decoration: none;
		font-weight: 300;
		letter-spacing: 0.8px;
	}
}
.intro > p {
	font-size: var(--type-lg);
	line-height: 1.2;
}

.cta-text {
	text-align: center;
	&.huge {
		font-size: var(--type-xl);
		font-weight: 800;
		font-feature-settings: var(--style-display);
		overflow-wrap: break-word;
		line-height: 1.2;
	}
	a {
		color: var(--accent);
		text-decoration-thickness: unset;
		&:hover {
			color: var(--color-blue);
			text-decoration-color: var(--accent);
		}
	}
}
main {
	ul, ol {
		margin-block-start: calc(2 * var(--grid-unit));
		padding-inline: 1.5rem;
	}
	ul li {
		list-style-type: "\203A"; // for safari
		margin-bottom: 0.5em;
		padding-left: var(--grid-unit);
		&::marker {
			content: "\203A";
		}
	}
}

table {
    width: auto;
    border-collapse: collapse;
    margin-block: calc( 2 * var(--grid-unit) );

    th, td {
        padding: var(--grid-unit);
        border: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        color: #000;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
}