html {
    --accent: var(--color-neon);
    --theme-bg: var(--color-white);
    background-color: var(--theme-bg);
    &.layout-services {
        --accent: var(--color-primary-600);
    }
}
body {
    --frame: var(--accent);
    --border-width: var(--grid-unit);
    --outer-margin: calc(2 * var(--grid-unit));
    background-color: var(--theme-bg);
    border-left: var(--border-width) solid var(--frame);
    border-right: var(--border-width) solid var(--frame);
    padding-inline: var(--outer-margin);
    &:before,
    &:after {
        content: "";
        background-color: var(--frame);
        height: var(--border-width);
        width: 100vw;
        position: fixed;
        left: 0;
        z-index: 10;
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
    }
    @media (min-width: 1024px) {
        --border-width: calc(2 * var(--grid-unit));
        --outer-margin: calc(6 * var(--grid-unit));
    }
}

main {
    --v-xl: clamp(2.375rem, 2.0046rem + 6.8519vi, 7rem);
    --v-2xl: clamp(3.375rem, 2.0046rem + 6.8519vi, 8rem);
    --v-3xl: clamp(4.375rem, 2.0046rem + 6.8519vi, 10rem);
    > header,
    > article {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: var(--v-xl);
        padding-block: var(--v-xl);
        &.constrain {
            margin-block-start: unset;
        }
    }
    > section {
        padding-block: var(--v-2xl);
    }
    .layout-home & > header {
        min-height: calc(100dvh - 121px);
    }
}
.intro > p {
    padding-inline-start: var(--outer-margin);
    border-left: var(--grid-unit) solid var(--accent);
    max-width: 890px;
	width: 100%;

}
.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--v-xl);
    &.value {
        row-gap: calc(2 * var(--grid-unit));
    }
    &.sm-reverse {
        @media ( width <= 1023px ) {
            > *:first-child {
                order: 2;
            }
            > *:last-child {
                order: 1;
            }
        }
    }
}
@media (min-width: 1024px ) {
    #about {
        align-items: center;
    }
    .layout {
        flex-direction: row;
        gap: var(--v-2xl);
        align-items: flex-start;
        > *:first-child {
            flex: 1 60%;
        }
        > *:last-child {
            flex: 1 40%;
        }
        &.layout-three {
            justify-content: space-between;
            gap: var(--v-xl);
            > * {
                flex: 1 33%;
            }
        }
        &.layout-reverse {
            > *:first-child {
                flex: 1 40%;
            }
            > *:last-child {
                flex: 1 60%;
            }
        }
        &.layout-split {
            justify-content: space-between;
            gap: var(--v-xl) calc( 3 * var(--grid-unit));
            > * {
                flex: 1 25%;
                font-size: var(--type-sm);
                display: flex;
                flex-direction: column;
            }
            &.service-description {
                column-gap: calc(8 * var(--grid-unit));
            }
        }
        &.sticky {
            align-items: flex-start;
            > * {
                position: sticky;
                top: calc(20 * var(--grid-unit));
            }
        }
    }
}
#benchmark .layout.layout-three {
    --width: calc(100vw - (var(--border-width) * 2));
    justify-content: center;
    overflow-x: hidden;
    position: relative;
    height: 70dvh;
    width: var(--width);
    margin-left: calc( -1 * var(--outer-margin));
    [data-style=vhs] {
        position: absolute;
        &:first-child,
        &:last-child {
            scale: 0.7;
            z-index: 0;
        }
        transition: all ease-in-out 0.3s;
        &:first-child {
            transform: rotate(-8deg) translateX(-50%);
        }
        &:last-child {
            transform: rotate(8deg) translateX(50%);
        }
    }
    @media ( min-width: 850px) {
        [data-style=vhs] {
            left: 25%;
        }
    }
    @media( min-width: 1024px) {
        height: unset;
        overflow: visible;
        width: unset;
        margin-left: unset;
        [data-style=vhs] {
            position: relative;
            scale: unset;
            left: auto;
            &:first-child {
                transform: rotate(-8deg) translateX(50%);
            }
            &:last-child {
                transform: rotate(8deg) translateX(-50%);
            }
        }
        &:hover {
            > [data-style=vhs] {
                &:first-child {
                    transform: rotate(0) translateX(30%);
                }
                &:last-child {
                    transform: rotate(0) translateX(-30%);
                }
            }
        }
    }
}
.work {
    display: flex;
    flex-direction: column;
    gap: calc( 3 * var(--grid-unit) );
    @media (min-width: 1024px) {
        padding-inline-start: var(--v-2xl);
    }
}
#services {
    text-align: center;
    font-size: var(--type-super);
    font-weight: 900;
    line-height: 1;
    ul, li {
        list-style: none;
        margin-inline: 0;
        padding-inline: 0;
    }
    a {
        background: var(--gradient-brand);
        background-clip: text;
        &:hover {
            color: transparent
        }
    }
}

.constrain {
    margin-inline: auto;
    margin-block-start: var(--v-2xl);
    width: 100%;
    max-width: 820px;
    display:flex;
    flex-direction: column;
    gap: calc(3* var(--grid-unit));
}
.wide,
[data-layout=wide] {
    margin-inline: auto;
    margin-block-start: var(--v-xl);
    width: 100%;
    display:flex;
    flex-direction: column;
    gap: calc(3* var(--grid-unit));
    @media ( width >= 1024px ) {
        width: 75vw;
        margin-inline: -12.5vw;
    }
}

.testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--v-2xl);
}

.site-footer {
    background-color: var(--color-white);
    padding-block: calc(10 * var(--grid-unit));
    font-size: var(--type-sm);
    display: flex;
    flex-direction: column;
    gap: calc(6 * var(--grid-unit));
    z-index: 2;
    position: relative;
    .legal {
        display: inherit;
        flex-direction: column;
        gap: calc(2 * var(--grid-unit));
    }
    ul,li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    @media( min-width: 1024px ) {
        flex-direction: row;
        justify-content: space-between;
        .legal {
            flex: 0 1 40%;
        }
    }
}
@media ( width >= 1024px ) {
    .service-description {
        align-items: center;
    }
}

.services-intro {
    height: auto;
    padding-block: var(--v-2xl) var(--v-3xl);
    height: auto;
    align-items: center;
    h1 {
        margin-bottom: 0.3em;
    }
}


.services-list {
    width: calc(100vw - (var(--border-width) * 2));
    margin-inline: calc(-1* var(--outer-margin));
    border-block-end: 1px solid var(--accent);
    padding-block: unset;

    header {
        flex: none;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: var(--accent);
        color: var(--color-white);
        padding: var(--grid-unit);
        h2 {
            font-size: var(--type-md);
        }
    }
    p {
        font-size: var(--type-sm);
        line-height: 1.4;
    }
    div {
        padding: calc(5 * var(--grid-unit));
        border-block-start: 1px solid var(--accent);
        @media( width >= 1024px ) {
            flex: 1 50%;
            &:nth-child(2n+1) {
                border-inline-start: 1px solid var(--accent);
            }
        }
        @media( width >= 1300px ) {
            flex: 1 33%;
            &:nth-child(3n),
            &:nth-child(4n) {
                border-inline-start: 1px solid var(--accent);
            }
            &:nth-child(5){
                border-inline-start: 0;
            }
        }
    }
    @media( width >= 1024px ) {
        display: flex;
        flex-wrap: wrap;
    }
}

.layout-services {
    #benchmark {
        align-items: center;
    }
}
.decorate {
    position: relative;
    &::before {
        content: "\002a";
        line-height: 0.0000001;
        color: var(--accent);
        font-size: var(--type-hero);
        font-weight: 120;
        height: 0;
        position: absolute;
        left: 0;
        top: 82%;
        transform: translateX(-120%);
        @media (width >= 1024px) {
            top: 100%;
        }
    }
}
.core-offerings {
    display: flex;
    flex-direction: column;
    gap: calc( 3 * var(--grid-unit));
    margin-block-start: unset;
    padding-inline: 3vw;
    border-block: 16px solid var(--accent);
    h2 {
        margin-block-start: unset;
    }
    header p {
        margin-block-start: calc( 2 * var(--grid-unit));
    }
    @media( width >= 1024px ) {
        max-width: calc(820px + 6vw);
    }
}

@media (width >= 1024px) {
    .three {
        columns: 3;
        column-gap: calc(8 * var(--grid-unit));
    }
}

.insight-intro {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100vw - (2 * var(--border-width)));
    margin-inline: calc( -1 * var(--outer-margin));
    img {
        height: auto;
    }
    .entry-meta {
        position: relative;
        z-index: 1;
    }

    @media ( width >= 960px ) {
        min-height: 75dvh;
        justify-content: flex-end;
        .entry-meta {
            background: linear-gradient(to top, #fff 1%, rgba(#fff, .5) 60%, rgba(#fff, 0) 99%);
            padding-inline: var(--outer-margin);
            padding-block-start: var(--v-xl);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            >* {
                max-width: 960px;
            }
        }
        .featured-hero {
            height: 100%;
            width: 100%;
            object-fit: cover;
            z-index: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.bio {
    display: flex;
    gap: var(--grid-unit);
    align-items: flex-start;
    font-size: var(--type-sm);
    figure {
        flex: 20%;
    }
    div {
        flex: 80%;
    }
    @media ( width >= 1024px ) {
        gap: calc(2 * var(--grid-unit));
    }
}

.value {
    @media ( width >= 1024px ){
        padding-block: calc(4 * var(--grid-unit));
        h3 {
            font-size: var(--type-md) !important;
            margin-block-start: unset;
        }
        ul {
            margin-block-start: unset;
        }
    }
}
#values.constrain {
    margin-block: unset;
    padding-block: unset;
}

.layout-speedyu {
    [data-style=vhs] {
        scale: 0.9;
    }
    .layout.details {
        gap: var(--v-xl);
        @media ( width >= 1024px ) {
            align-items: center;
        }
    }
}

#speed {
    align-items: center;
    justify-content: center;
    .speedyu-brand > a {
        display: flex;
        max-width: 500px;
        width: 100%;
        margin-inline: auto;
        &:hover {
            scale: 1.05;
        }
    }
    article {
         font-size: var(--type-base);
    }
}

.service-ga4 {
    padding-top: 0;
}

.wistia_responsive_padding {
    padding: 0 0 0 0 !important;
}