// Forms
form {
	display: flex;
	flex-direction: column;
	gap: calc(3 * var(--grid-unit));
	.honey {
		display: none; // honeypot for spam
	}
	.field {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--grid-unit) calc( 2 * var(--grid-unit) );
		border-block-end: 2px solid var(--accent);
		padding-block-end: calc(var(--grid-unit) / 2);
		transition: all .2s ease-in-out;
		> span {
			color: var(--color-neon);
		}
		input,
		select {
			flex: auto;
			transition: all .2s ease-in-out;
		}
		&.textarea {
			flex-wrap: wrap;
			row-gap: 0;
			textarea {
				flex: 100%;
				transition: all .2s ease-in-out;
			}
		}
		&.select {
			padding-block-end: var(--grid-unit);
		}
		&:has(*:focus) {
			border-color: var(--color-blue-500);
			label {
				color: var(--color-blue-500);
			}
		}
		&.heht {
			border: 0;
			padding: 0;
		}
	}
	label {
		font-size: var(--type-sm);
		font-weight: 600;
	}
	.checkbox {
		display: flex;
		gap: calc(var(--grid-unit) * 2);
		align-items: center;
	}
	input,
	textarea,
	select {
		border: 0;
		font-size: var(--type-sm);
	}
	input[type="checkbox"] {
		appearance: none;
		padding: 0;
		border: 2px solid var(--accent);
		width: calc(var(--grid-unit) * 4);
		height: calc(var(--grid-unit) * 4);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 4px;
		cursor: pointer;
		overflow: hidden;
		&::before {
			content: "";
			background-color: var(--color-neon);
			-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Ctitle%3Elike%3C/title%3E%3Cg fill='currentColor'%3E%3Cpath d='M9.956,4.5H6.731v-3A1.314,1.314,0,0,0,5.231,0a.5.5,0,0,0-.45.375L3,6v6H9.431a2.009,2.009,0,0,0,1.95-1.725l.6-3.45a1.9,1.9,0,0,0-.45-1.575A1.884,1.884,0,0,0,9.956,4.5Z'%3E%3C/path%3E%3Crect y='6' width='2' height='6'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
			mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Ctitle%3Elike%3C/title%3E%3Cg fill='currentColor'%3E%3Cpath d='M9.956,4.5H6.731v-3A1.314,1.314,0,0,0,5.231,0a.5.5,0,0,0-.45.375L3,6v6H9.431a2.009,2.009,0,0,0,1.95-1.725l.6-3.45a1.9,1.9,0,0,0-.45-1.575A1.884,1.884,0,0,0,9.956,4.5Z'%3E%3C/path%3E%3Crect y='6' width='2' height='6'%3E%3C/rect%3E%3C/g%3E%3C/svg%3E");
			width: calc(var(--grid-unit) * 2.5);
			height: calc(var(--grid-unit) * 2.5);
			transform-origin: bottom left;
			transform: rotate(85deg) translateY(30px);
			transition: all 150ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
		}
		&:checked::before {

			transform: rotate(0) translateY(0);
		}
	}
	button[type=submit] {
		background: var(--color-primary-700);
		color: var(--color-white);
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-weight: 800;
		transition: all .2s ease-in-out;
		> svg {
			color: inherit;
			width: 24px;
		}
		&:hover {
			color: var(--color-hilite);
		}
	}
}
