---
layout: layouts/base.njk
section: single
---
<article>
    <header class="article--title">
        <h1>{{title}}</h1>
        <p><span class="author">{{ name or metadata.author.name }}</span><br/>
        <span class="time"><time datetime="{{ date_published | machineDate }}">{{ date_published | readableDate }}</time>
                / {{ content | readingTime }} read</span></p>
    </header>
    <section class="article--content">
        {{ layoutContent | safe }}
    </section>
</article>
<aside>
    <a href="{{ '/insight/' | url }}" class="all-articles">&larr; All Articles</a>
    {% if cover %}
    <picture class="article--cover">
        <source srcset="{{ cover | coverTall }}" media="(min-width: 1024px)" width="410" height="575">
        <img src="{{ cover | cover }}" alt="{{ cover_alt }}" width="340" height="225" />
    </picture>
    {% endif %}
</aside>