---
layout: layouts/base.njk
section: single
---

{% include "components/article-cover.njk" %}
<section class="article-content">
    <div class="entry">
    {{ layoutContent | safe }}
    </div>
</section>