<!doctype html>
<html {% if section %}class="layout-{{ section }}" {% endif %} lang="en">
  {% include "components/head.njk" %}
  <body data-menu="closed">
    <nav class="homelink">
      <a href="/" title="Bravery Media" class="nav-link logo">
        {% include "svg/bravery-mark.svg" %}
      </a>
    </nav>
      <header class="section-title">
        {% if page.url == "/" %}
          <h1 class="sitename sr">Bravery Media</h1>
        {% elif section == 'podcast-episode' %}
          <div class="page-description">
            {% include "components/subscribe-bar.njk" %}
          </div>
        {% elif heading and section != 'single' %}
          <div class="page-description">{{ heading if heading and section != 'single' }}</div>
        {% endif %}
      </header>
      <button class="menu-trigger nondescript" aria-expanded="false">
        {% include "svg/menu-alt.svg" %}
        <span class="screen-reader-text">Site Menu</span>
      </button>
      {{ layoutContent | safe }}
    {% if page.url != "/contact/" %}
      {% include "components/footer.njk" %}
    {% endif %}
    {% include "components/nav-menu.njk" %}
    {% include "components/footjs.njk" %}
  </body>
</html>