---
layout: layouts/podcast.njk
section: podcast
---
<article class="episode full">
    {% include "components/player.njk" %}
    <header class="episode--title">
        <div class="meta"><span class="episode-number">Episode {{ episode }} - <time datetime="{{ date | machineDate}}">{{ date | readableDate }}</time></span></div>
        <h1>{{title | typography | safe}}</h1>
    </header>
    <section class="episode--transcript">
        {{ layoutContent | safe }}
    </section>
</article>
