---
layout: layouts/base.njk
section: insight
title: Higher ed insight from Bravery Media.
---
<section class="panel article-list">
    {% set articlesList = collections.articles %}
    {% include "components/articlelist.njk" %}
</section>