---
layout: layouts/base.njk
section: insight
---
<header class="cover">
  <div class="panel--grid">
    <h1>Higher ed insight <br>from Bravery Media.</h1>
</header>
<section class="panel article-list">
    {% set articlesList = collections.articles %}
    {% include "components/articlelist.njk" %}
</section>