---
layout: layouts/base.njk
section: insight
title: Open job opportunities at Bravery.
---
<header class="cover">
    <h1>Job Opportunities</h1>
    <p>Bravery is experiencing rapid growth and we're looking for passionate, talented people who want to share our vision. This agency is built on respect for every human, so if you think you are a great fit for a role, we want to hear from you.</p>
</header>
{% set jobsList = collections.jobs %}
{% if jobsList.length > 1 %}
    {% set jobsLayout = "job-list" %}
{% else %}
    {% set jobsLayout = "job-post" %}
{% endif %}
<section class="panel {{ jobsLayout }}">
    {% if jobsList.length > 1 %}
        {% include "components/job-list.njk" %}
    {% elseif jobsList.length === 1 %}
        {% for job in jobsList %}
            <article class="article--content">
                <h2>{{job.data.title}}</h2>
                {{ job.data.content | safe }}
            </article>
            {% include "components/job-apply.njk" %}
        {% endfor %}
    {% else %}
        <article class="article--content">
            <h2>We don't have any job postings.</h2>
            <p>We're probably hiring soon, so feel free to reach out to us via <a href="/contact/?utm_source=no-jobs">the contact form</a>.</p>
        </article>
    {% endif %}
</section>