---
layout: layouts/base.njk
section: podcast
---
<header>
    <h1>{{ title }}</h1>
</header>
<section class="episode-list">
    {% set episodeList = collections.episodes %}
    {% include "components/episodelist.njk" %}
</section>