---
layout: layouts/base.njk
section: podcast
---
<header>
    {% if page.url == "/podcast/" %}
    <h1 class="pod-title">Appendix B</h1>
    {% else %}
    <div class="pod-title">Appendix B</div>
    {% endif %}
    <p class="pod-description">Candid conversations about higher ed in 10 minutes or less.</p>
</header>
{{ layoutContent | safe}}